e2e-test/tests/002.server-ingest-small-ldes/nifi-workflow.json
{
    "flowContents": {
        "identifier": "4dcfcd69-3796-34c5-aa5f-3c3db3af371b",
        "instanceIdentifier": "31954fff-0187-1000-4f02-56fe79439a1e",
        "name": "nifi-workflow",
        "comments": "",
        "position": {
            "x": 874.0,
            "y": 563.0
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
            {
                "identifier": "672455ba-2584-3edd-9a9c-6cbdc8505996",
                "instanceIdentifier": "3c21e0d2-7f0f-3d47-faee-85da4cf5e88c",
                "name": "InvokeHTTP",
                "comments": "",
                "position": {
                    "x": 928.0,
                    "y": 56.0
                },
                "type": "org.apache.nifi.processors.standard.InvokeHTTP",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.20.0"
                },
                "properties": {
                    "Proxy Host": null,
                    "Attributes to Send": null,
                    "use-etag": "false",
                    "proxy-configuration-service": null,
                    "Proxy Type": "http",
                    "cookie-strategy": "DISABLED",
                    "Connection Timeout": "5 secs",
                    "send-message-body": "true",
                    "set-form-filename": "true",
                    "Always Output Response": "false",
                    "etag-max-cache-size": "10MB",
                    "Content-Encoding": "DISABLED",
                    "disable-http2": "False",
                    "idle-timeout": "5 mins",
                    "Put Response Body In Attribute": null,
                    "Use Chunked Encoding": "false",
                    "Follow Redirects": "True",
                    "Remote URL": "http://ldes-server:8080/mobility-hindrances",
                    "form-body-form-name": null,
                    "Content-Type": "${mime.type}",
                    "flow-file-naming-strategy": "RANDOM",
                    "max-idle-connections": "5",
                    "invokehttp-proxy-user": null,
                    "Read Timeout": "15 secs",
                    "Max Length To Put In Attribute": "256",
                    "ignore-response-content": "false",
                    "Proxy Port": null,
                    "SSL Context Service": null,
                    "Digest Authentication": "false",
                    "HTTP Method": "POST",
                    "Add Response Headers to Request": "false",
                    "oauth2-access-token-provider": null,
                    "Basic Authentication Username": null,
                    "Include Date Header": "True",
                    "Penalize on \"No Retry\"": "false",
                    "Useragent": null
                },
                "propertyDescriptors": {
                    "Proxy Host": {
                        "name": "Proxy Host",
                        "displayName": "Proxy Host",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Attributes to Send": {
                        "name": "Attributes to Send",
                        "displayName": "Request Header Attributes Pattern",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "use-etag": {
                        "name": "use-etag",
                        "displayName": "Response Cache Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "proxy-configuration-service": {
                        "name": "proxy-configuration-service",
                        "displayName": "Proxy Configuration Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Proxy Type": {
                        "name": "Proxy Type",
                        "displayName": "Proxy Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Basic Authentication Password": {
                        "name": "Basic Authentication Password",
                        "displayName": "Request Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "cookie-strategy": {
                        "name": "cookie-strategy",
                        "displayName": "Response Cookie Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Connection Timeout": {
                        "name": "Connection Timeout",
                        "displayName": "Socket Connect Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "send-message-body": {
                        "name": "send-message-body",
                        "displayName": "Request Body Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "set-form-filename": {
                        "name": "set-form-filename",
                        "displayName": "Request Multipart Form-Data Filename Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Always Output Response": {
                        "name": "Always Output Response",
                        "displayName": "Response Generation Required",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "etag-max-cache-size": {
                        "name": "etag-max-cache-size",
                        "displayName": "Response Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Content-Encoding": {
                        "name": "Content-Encoding",
                        "displayName": "Request Content-Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "disable-http2": {
                        "name": "disable-http2",
                        "displayName": "HTTP/2 Disabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "idle-timeout": {
                        "name": "idle-timeout",
                        "displayName": "Socket Idle Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Put Response Body In Attribute": {
                        "name": "Put Response Body In Attribute",
                        "displayName": "Response Body Attribute Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Use Chunked Encoding": {
                        "name": "Use Chunked Encoding",
                        "displayName": "Request Chunked Transfer-Encoding Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Follow Redirects": {
                        "name": "Follow Redirects",
                        "displayName": "Response Redirects Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Remote URL": {
                        "name": "Remote URL",
                        "displayName": "HTTP URL",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "form-body-form-name": {
                        "name": "form-body-form-name",
                        "displayName": "Request Multipart Form-Data Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Content-Type": {
                        "name": "Content-Type",
                        "displayName": "Request Content-Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "flow-file-naming-strategy": {
                        "name": "flow-file-naming-strategy",
                        "displayName": "Response FlowFile Naming Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "max-idle-connections": {
                        "name": "max-idle-connections",
                        "displayName": "Socket Idle Connections",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "invokehttp-proxy-user": {
                        "name": "invokehttp-proxy-user",
                        "displayName": "Proxy Username",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Read Timeout": {
                        "name": "Read Timeout",
                        "displayName": "Socket Read Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Max Length To Put In Attribute": {
                        "name": "Max Length To Put In Attribute",
                        "displayName": "Response Body Attribute Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "invokehttp-proxy-password": {
                        "name": "invokehttp-proxy-password",
                        "displayName": "Proxy Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "ignore-response-content": {
                        "name": "ignore-response-content",
                        "displayName": "Response Body Ignored",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Proxy Port": {
                        "name": "Proxy Port",
                        "displayName": "Proxy Port",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "SSL Context Service": {
                        "name": "SSL Context Service",
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Digest Authentication": {
                        "name": "Digest Authentication",
                        "displayName": "Request Digest Authentication Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "HTTP Method": {
                        "name": "HTTP Method",
                        "displayName": "HTTP Method",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Add Response Headers to Request": {
                        "name": "Add Response Headers to Request",
                        "displayName": "Response Header Request Attributes Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "oauth2-access-token-provider": {
                        "name": "oauth2-access-token-provider",
                        "displayName": "Request OAuth2 Access Token Provider",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Basic Authentication Username": {
                        "name": "Basic Authentication Username",
                        "displayName": "Request Username",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Include Date Header": {
                        "name": "Include Date Header",
                        "displayName": "Request Date Header Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Penalize on \"No Retry\"": {
                        "name": "Penalize on \"No Retry\"",
                        "displayName": "Request Failure Penalization Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Useragent": {
                        "name": "Useragent",
                        "displayName": "Request User-Agent",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "1 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "Response",
                    "No Retry",
                    "Retry",
                    "Original",
                    "Failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 5,
                "retriedRelationships": [
                    "Retry",
                    "Failure"
                ],
                "backoffMechanism": "YIELD_PROCESSOR",
                "maxBackoffPeriod": "30 sec",
                "componentType": "PROCESSOR",
                "groupIdentifier": "4dcfcd69-3796-34c5-aa5f-3c3db3af371b"
            },
            {
                "identifier": "2b9e0740-c990-3e34-9b0c-1cde52d48c7a",
                "instanceIdentifier": "599e794e-e821-34f5-484c-571d7b74400f",
                "name": "LdesClient",
                "comments": "",
                "position": {
                    "x": 240.0,
                    "y": 24.0
                },
                "type": "be.vlaanderen.informatievlaanderen.ldes.ldi.processors.LdesClient",
                "bundle": {
                    "group": "be.vlaanderen.informatievlaanderen.ldes.ldi.nifi",
                    "artifact": "ldes-client-processor",
                    "version": "0.0.1-SNAPSHOT"
                },
                "properties": {
                    "STREAM_TIMESTAMP_PATH_PROPERTY": "true",
                    "MAX_RETRIES": "2147483647",
                    "DATA_SOURCE_FORMAT": "application/ld+json",
                    "STREAM_VERSION_OF_PROPERTY": "true",
                    "STATE_PERSISTENCE_STRATEGY": "MEMORY",
                    "OAUTH_TOKEN_ENDPOINT": null,
                    "DATA_DESTINATION_FORMAT": "application/n-quads",
                    "AUTHORIZATION_STRATEGY": "NO_AUTH",
                    "STREAM_SHAPE_PROPERTY": "false",
                    "DATA_SOURCE_URL": "http://ldes-server-simulator/api/v1/ldes/mobility-hindrances",
                    "API_KEY_HEADER_PROPERTY": "X-API-KEY",
                    "API_KEY_PROPERTY": null,
                    "OAUTH_CLIENT_ID": null,
                    "KEEP_STATE": "false",
                    "RETRIES_ENABLED": "false"
                },
                "propertyDescriptors": {
                    "STREAM_TIMESTAMP_PATH_PROPERTY": {
                        "name": "STREAM_TIMESTAMP_PATH_PROPERTY",
                        "displayName": "Stream TimestampPath property to FlowFile",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "MAX_RETRIES": {
                        "name": "MAX_RETRIES",
                        "displayName": "Indicates max number of retries when retries are enabled.",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "DATA_SOURCE_FORMAT": {
                        "name": "DATA_SOURCE_FORMAT",
                        "displayName": "Data source format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "STREAM_VERSION_OF_PROPERTY": {
                        "name": "STREAM_VERSION_OF_PROPERTY",
                        "displayName": "Stream VersionOf property to FlowFile",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "STATE_PERSISTENCE_STRATEGY": {
                        "name": "STATE_PERSISTENCE_STRATEGY",
                        "displayName": "How state is persisted (note that memory is volatile).",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "OAUTH_TOKEN_ENDPOINT": {
                        "name": "OAUTH_TOKEN_ENDPOINT",
                        "displayName": "Token endpoint used for Oauth2 client credentials flow.",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "DATA_DESTINATION_FORMAT": {
                        "name": "DATA_DESTINATION_FORMAT",
                        "displayName": "Data destination format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "AUTHORIZATION_STRATEGY": {
                        "name": "AUTHORIZATION_STRATEGY",
                        "displayName": "Authorization strategy for the internal http client.",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "STREAM_SHAPE_PROPERTY": {
                        "name": "STREAM_SHAPE_PROPERTY",
                        "displayName": "Stream shape property to FlowFile",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "DATA_SOURCE_URL": {
                        "name": "DATA_SOURCE_URL",
                        "displayName": "Data source url",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "API_KEY_HEADER_PROPERTY": {
                        "name": "API_KEY_HEADER_PROPERTY",
                        "displayName": "API header that should be used for the API key",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "API_KEY_PROPERTY": {
                        "name": "API_KEY_PROPERTY",
                        "displayName": "API key that should be used to access the API.",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "OAUTH_CLIENT_SECRET": {
                        "name": "OAUTH_CLIENT_SECRET",
                        "displayName": "Client secret used for Oauth2 client credentials flow",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "OAUTH_CLIENT_ID": {
                        "name": "OAUTH_CLIENT_ID",
                        "displayName": "Client id used for Oauth2 client credentials flow",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "KEEP_STATE": {
                        "name": "KEEP_STATE",
                        "displayName": "Keep state when the processor is removed from the flow",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "RETRIES_ENABLED": {
                        "name": "RETRIES_ENABLED",
                        "displayName": "Indicates of retries are enabled when the http request fails.",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "1 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "1 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [
                    "data"
                ],
                "backoffMechanism": "YIELD_PROCESSOR",
                "maxBackoffPeriod": "30 sec",
                "componentType": "PROCESSOR",
                "groupIdentifier": "4dcfcd69-3796-34c5-aa5f-3c3db3af371b"
            }
        ],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
            {
                "identifier": "5c200e71-b5e9-3c81-b21f-d6c66074a2ef",
                "instanceIdentifier": "c05b0923-b021-3063-c705-f0dda70925bb",
                "name": "",
                "source": {
                    "id": "2b9e0740-c990-3e34-9b0c-1cde52d48c7a",
                    "type": "PROCESSOR",
                    "groupId": "4dcfcd69-3796-34c5-aa5f-3c3db3af371b",
                    "name": "LdesClient",
                    "comments": "",
                    "instanceIdentifier": "599e794e-e821-34f5-484c-571d7b74400f"
                },
                "destination": {
                    "id": "672455ba-2584-3edd-9a9c-6cbdc8505996",
                    "type": "PROCESSOR",
                    "groupId": "4dcfcd69-3796-34c5-aa5f-3c3db3af371b",
                    "name": "InvokeHTTP",
                    "comments": "",
                    "instanceIdentifier": "3c21e0d2-7f0f-3d47-faee-85da4cf5e88c"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "data"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "4dcfcd69-3796-34c5-aa5f-3c3db3af371b"
            }
        ],
        "labels": [],
        "funnels": [],
        "controllerServices": [],
        "variables": {},
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "componentType": "PROCESS_GROUP",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE"
    },
    "externalControllerServices": {},
    "parameterContexts": {},
    "flowEncodingVersion": "1.0",
    "parameterProviders": {},
    "latest": false
}