e2e-test/use-cases/grar/1.addresses-substring-fragmentation/nifi-workflow.json
{
    "flowContents": {
        "identifier": "9d9eb6bb-5233-3655-bd40-ba8c43d54685",
        "instanceIdentifier": "e64324f2-0184-1000-23b8-024597f3d13d",
        "name": "nifi-workflow",
        "comments": "",
        "position": {
            "x": 548.0,
            "y": 238.0
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
            {
                "identifier": "4015c157-4a93-3a72-8f67-30b033d0bc29",
                "instanceIdentifier": "98249d32-04c1-3e65-8026-bc8257099308",
                "name": "SplitJson",
                "comments": "",
                "position": {
                    "x": 1088.0,
                    "y": 144.0
                },
                "type": "org.apache.nifi.processors.standard.SplitJson",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.17.0"
                },
                "properties": {
                    "Null Value Representation": "empty string",
                    "JsonPath Expression": "$.*"
                },
                "propertyDescriptors": {
                    "Null Value Representation": {
                        "name": "Null Value Representation",
                        "displayName": "Null Value Representation",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "JsonPath Expression": {
                        "name": "JsonPath Expression",
                        "displayName": "JsonPath Expression",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "original",
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "9d9eb6bb-5233-3655-bd40-ba8c43d54685"
            },
            {
                "identifier": "55752384-9ffd-33e8-8421-1cb7da0fd298",
                "instanceIdentifier": "e7108361-b71a-317d-2bdc-9d04b21a2dfd",
                "name": "GRAR Supporting Wheel - SRS name",
                "comments": "",
                "position": {
                    "x": 1720.0,
                    "y": 128.0
                },
                "type": "org.apache.nifi.processors.standard.ReplaceText",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.17.0"
                },
                "properties": {
                    "Regular Expression": "(https:\\/\\/www\\.opengis\\.net\\/def\\/crs\\/EPSG\\/0\\/31370)",
                    "Replacement Value": "http://www.opengis.net/def/crs/EPSG/0/31370",
                    "Evaluation Mode": "Entire text",
                    "Line-by-Line Evaluation Mode": "All",
                    "Character Set": "UTF-8",
                    "Maximum Buffer Size": "1 MB",
                    "Replacement Strategy": "Regex Replace"
                },
                "propertyDescriptors": {
                    "Regular Expression": {
                        "name": "Regular Expression",
                        "displayName": "Search Value",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Replacement Value": {
                        "name": "Replacement Value",
                        "displayName": "Replacement Value",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Evaluation Mode": {
                        "name": "Evaluation Mode",
                        "displayName": "Evaluation Mode",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Line-by-Line Evaluation Mode": {
                        "name": "Line-by-Line Evaluation Mode",
                        "displayName": "Line-by-Line Evaluation Mode",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Character Set": {
                        "name": "Character Set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Maximum Buffer Size": {
                        "name": "Maximum Buffer Size",
                        "displayName": "Maximum Buffer Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Replacement Strategy": {
                        "name": "Replacement Strategy",
                        "displayName": "Replacement Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "9d9eb6bb-5233-3655-bd40-ba8c43d54685"
            },
            {
                "identifier": "f9c4c2b3-a75d-3db0-ac38-9e71437b87fd",
                "instanceIdentifier": "f2abeab5-fbe5-384b-7fba-811879c4a802",
                "name": "Post to Ldes Server",
                "comments": "",
                "position": {
                    "x": 1088.0,
                    "y": 680.0
                },
                "type": "org.apache.nifi.processors.standard.InvokeHTTP",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.17.0"
                },
                "properties": {
                    "Proxy Host": null,
                    "Attributes to Send": null,
                    "use-etag": "false",
                    "proxy-configuration-service": null,
                    "Proxy Type": "http",
                    "cookie-strategy": "DISABLED",
                    "Connection Timeout": "5 secs",
                    "send-message-body": "true",
                    "set-form-filename": "true",
                    "Always Output Response": "false",
                    "etag-max-cache-size": "10MB",
                    "Content-Encoding": "DISABLED",
                    "disable-http2": "False",
                    "idle-timeout": "5 mins",
                    "Put Response Body In Attribute": null,
                    "Use Chunked Encoding": "false",
                    "Follow Redirects": "True",
                    "Remote URL": "http://ldes-server:8080/addresses",
                    "form-body-form-name": null,
                    "Content-Type": "${mime.type}",
                    "flow-file-naming-strategy": "RANDOM",
                    "max-idle-connections": "5",
                    "invokehttp-proxy-user": null,
                    "Read Timeout": "15 secs",
                    "Max Length To Put In Attribute": "256",
                    "ignore-response-content": "false",
                    "Proxy Port": null,
                    "SSL Context Service": null,
                    "Digest Authentication": "false",
                    "HTTP Method": "POST",
                    "Add Response Headers to Request": "false",
                    "oauth2-access-token-provider": null,
                    "Basic Authentication Username": null,
                    "Include Date Header": "True",
                    "Penalize on \"No Retry\"": "false",
                    "Useragent": null
                },
                "propertyDescriptors": {
                    "Proxy Host": {
                        "name": "Proxy Host",
                        "displayName": "Proxy Host",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Attributes to Send": {
                        "name": "Attributes to Send",
                        "displayName": "Request Header Attributes Pattern",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "use-etag": {
                        "name": "use-etag",
                        "displayName": "Response Cache Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "proxy-configuration-service": {
                        "name": "proxy-configuration-service",
                        "displayName": "Proxy Configuration Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Proxy Type": {
                        "name": "Proxy Type",
                        "displayName": "Proxy Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Basic Authentication Password": {
                        "name": "Basic Authentication Password",
                        "displayName": "Request Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "cookie-strategy": {
                        "name": "cookie-strategy",
                        "displayName": "Response Cookie Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Connection Timeout": {
                        "name": "Connection Timeout",
                        "displayName": "Socket Connect Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "send-message-body": {
                        "name": "send-message-body",
                        "displayName": "Request Body Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "set-form-filename": {
                        "name": "set-form-filename",
                        "displayName": "Request Multipart Form-Data Filename Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Always Output Response": {
                        "name": "Always Output Response",
                        "displayName": "Response Generation Required",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "etag-max-cache-size": {
                        "name": "etag-max-cache-size",
                        "displayName": "Response Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Content-Encoding": {
                        "name": "Content-Encoding",
                        "displayName": "Request Content-Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "disable-http2": {
                        "name": "disable-http2",
                        "displayName": "HTTP/2 Disabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "idle-timeout": {
                        "name": "idle-timeout",
                        "displayName": "Socket Idle Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Put Response Body In Attribute": {
                        "name": "Put Response Body In Attribute",
                        "displayName": "Response Body Attribute Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Use Chunked Encoding": {
                        "name": "Use Chunked Encoding",
                        "displayName": "Request Chunked Transfer-Encoding Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Follow Redirects": {
                        "name": "Follow Redirects",
                        "displayName": "Response Redirects Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Remote URL": {
                        "name": "Remote URL",
                        "displayName": "HTTP URL",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "form-body-form-name": {
                        "name": "form-body-form-name",
                        "displayName": "Request Multipart Form-Data Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Content-Type": {
                        "name": "Content-Type",
                        "displayName": "Request Content-Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "flow-file-naming-strategy": {
                        "name": "flow-file-naming-strategy",
                        "displayName": "Response FlowFile Naming Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "max-idle-connections": {
                        "name": "max-idle-connections",
                        "displayName": "Socket Idle Connections",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "invokehttp-proxy-user": {
                        "name": "invokehttp-proxy-user",
                        "displayName": "Proxy Username",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Read Timeout": {
                        "name": "Read Timeout",
                        "displayName": "Socket Read Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Max Length To Put In Attribute": {
                        "name": "Max Length To Put In Attribute",
                        "displayName": "Response Body Attribute Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "invokehttp-proxy-password": {
                        "name": "invokehttp-proxy-password",
                        "displayName": "Proxy Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "ignore-response-content": {
                        "name": "ignore-response-content",
                        "displayName": "Response Body Ignored",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Proxy Port": {
                        "name": "Proxy Port",
                        "displayName": "Proxy Port",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "SSL Context Service": {
                        "name": "SSL Context Service",
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Digest Authentication": {
                        "name": "Digest Authentication",
                        "displayName": "Request Digest Authentication Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "HTTP Method": {
                        "name": "HTTP Method",
                        "displayName": "HTTP Method",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Add Response Headers to Request": {
                        "name": "Add Response Headers to Request",
                        "displayName": "Response Header Request Attributes Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "oauth2-access-token-provider": {
                        "name": "oauth2-access-token-provider",
                        "displayName": "Request OAuth2 Access Token Provider",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Basic Authentication Username": {
                        "name": "Basic Authentication Username",
                        "displayName": "Request Username",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Include Date Header": {
                        "name": "Include Date Header",
                        "displayName": "Request Date Header Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Penalize on \"No Retry\"": {
                        "name": "Penalize on \"No Retry\"",
                        "displayName": "Request Failure Penalization Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Useragent": {
                        "name": "Useragent",
                        "displayName": "Request User-Agent",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "Response",
                    "No Retry",
                    "Retry",
                    "Original",
                    "Failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "9d9eb6bb-5233-3655-bd40-ba8c43d54685"
            },
            {
                "identifier": "e53e85b9-4a1a-3483-82f7-ea90572d0bac",
                "instanceIdentifier": "48a7aae1-1944-3bc4-f0b8-db768d42edd9",
                "name": "ListenHTTP",
                "comments": "",
                "position": {
                    "x": 1080.0,
                    "y": -72.0
                },
                "type": "org.apache.nifi.processors.standard.ListenHTTP",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.17.0"
                },
                "properties": {
                    "authorized-issuer-dn-pattern": ".*",
                    "multipart-request-max-size": "1 MB",
                    "record-writer": null,
                    "HTTP Protocols": "HTTP_1_1",
                    "HTTP Headers to receive as Attributes (Regex)": null,
                    "health-check-port": null,
                    "Authorized DN Pattern": ".*",
                    "max-thread-pool-size": "200",
                    "Base Path": "grar/addresses",
                    "multipart-read-buffer-size": "512 KB",
                    "SSL Context Service": null,
                    "Max Unconfirmed Flowfile Time": "60 secs",
                    "Max Data to Receive per Second": null,
                    "client-authentication": "AUTO",
                    "Return Code": "200",
                    "record-reader": null,
                    "Listening Port": "9012"
                },
                "propertyDescriptors": {
                    "authorized-issuer-dn-pattern": {
                        "name": "authorized-issuer-dn-pattern",
                        "displayName": "Authorized Issuer DN Pattern",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "multipart-request-max-size": {
                        "name": "multipart-request-max-size",
                        "displayName": "Multipart Request Max Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "record-writer": {
                        "name": "record-writer",
                        "displayName": "Record Writer",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "HTTP Protocols": {
                        "name": "HTTP Protocols",
                        "displayName": "HTTP Protocols",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "HTTP Headers to receive as Attributes (Regex)": {
                        "name": "HTTP Headers to receive as Attributes (Regex)",
                        "displayName": "HTTP Headers to receive as Attributes (Regex)",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "health-check-port": {
                        "name": "health-check-port",
                        "displayName": "Listening Port for Health Check Requests",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Authorized DN Pattern": {
                        "name": "Authorized DN Pattern",
                        "displayName": "Authorized Subject DN Pattern",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "max-thread-pool-size": {
                        "name": "max-thread-pool-size",
                        "displayName": "Maximum Thread Pool Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Base Path": {
                        "name": "Base Path",
                        "displayName": "Base Path",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "multipart-read-buffer-size": {
                        "name": "multipart-read-buffer-size",
                        "displayName": "Multipart Read Buffer Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "SSL Context Service": {
                        "name": "SSL Context Service",
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Max Unconfirmed Flowfile Time": {
                        "name": "Max Unconfirmed Flowfile Time",
                        "displayName": "Max Unconfirmed Flowfile Time",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Max Data to Receive per Second": {
                        "name": "Max Data to Receive per Second",
                        "displayName": "Max Data to Receive per Second",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "client-authentication": {
                        "name": "client-authentication",
                        "displayName": "Client Authentication",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Return Code": {
                        "name": "Return Code",
                        "displayName": "Return Code",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "record-reader": {
                        "name": "record-reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Listening Port": {
                        "name": "Listening Port",
                        "displayName": "Listening Port",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "9d9eb6bb-5233-3655-bd40-ba8c43d54685"
            },
            {
                "identifier": "d794ca85-086c-3e34-87e8-6fd3817937ce",
                "instanceIdentifier": "cb720b9f-28dc-316f-a3b4-d40abc5c274e",
                "name": "GRAR Supporting Wheel - Broken Context",
                "comments": "",
                "position": {
                    "x": 1088.0,
                    "y": 384.0
                },
                "type": "org.apache.nifi.processors.standard.ReplaceText",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.17.0"
                },
                "properties": {
                    "Regular Expression": "(https:\\/\\/docs\\.basisregisters\\.staging-vlaanderen\\.be\\/context\\/adres\\/2022-10-17\\/adres_detail\\.jsonld)",
                    "Replacement Value": "https://essentialcomplexity.eu/adres_detail.jsonld",
                    "Evaluation Mode": "Entire text",
                    "Line-by-Line Evaluation Mode": "All",
                    "Character Set": "UTF-8",
                    "Maximum Buffer Size": "1 MB",
                    "Replacement Strategy": "Regex Replace"
                },
                "propertyDescriptors": {
                    "Regular Expression": {
                        "name": "Regular Expression",
                        "displayName": "Search Value",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Replacement Value": {
                        "name": "Replacement Value",
                        "displayName": "Replacement Value",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Evaluation Mode": {
                        "name": "Evaluation Mode",
                        "displayName": "Evaluation Mode",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Line-by-Line Evaluation Mode": {
                        "name": "Line-by-Line Evaluation Mode",
                        "displayName": "Line-by-Line Evaluation Mode",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Character Set": {
                        "name": "Character Set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Maximum Buffer Size": {
                        "name": "Maximum Buffer Size",
                        "displayName": "Maximum Buffer Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Replacement Strategy": {
                        "name": "Replacement Strategy",
                        "displayName": "Replacement Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "9d9eb6bb-5233-3655-bd40-ba8c43d54685"
            },
            {
                "identifier": "2c8f622e-aac0-3311-92db-d4a353564c9e",
                "instanceIdentifier": "40433bd7-0c31-315e-da95-cd4e4a469a41",
                "name": "UpdateAttribute",
                "comments": "",
                "position": {
                    "x": 1712.0,
                    "y": -72.0
                },
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-update-attribute-nar",
                    "version": "1.17.0"
                },
                "properties": {
                    "Delete Attributes Expression": null,
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "100",
                    "mime.type": "application/json",
                    "Stateful Variables Initial Value": null
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "name": "Delete Attributes Expression",
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Store State": {
                        "name": "Store State",
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "name": "canonical-value-lookup-cache-size",
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "mime.type": {
                        "name": "mime.type",
                        "displayName": "mime.type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Stateful Variables Initial Value": {
                        "name": "Stateful Variables Initial Value",
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "9d9eb6bb-5233-3655-bd40-ba8c43d54685"
            },
            {
                "identifier": "b13cedf8-0c16-319e-923d-3f50f53e35c7",
                "instanceIdentifier": "d7b598c9-e2dc-3088-0c41-88babfaf2cc5",
                "name": "Create version object",
                "comments": "",
                "position": {
                    "x": 1720.0,
                    "y": 376.0
                },
                "type": "be.vlaanderen.informatievlaanderen.ldes.processors.NgsiLdToLdesMemberProcessor",
                "bundle": {
                    "group": "be.vlaanderen.informatievlaanderen",
                    "artifact": "ngsi-ld-to-ldes-processor",
                    "version": "1.0.2-SNAPSHOT"
                },
                "properties": {
                    "ID_JSON_PATH": "$['identificator']['id']",
                    "GENERATED_AT_TIME_PROPERTY": "http://www.w3.org/ns/prov#generatedAtTime",
                    "DATE_OBSERVED_VALUE_JSON_PATH": "$['identificator']['versieId']",
                    "DATA_DESTINATION_FORMAT": "application/n-quads",
                    "DELIMITER": "/",
                    "VERSION_OF_KEY": "http://purl.org/dc/terms/isVersionOf",
                    "ADD_WKT_PROPERTY": "false"
                },
                "propertyDescriptors": {
                    "ID_JSON_PATH": {
                        "name": "ID_JSON_PATH",
                        "displayName": "JSON path to entity ID",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "GENERATED_AT_TIME_PROPERTY": {
                        "name": "GENERATED_AT_TIME_PROPERTY",
                        "displayName": "GeneratedAtTime property",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "DATE_OBSERVED_VALUE_JSON_PATH": {
                        "name": "DATE_OBSERVED_VALUE_JSON_PATH",
                        "displayName": "JSON path to a timestamp value",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "DATA_DESTINATION_FORMAT": {
                        "name": "DATA_DESTINATION_FORMAT",
                        "displayName": "Data destination format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "DELIMITER": {
                        "name": "DELIMITER",
                        "displayName": "Delimiter between entity ID and timestamp value",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "VERSION_OF_KEY": {
                        "name": "VERSION_OF_KEY",
                        "displayName": "VersionOf Property",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "ADD_WKT_PROPERTY": {
                        "name": "ADD_WKT_PROPERTY",
                        "displayName": "Add 'asWKT' property",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "9d9eb6bb-5233-3655-bd40-ba8c43d54685"
            }
        ],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
            {
                "identifier": "b3b5b0ed-39e7-3993-954d-fe39e8321a8f",
                "instanceIdentifier": "b4d82331-5547-3cc7-cc3a-d8fe30595b8b",
                "name": "",
                "source": {
                    "id": "b13cedf8-0c16-319e-923d-3f50f53e35c7",
                    "type": "PROCESSOR",
                    "groupId": "9d9eb6bb-5233-3655-bd40-ba8c43d54685",
                    "name": "Create version object",
                    "comments": "",
                    "instanceIdentifier": "d7b598c9-e2dc-3088-0c41-88babfaf2cc5"
                },
                "destination": {
                    "id": "9b87636a-1adc-303b-9044-7920b8b3cbb1",
                    "type": "FUNNEL",
                    "groupId": "9d9eb6bb-5233-3655-bd40-ba8c43d54685",
                    "name": "Funnel",
                    "comments": "",
                    "instanceIdentifier": "2321a1d9-7fb2-36c8-5381-27db009a2771"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "unparseable"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "9d9eb6bb-5233-3655-bd40-ba8c43d54685"
            },
            {
                "identifier": "ef770bf0-891f-3bdf-86d4-a2543bf2546d",
                "instanceIdentifier": "3a46c320-97ab-309e-0b51-6b5654bfe5ff",
                "name": "",
                "source": {
                    "id": "d794ca85-086c-3e34-87e8-6fd3817937ce",
                    "type": "PROCESSOR",
                    "groupId": "9d9eb6bb-5233-3655-bd40-ba8c43d54685",
                    "name": "GRAR Supporting Wheel - Broken Context",
                    "comments": "",
                    "instanceIdentifier": "cb720b9f-28dc-316f-a3b4-d40abc5c274e"
                },
                "destination": {
                    "id": "b13cedf8-0c16-319e-923d-3f50f53e35c7",
                    "type": "PROCESSOR",
                    "groupId": "9d9eb6bb-5233-3655-bd40-ba8c43d54685",
                    "name": "Create version object",
                    "comments": "",
                    "instanceIdentifier": "d7b598c9-e2dc-3088-0c41-88babfaf2cc5"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "9d9eb6bb-5233-3655-bd40-ba8c43d54685"
            },
            {
                "identifier": "f266894b-7e97-37ab-8aec-8818fed02ed8",
                "instanceIdentifier": "4317a20a-2821-3385-dbd2-e8e7266a4646",
                "name": "",
                "source": {
                    "id": "55752384-9ffd-33e8-8421-1cb7da0fd298",
                    "type": "PROCESSOR",
                    "groupId": "9d9eb6bb-5233-3655-bd40-ba8c43d54685",
                    "name": "GRAR Supporting Wheel - SRS name",
                    "comments": "",
                    "instanceIdentifier": "e7108361-b71a-317d-2bdc-9d04b21a2dfd"
                },
                "destination": {
                    "id": "d794ca85-086c-3e34-87e8-6fd3817937ce",
                    "type": "PROCESSOR",
                    "groupId": "9d9eb6bb-5233-3655-bd40-ba8c43d54685",
                    "name": "GRAR Supporting Wheel - Broken Context",
                    "comments": "",
                    "instanceIdentifier": "cb720b9f-28dc-316f-a3b4-d40abc5c274e"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "9d9eb6bb-5233-3655-bd40-ba8c43d54685"
            },
            {
                "identifier": "e203a579-8756-3f9c-b1a4-41fcd22a0ba2",
                "instanceIdentifier": "6c623c58-6ca7-33bd-9099-0219f1735960",
                "name": "",
                "source": {
                    "id": "4015c157-4a93-3a72-8f67-30b033d0bc29",
                    "type": "PROCESSOR",
                    "groupId": "9d9eb6bb-5233-3655-bd40-ba8c43d54685",
                    "name": "SplitJson",
                    "comments": "",
                    "instanceIdentifier": "98249d32-04c1-3e65-8026-bc8257099308"
                },
                "destination": {
                    "id": "55752384-9ffd-33e8-8421-1cb7da0fd298",
                    "type": "PROCESSOR",
                    "groupId": "9d9eb6bb-5233-3655-bd40-ba8c43d54685",
                    "name": "GRAR Supporting Wheel - SRS name",
                    "comments": "",
                    "instanceIdentifier": "e7108361-b71a-317d-2bdc-9d04b21a2dfd"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "split"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "9d9eb6bb-5233-3655-bd40-ba8c43d54685"
            },
            {
                "identifier": "38a34d00-2fb0-34dc-a1ac-82e38d762220",
                "instanceIdentifier": "84701ff9-a93a-3935-7d40-66fec9a1c958",
                "name": "",
                "source": {
                    "id": "e53e85b9-4a1a-3483-82f7-ea90572d0bac",
                    "type": "PROCESSOR",
                    "groupId": "9d9eb6bb-5233-3655-bd40-ba8c43d54685",
                    "name": "ListenHTTP",
                    "comments": "",
                    "instanceIdentifier": "48a7aae1-1944-3bc4-f0b8-db768d42edd9"
                },
                "destination": {
                    "id": "2c8f622e-aac0-3311-92db-d4a353564c9e",
                    "type": "PROCESSOR",
                    "groupId": "9d9eb6bb-5233-3655-bd40-ba8c43d54685",
                    "name": "UpdateAttribute",
                    "comments": "",
                    "instanceIdentifier": "40433bd7-0c31-315e-da95-cd4e4a469a41"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "9d9eb6bb-5233-3655-bd40-ba8c43d54685"
            },
            {
                "identifier": "ac649675-084b-3a75-969f-f1e25f4b7cbc",
                "instanceIdentifier": "089818c3-29c4-3f17-978d-1de8d0cc4a1b",
                "name": "",
                "source": {
                    "id": "2c8f622e-aac0-3311-92db-d4a353564c9e",
                    "type": "PROCESSOR",
                    "groupId": "9d9eb6bb-5233-3655-bd40-ba8c43d54685",
                    "name": "UpdateAttribute",
                    "comments": "",
                    "instanceIdentifier": "40433bd7-0c31-315e-da95-cd4e4a469a41"
                },
                "destination": {
                    "id": "4015c157-4a93-3a72-8f67-30b033d0bc29",
                    "type": "PROCESSOR",
                    "groupId": "9d9eb6bb-5233-3655-bd40-ba8c43d54685",
                    "name": "SplitJson",
                    "comments": "",
                    "instanceIdentifier": "98249d32-04c1-3e65-8026-bc8257099308"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "9d9eb6bb-5233-3655-bd40-ba8c43d54685"
            },
            {
                "identifier": "dbd4e2dc-1d51-304d-89fa-a13f00bf1b5e",
                "instanceIdentifier": "9a92cb2e-7f4d-3687-1ce6-7450cc4fc5c6",
                "name": "",
                "source": {
                    "id": "b13cedf8-0c16-319e-923d-3f50f53e35c7",
                    "type": "PROCESSOR",
                    "groupId": "9d9eb6bb-5233-3655-bd40-ba8c43d54685",
                    "name": "Create version object",
                    "comments": "",
                    "instanceIdentifier": "d7b598c9-e2dc-3088-0c41-88babfaf2cc5"
                },
                "destination": {
                    "id": "f9c4c2b3-a75d-3db0-ac38-9e71437b87fd",
                    "type": "PROCESSOR",
                    "groupId": "9d9eb6bb-5233-3655-bd40-ba8c43d54685",
                    "name": "Post to Ldes Server",
                    "comments": "",
                    "instanceIdentifier": "f2abeab5-fbe5-384b-7fba-811879c4a802"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "data"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "9d9eb6bb-5233-3655-bd40-ba8c43d54685"
            }
        ],
        "labels": [],
        "funnels": [
            {
                "identifier": "9b87636a-1adc-303b-9044-7920b8b3cbb1",
                "instanceIdentifier": "2321a1d9-7fb2-36c8-5381-27db009a2771",
                "position": {
                    "x": 1872.0,
                    "y": 728.0
                },
                "componentType": "FUNNEL",
                "groupIdentifier": "9d9eb6bb-5233-3655-bd40-ba8c43d54685"
            }
        ],
        "controllerServices": [
            {
                "identifier": "6dbb27df-0d95-3058-82c1-3742374c769b",
                "instanceIdentifier": "ea17abef-6c46-36ca-c9e8-d928d5141db7",
                "name": "StandardSSLContextService",
                "comments": "",
                "type": "org.apache.nifi.ssl.StandardSSLContextService",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-ssl-context-service-nar",
                    "version": "1.17.0"
                },
                "properties": {
                    "Truststore Type": "JKS",
                    "SSL Protocol": "TLS",
                    "Keystore Type": null,
                    "Truststore Filename": "/usr/local/openjdk-17/lib/security/cacerts",
                    "Keystore Filename": null
                },
                "propertyDescriptors": {
                    "Truststore Type": {
                        "name": "Truststore Type",
                        "displayName": "Truststore Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "SSL Protocol": {
                        "name": "SSL Protocol",
                        "displayName": "TLS Protocol",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Keystore Type": {
                        "name": "Keystore Type",
                        "displayName": "Keystore Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Truststore Filename": {
                        "name": "Truststore Filename",
                        "displayName": "Truststore Filename",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "resourceDefinition": {
                            "cardinality": "SINGLE",
                            "resourceTypes": [
                                "FILE"
                            ]
                        }
                    },
                    "Keystore Password": {
                        "name": "Keystore Password",
                        "displayName": "Keystore Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "key-password": {
                        "name": "key-password",
                        "displayName": "Key Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "Truststore Password": {
                        "name": "Truststore Password",
                        "displayName": "Truststore Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "Keystore Filename": {
                        "name": "Keystore Filename",
                        "displayName": "Keystore Filename",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "resourceDefinition": {
                            "cardinality": "SINGLE",
                            "resourceTypes": [
                                "FILE"
                            ]
                        }
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.ssl.SSLContextService",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "1.17.0"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "9d9eb6bb-5233-3655-bd40-ba8c43d54685"
            }
        ],
        "variables": {},
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "componentType": "PROCESS_GROUP",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE"
    },
    "externalControllerServices": {},
    "parameterContexts": {},
    "flowEncodingVersion": "1.0"
}