demos/031.nifi-workbench-components/data/NiFi_Workbench_Components.json
{"flowContents":{"identifier":"c519a95f-13af-3972-ac0e-b2384ef641d9","instanceIdentifier":"bdfd847a-0187-1000-43c0-d641df107f2b","name":"NiFi_Workbench_Components","comments":"","position":{"x":891.0,"y":284.0},"processGroups":[{"identifier":"3efc6b5c-963f-3880-b217-a5c5ed612bd2","instanceIdentifier":"35d75b22-6b38-3ec6-3f70-0afdec2ec255","name":"Data Consumption","comments":"","position":{"x":272.0,"y":256.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ec3cce78-703c-35f1-ad94-5446175b24c2","instanceIdentifier":"05298580-9f26-3293-4e66-6a61abb45f18","name":"LdesClient","comments":"","position":{"x":248.0,"y":40.0},"type":"be.vlaanderen.informatievlaanderen.ldes.ldi.processors.LdesClient","bundle":{"group":"be.vlaanderen.informatievlaanderen.ldes.ldi.nifi","artifact":"ldes-client-processor","version":"0.0.1-SNAPSHOT"},"properties":{"STREAM_TIMESTAMP_PATH_PROPERTY":"false","MAX_RETRIES":"2147483647","DATA_SOURCE_FORMAT":"text/turtle","STREAM_VERSION_OF_PROPERTY":"false","STATE_PERSISTENCE_STRATEGY":"MEMORY","OAUTH_TOKEN_ENDPOINT":null,"DATA_DESTINATION_FORMAT":"application/n-quads","AUTHORIZATION_STRATEGY":"NO_AUTH","STREAM_SHAPE_PROPERTY":"false","DATA_SOURCE_URL":"http://ldes-server:8080/observations/by-page","API_KEY_HEADER_PROPERTY":"X-API-KEY","API_KEY_PROPERTY":null,"OAUTH_CLIENT_ID":null,"KEEP_STATE":"false","RETRIES_ENABLED":"false"},"propertyDescriptors":{"STREAM_TIMESTAMP_PATH_PROPERTY":{"name":"STREAM_TIMESTAMP_PATH_PROPERTY","displayName":"Stream TimestampPath property to FlowFile","identifiesControllerService":false,"sensitive":false},"MAX_RETRIES":{"name":"MAX_RETRIES","displayName":"Indicates max number of retries when retries are enabled.","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_FORMAT":{"name":"DATA_SOURCE_FORMAT","displayName":"Data source format","identifiesControllerService":false,"sensitive":false},"STREAM_VERSION_OF_PROPERTY":{"name":"STREAM_VERSION_OF_PROPERTY","displayName":"Stream VersionOf property to FlowFile","identifiesControllerService":false,"sensitive":false},"STATE_PERSISTENCE_STRATEGY":{"name":"STATE_PERSISTENCE_STRATEGY","displayName":"How state is persisted (note that memory is volatile).","identifiesControllerService":false,"sensitive":false},"OAUTH_TOKEN_ENDPOINT":{"name":"OAUTH_TOKEN_ENDPOINT","displayName":"Token endpoint used for Oauth2 client credentials flow.","identifiesControllerService":false,"sensitive":false},"DATA_DESTINATION_FORMAT":{"name":"DATA_DESTINATION_FORMAT","displayName":"Data destination format","identifiesControllerService":false,"sensitive":false},"AUTHORIZATION_STRATEGY":{"name":"AUTHORIZATION_STRATEGY","displayName":"Authorization strategy for the internal http client.","identifiesControllerService":false,"sensitive":false},"STREAM_SHAPE_PROPERTY":{"name":"STREAM_SHAPE_PROPERTY","displayName":"Stream shape property to FlowFile","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_URL":{"name":"DATA_SOURCE_URL","displayName":"Data source url","identifiesControllerService":false,"sensitive":false},"API_KEY_HEADER_PROPERTY":{"name":"API_KEY_HEADER_PROPERTY","displayName":"API header that should be used for the API key","identifiesControllerService":false,"sensitive":false},"API_KEY_PROPERTY":{"name":"API_KEY_PROPERTY","displayName":"API key that should be used to access the API.","identifiesControllerService":false,"sensitive":false},"OAUTH_CLIENT_SECRET":{"name":"OAUTH_CLIENT_SECRET","displayName":"Client secret used for Oauth2 client credentials flow","identifiesControllerService":false,"sensitive":true},"OAUTH_CLIENT_ID":{"name":"OAUTH_CLIENT_ID","displayName":"Client id used for Oauth2 client credentials flow","identifiesControllerService":false,"sensitive":false},"KEEP_STATE":{"name":"KEEP_STATE","displayName":"Keep state when the processor is removed from the flow","identifiesControllerService":false,"sensitive":false},"RETRIES_ENABLED":{"name":"RETRIES_ENABLED","displayName":"Indicates of retries are enabled when the http request fails.","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3efc6b5c-963f-3880-b217-a5c5ed612bd2"},{"identifier":"271abd84-7d7b-3a7e-828e-6e3bfe1e5bc3","instanceIdentifier":"bcba8cbb-8623-3920-21e4-31ee00b639c5","name":"InvokeHTTP","comments":"","position":{"x":944.0,"y":40.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://test-message-sink/member","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["Retry","Failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3efc6b5c-963f-3880-b217-a5c5ed612bd2"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"a270cccc-9caf-31e3-8e29-4331c1d2eaee","instanceIdentifier":"3b60af50-64a0-3b9c-74c5-2b735d7e82cb","name":"","source":{"id":"ec3cce78-703c-35f1-ad94-5446175b24c2","type":"PROCESSOR","groupId":"3efc6b5c-963f-3880-b217-a5c5ed612bd2","name":"LdesClient","comments":"","instanceIdentifier":"05298580-9f26-3293-4e66-6a61abb45f18"},"destination":{"id":"271abd84-7d7b-3a7e-828e-6e3bfe1e5bc3","type":"PROCESSOR","groupId":"3efc6b5c-963f-3880-b217-a5c5ed612bd2","name":"InvokeHTTP","comments":"","instanceIdentifier":"bcba8cbb-8623-3920-21e4-31ee00b639c5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["data"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3efc6b5c-963f-3880-b217-a5c5ed612bd2"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"c519a95f-13af-3972-ac0e-b2384ef641d9"},{"identifier":"fe4916ed-ea46-398e-8469-826ca46340ad","instanceIdentifier":"c7f1f8da-32cc-3dbe-8133-7601e2c9151f","name":"Data Publishing","comments":"","position":{"x":272.0,"y":32.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"8ea6a022-5a8c-39cb-91ae-ff53c46e8cbe","instanceIdentifier":"379499e2-4be9-3af8-9574-ffbd44bb068f","name":"Fix ListenHTTP not setting mime.type","comments":"","position":{"x":792.0,"y":-192.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.20.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","mime.type":"application/json","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fe4916ed-ea46-398e-8469-826ca46340ad"},{"identifier":"0648cb9c-584c-3711-8676-3e1e304ea854","instanceIdentifier":"8fa7cacf-372e-30d2-b37e-970594b9bd02","name":"Transform to OSLO model","comments":"","position":{"x":120.0,"y":288.0},"type":"be.vlaanderen.informatievlaanderen.ldes.ldi.processors.SparqlConstructProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen.ldes.ldi.nifi","artifact":"sparql-interactions-processor","version":"0.0.1-SNAPSHOT"},"properties":{"SPARQL_CONSTRUCT_QUERY":"PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX sosa: <http://www.w3.org/ns/sosa/>\nPREFIX ngsiLdDC: <https://uri.etsi.org/ngsi-ld/default-context/>\nPREFIX ngsiLd: <https://uri.etsi.org/ngsi-ld/>\nCONSTRUCT {\n    ?wqo rdf:type <http://www.w3.org/ns/sosa/ObservationCollection> .\n    ?wqo <http://def.isotc211.org/iso19156/2011/SamplingFeature#SF_SamplingFeatureCollection.member> ?conductivity .\n    ?wqo <http://def.isotc211.org/iso19156/2011/SamplingFeature#SF_SamplingFeatureCollection.member> ?temperature .\n    ?wqo <http://def.isotc211.org/iso19156/2011/SamplingFeature#SF_SamplingFeatureCollection.member> ?batteryLevel .\n    ?wqo <http://def.isotc211.org/iso19156/2011/SamplingFeature#SF_SamplingFeatureCollection.member> ?depth .\n    ?wqo <http://def.isotc211.org/iso19156/2011/SamplingFeature#SF_SamplingFeatureCollection.member> ?location .\n    ?wqo sosa:phenomenonTime ?dateObserved .\n    ?batteryLevel <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.observedProperty> <https://data.vmm.be/concept/sensor/batterijniveau> .\n    ?batteryLevel <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.phenomenonTime> ?batteryLevelPhenomenonTime .\n    ?batteryLevel rdf:type <http://def.isotc211.org/iso19156/2011/Measurement#OM_Measurement> .\n    ?batteryLevel <http://www.w3.org/ns/sosa/madeBySensor> ?madeBySensor .\n    ?batteryLevel <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.result> [\n        <http://def.isotc211.org/iso19103/2005/UnitsOfMeasure#Measure.value> [\n            <https://schema.org/value> ?batteryLevelValue\n        ]\n    ] .\n    ?conductivity <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.observedProperty> <https://data.vmm.be/concept/waterkwaliteitparameter/conductiviteit> .\n    ?conductivity <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.phenomenonTime> ?conductivityPhenomenonTime .\n    ?conductivity rdf:type <http://def.isotc211.org/iso19156/2011/Measurement#OM_Measurement> .\n    ?conductivity <http://www.w3.org/ns/sosa/madeBySensor> ?madeBySensor .\n    ?conductivity <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.result> [\n        <http://def.isotc211.org/iso19103/2005/UnitsOfMeasure#Measure.value> [\n            <https://schema.org/value> ?conductivityValue\n        ]\n    ] .\n    ?depth <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.observedProperty> <https://data.vmm.be/concept/observatieparameter/hydrostatische-druk> .\n    ?depth <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.phenomenonTime> ?depthPhenomenonTime .\n    ?depth rdf:type <http://def.isotc211.org/iso19156/2011/Measurement#OM_Measurement> .\n    ?depth <http://www.w3.org/ns/sosa/madeBySensor> ?madeBySensor .\n    ?depth <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.result> [\n        <http://def.isotc211.org/iso19103/2005/UnitsOfMeasure#Measure.value> [\n            <https://schema.org/value> ?depthValue\n        ]\n    ] .\n    ?temperature <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.observedProperty> <https://data.vmm.be/concept/waterkwaliteitparameter/temperatuur> .\n    ?temperature <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.phenomenonTime> ?temperaturePhenomenonTime .\n    ?temperature rdf:type <http://def.isotc211.org/iso19156/2011/Measurement#OM_Measurement> .\n    ?temperature <http://www.w3.org/ns/sosa/madeBySensor> ?madeBySensor .\n    ?temperature <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.result> [\n        <http://def.isotc211.org/iso19103/2005/UnitsOfMeasure#Measure.value> [\n            <https://schema.org/value> ?temperatureValue\n        ]\n    ] .\n    ?location rdf:type <https://def.isotc211.org/iso19156/2011/SpatialSamplingFeature#SF_SpatialSamplingFeature> .\n    ?location rdf:asWkt ?locationWkt\n} WHERE {\n    ?wqo rdf:type <https://uri.etsi.org/ngsi-ld/default-context/WaterQualityObserved> .\n    ?wqo ngsiLdDC:dateObserved [\n        ngsiLd:hasValue ?dateObserved\n    ] .\n    ?wqo ngsiLdDC:refDevice ?refDevice .\n    ?refDevice <https://uri.etsi.org/ngsi-ld/hasObject> ?madeBySensor .\n    OPTIONAL {\n        ?wqo ngsiLdDC:batteryLevel ?batteryLevel .\n        ?batteryLevel <https://uri.etsi.org/ngsi-ld/observedAt> ?batteryLevelPhenomenonTime .\n        ?batteryLevel <https://uri.etsi.org/ngsi-ld/hasValue> ?batteryLevelValue .\n    }\n    \n    OPTIONAL {\n        ?wqo ngsiLdDC:conductivity ?conductivity .\n        ?conductivity <https://uri.etsi.org/ngsi-ld/observedAt> ?conductivityPhenomenonTime .\n        ?conductivity <https://uri.etsi.org/ngsi-ld/hasValue> ?conductivityValue .\n    }\n    OPTIONAL {\n        ?wqo ngsiLdDC:depth ?depth .\n        ?depth <https://uri.etsi.org/ngsi-ld/observedAt> ?depthPhenomenonTime .\n        ?depth <https://uri.etsi.org/ngsi-ld/hasValue> ?depthValue .\n    }\n    OPTIONAL {\n        ?wqo ngsiLdDC:temperature ?temperature .\n        ?temperature <https://uri.etsi.org/ngsi-ld/observedAt> ?temperaturePhenomenonTime .\n        ?temperature <https://uri.etsi.org/ngsi-ld/hasValue> ?temperatureValue .\n    }\n    OPTIONAL {\n      ?wqo ngsiLd:location ?location .\n      ?location ngsiLdDC:asWkt ?locationWkt .\n    }\n}","INCLUDE_ORIGINAL":"false","DATA_SOURCE_FORMAT":"application/ld+json"},"propertyDescriptors":{"SPARQL_CONSTRUCT_QUERY":{"name":"SPARQL_CONSTRUCT_QUERY","displayName":"SPARQL Construct Query","identifiesControllerService":false,"sensitive":false},"INCLUDE_ORIGINAL":{"name":"INCLUDE_ORIGINAL","displayName":"Include original model","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_FORMAT":{"name":"DATA_SOURCE_FORMAT","displayName":"Data source format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fe4916ed-ea46-398e-8469-826ca46340ad"},{"identifier":"24d0a9c9-0b0a-330a-9ad6-6b6026bfe3c1","instanceIdentifier":"9f2d68ab-bcac-3a8d-f33e-a1babd4c689f","name":"ListenHTTP","comments":"","position":{"x":120.0,"y":-192.0},"type":"org.apache.nifi.processors.standard.ListenHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"authorized-issuer-dn-pattern":".*","multipart-request-max-size":"1 MB","record-writer":null,"HTTP Protocols":"HTTP_1_1","HTTP Headers to receive as Attributes (Regex)":null,"health-check-port":null,"Authorized DN Pattern":".*","max-thread-pool-size":"200","Base Path":"observations","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Max Unconfirmed Flowfile Time":"60 secs","Max Data to Receive per Second":null,"client-authentication":"AUTO","Return Code":"200","record-reader":null,"Listening Port":"9005"},"propertyDescriptors":{"authorized-issuer-dn-pattern":{"name":"authorized-issuer-dn-pattern","displayName":"Authorized Issuer DN Pattern","identifiesControllerService":false,"sensitive":false},"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false},"HTTP Headers to receive as Attributes (Regex)":{"name":"HTTP Headers to receive as Attributes (Regex)","displayName":"HTTP Headers to receive as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"health-check-port":{"name":"health-check-port","displayName":"Listening Port for Health Check Requests","identifiesControllerService":false,"sensitive":false},"Authorized DN Pattern":{"name":"Authorized DN Pattern","displayName":"Authorized Subject DN Pattern","identifiesControllerService":false,"sensitive":false},"max-thread-pool-size":{"name":"max-thread-pool-size","displayName":"Maximum Thread Pool Size","identifiesControllerService":false,"sensitive":false},"Base Path":{"name":"Base Path","displayName":"Base Path","identifiesControllerService":false,"sensitive":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Max Unconfirmed Flowfile Time":{"name":"Max Unconfirmed Flowfile Time","displayName":"Max Unconfirmed Flowfile Time","identifiesControllerService":false,"sensitive":false},"Max Data to Receive per Second":{"name":"Max Data to Receive per Second","displayName":"Max Data to Receive per Second","identifiesControllerService":false,"sensitive":false},"client-authentication":{"name":"client-authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false},"Return Code":{"name":"Return Code","displayName":"Return Code","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fe4916ed-ea46-398e-8469-826ca46340ad"},{"identifier":"023ad778-43e3-3a52-8142-a16d01aeb2d6","instanceIdentifier":"7f0d1f8e-d5fb-3486-3d21-c842b3228acc","name":"Revert to State Object","comments":"","position":{"x":848.0,"y":512.0},"type":"be.vlaanderen.informatievlaanderen.ldes.ldi.processors.VersionMaterialiseProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen.ldes.ldi.nifi","artifact":"version-materialisation-processor","version":"0.0.1-SNAPSHOT"},"properties":{"MembersOnly":"false","isVersionOf":"http://purl.org/dc/terms/isVersionOf"},"propertyDescriptors":{"MembersOnly":{"name":"MembersOnly","displayName":"Restrict output to members","identifiesControllerService":false,"sensitive":false},"isVersionOf":{"name":"isVersionOf","displayName":"Predicate used for isVersionOf","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fe4916ed-ea46-398e-8469-826ca46340ad"},{"identifier":"f6dc6f78-93b1-3bb2-ba14-3b2de60108a2","instanceIdentifier":"2926d060-3e77-332b-02ca-469c7dbfc5e3","name":"Convert NGSIv2 to NGSI-LD","comments":"","position":{"x":440.0,"y":32.0},"type":"be.vlaanderen.informatievlaanderen.ldes.ldi.processors.NgsiV2ToLdProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen.ldes.ldi.nifi","artifact":"ngsiv2-to-ld-processor","version":"0.0.1-SNAPSHOT"},"properties":{"CORE_CONTEXT":"https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context-v1.6.jsonld","LD_CONTEXT":null,"DATA_IDENTIFIER":"data"},"propertyDescriptors":{"CORE_CONTEXT":{"name":"CORE_CONTEXT","displayName":"NGSI LD core context","identifiesControllerService":false,"sensitive":false},"LD_CONTEXT":{"name":"LD_CONTEXT","displayName":"Data-specific NGSI LD context","identifiesControllerService":false,"sensitive":false},"DATA_IDENTIFIER":{"name":"DATA_IDENTIFIER","displayName":"Data array key","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fe4916ed-ea46-398e-8469-826ca46340ad"},{"identifier":"3178cf00-2e77-39f5-bcfe-9c02c026f321","instanceIdentifier":"9c6de044-1611-35d1-084c-5e21d31be949","name":"Send to GraphDB","comments":"","position":{"x":848.0,"y":752.0},"type":"be.vlaanderen.informatievlaanderen.ldes.ldi.processors.RDF4JRepositoryMaterialisationProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen.ldes.ldi.nifi","artifact":"rdf4j-repository-materialisation-processor","version":"0.0.1-SNAPSHOT"},"properties":{"Named graph":"http://sample.org/ns/observations","Repository ID":"observations","RDF4J remote repository location":"http://graphdb:7200","Flowfiles to process simultaneously":"50"},"propertyDescriptors":{"Named graph":{"name":"Named graph","displayName":"Named graph","identifiesControllerService":false,"sensitive":false},"Repository ID":{"name":"Repository ID","displayName":"Repository ID","identifiesControllerService":false,"sensitive":false},"RDF4J remote repository location":{"name":"RDF4J remote repository location","displayName":"RDF4J remote repository location","identifiesControllerService":false,"sensitive":false},"Flowfiles to process simultaneously":{"name":"Flowfiles to process simultaneously","displayName":"Flowfiles to process simultaneously","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fe4916ed-ea46-398e-8469-826ca46340ad"},{"identifier":"f83bb69c-3590-37e1-9bfd-f14d8ebc890f","instanceIdentifier":"73cb4e74-4965-36c9-f326-f2d518be8405","name":"Create Version Object","comments":"","position":{"x":120.0,"y":512.0},"type":"be.vlaanderen.informatievlaanderen.ldes.ldi.processors.CreateVersionObjectProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen.ldes.ldi.nifi","artifact":"create-version-object-processor","version":"0.0.1-SNAPSHOT"},"properties":{"DATE_OBSERVED_VALUE_RDF_PROPERTY":"http://www.w3.org/ns/sosa/phenomenonTime","GENERATED_AT_TIME_PROPERTY":"http://www.w3.org/ns/prov#generatedAtTime","DATA_DESTINATION_FORMAT":"application/n-quads","MEMBER_RDF_SYNTAX_TYPE":"http://www.w3.org/ns/sosa/ObservationCollection","DELIMITER":"/","VERSION_OF_KEY":"http://purl.org/dc/terms/isVersionOf"},"propertyDescriptors":{"DATE_OBSERVED_VALUE_RDF_PROPERTY":{"name":"DATE_OBSERVED_VALUE_RDF_PROPERTY","displayName":"RDF property to find the timestamp value","identifiesControllerService":false,"sensitive":false},"GENERATED_AT_TIME_PROPERTY":{"name":"GENERATED_AT_TIME_PROPERTY","displayName":"GeneratedAtTime property","identifiesControllerService":false,"sensitive":false},"DATA_DESTINATION_FORMAT":{"name":"DATA_DESTINATION_FORMAT","displayName":"Data destination format","identifiesControllerService":false,"sensitive":false},"MEMBER_RDF_SYNTAX_TYPE":{"name":"MEMBER_RDF_SYNTAX_TYPE","displayName":"IRI to member RDF syntax type","identifiesControllerService":false,"sensitive":false},"DELIMITER":{"name":"DELIMITER","displayName":"Delimiter between entity ID and timestamp value","identifiesControllerService":false,"sensitive":false},"VERSION_OF_KEY":{"name":"VERSION_OF_KEY","displayName":"VersionOf Property","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fe4916ed-ea46-398e-8469-826ca46340ad"},{"identifier":"044d932f-5501-3a99-b641-59414f971573","instanceIdentifier":"3557e670-07ea-328b-63a0-67b7e53c56bc","name":"Post to Ldes Sink","comments":"","position":{"x":112.0,"y":760.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.20.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://ldes-server:8080/observations","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["Retry","Failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fe4916ed-ea46-398e-8469-826ca46340ad"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"8b1b6b4a-6239-3c41-9377-b17bc75d6d54","instanceIdentifier":"40786b5e-8d22-3507-a5a9-5a24932198e5","name":"","source":{"id":"023ad778-43e3-3a52-8142-a16d01aeb2d6","type":"PROCESSOR","groupId":"fe4916ed-ea46-398e-8469-826ca46340ad","name":"Revert to State Object","comments":"","instanceIdentifier":"7f0d1f8e-d5fb-3486-3d21-c842b3228acc"},"destination":{"id":"3178cf00-2e77-39f5-bcfe-9c02c026f321","type":"PROCESSOR","groupId":"fe4916ed-ea46-398e-8469-826ca46340ad","name":"Send to GraphDB","comments":"","instanceIdentifier":"9c6de044-1611-35d1-084c-5e21d31be949"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fe4916ed-ea46-398e-8469-826ca46340ad"},{"identifier":"f2fa78ca-2991-3e06-b31d-0f4b44d6effe","instanceIdentifier":"c656e098-d651-390d-6a1e-c7608432f6d3","name":"","source":{"id":"0648cb9c-584c-3711-8676-3e1e304ea854","type":"PROCESSOR","groupId":"fe4916ed-ea46-398e-8469-826ca46340ad","name":"Transform to OSLO model","comments":"","instanceIdentifier":"8fa7cacf-372e-30d2-b37e-970594b9bd02"},"destination":{"id":"533b709b-8c4b-3542-843f-1b65e64fe015","type":"FUNNEL","groupId":"fe4916ed-ea46-398e-8469-826ca46340ad","name":"Funnel","comments":"","instanceIdentifier":"0da02934-8900-395c-f78b-8129102a70ba"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fe4916ed-ea46-398e-8469-826ca46340ad"},{"identifier":"552b1bfc-2237-32f8-8a92-b260b6c89e46","instanceIdentifier":"1e9c56f0-12cc-339e-daf0-159dd8367ade","name":"","source":{"id":"24d0a9c9-0b0a-330a-9ad6-6b6026bfe3c1","type":"PROCESSOR","groupId":"fe4916ed-ea46-398e-8469-826ca46340ad","name":"ListenHTTP","comments":"","instanceIdentifier":"9f2d68ab-bcac-3a8d-f33e-a1babd4c689f"},"destination":{"id":"8ea6a022-5a8c-39cb-91ae-ff53c46e8cbe","type":"PROCESSOR","groupId":"fe4916ed-ea46-398e-8469-826ca46340ad","name":"Fix ListenHTTP not setting mime.type","comments":"","instanceIdentifier":"379499e2-4be9-3af8-9574-ffbd44bb068f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fe4916ed-ea46-398e-8469-826ca46340ad"},{"identifier":"98752eae-9140-31b6-b9ec-aa6ff5028427","instanceIdentifier":"f088b923-9db9-3155-3435-ccdc88489943","name":"","source":{"id":"f83bb69c-3590-37e1-9bfd-f14d8ebc890f","type":"PROCESSOR","groupId":"fe4916ed-ea46-398e-8469-826ca46340ad","name":"Create Version Object","comments":"","instanceIdentifier":"73cb4e74-4965-36c9-f326-f2d518be8405"},"destination":{"id":"3559a9e4-393f-360f-a43d-b1b7d18d40d8","type":"FUNNEL","groupId":"fe4916ed-ea46-398e-8469-826ca46340ad","name":"Funnel","comments":"","instanceIdentifier":"f560c7a7-e202-3a4f-9bbd-97cdc489565c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unparseable"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fe4916ed-ea46-398e-8469-826ca46340ad"},{"identifier":"02cf2bd3-37dc-3d11-a998-b54211d2e2d0","instanceIdentifier":"ea19a265-1429-3955-0649-0996d146289b","name":"","source":{"id":"f6dc6f78-93b1-3bb2-ba14-3b2de60108a2","type":"PROCESSOR","groupId":"fe4916ed-ea46-398e-8469-826ca46340ad","name":"Convert NGSIv2 to NGSI-LD","comments":"","instanceIdentifier":"2926d060-3e77-332b-02ca-469c7dbfc5e3"},"destination":{"id":"b5fe90cc-1a7f-3acc-8275-76c3704fe997","type":"FUNNEL","groupId":"fe4916ed-ea46-398e-8469-826ca46340ad","name":"Funnel","comments":"","instanceIdentifier":"821fe75a-fd63-3051-1fd2-af8c105b1f04"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fe4916ed-ea46-398e-8469-826ca46340ad"},{"identifier":"189b828d-74ac-3dc2-b4b2-76e0f5c0cbb9","instanceIdentifier":"d00c4979-d910-3ac5-b36a-fd66bc6a475f","name":"","source":{"id":"0648cb9c-584c-3711-8676-3e1e304ea854","type":"PROCESSOR","groupId":"fe4916ed-ea46-398e-8469-826ca46340ad","name":"Transform to OSLO model","comments":"","instanceIdentifier":"8fa7cacf-372e-30d2-b37e-970594b9bd02"},"destination":{"id":"f83bb69c-3590-37e1-9bfd-f14d8ebc890f","type":"PROCESSOR","groupId":"fe4916ed-ea46-398e-8469-826ca46340ad","name":"Create Version Object","comments":"","instanceIdentifier":"73cb4e74-4965-36c9-f326-f2d518be8405"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fe4916ed-ea46-398e-8469-826ca46340ad"},{"identifier":"da4895d6-df36-3dd3-be14-c514879e1212","instanceIdentifier":"761f25a6-fbb7-39b8-4c26-9adf38ab3d5e","name":"","source":{"id":"f83bb69c-3590-37e1-9bfd-f14d8ebc890f","type":"PROCESSOR","groupId":"fe4916ed-ea46-398e-8469-826ca46340ad","name":"Create Version Object","comments":"","instanceIdentifier":"73cb4e74-4965-36c9-f326-f2d518be8405"},"destination":{"id":"023ad778-43e3-3a52-8142-a16d01aeb2d6","type":"PROCESSOR","groupId":"fe4916ed-ea46-398e-8469-826ca46340ad","name":"Revert to State Object","comments":"","instanceIdentifier":"7f0d1f8e-d5fb-3486-3d21-c842b3228acc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["data"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fe4916ed-ea46-398e-8469-826ca46340ad"},{"identifier":"d826f948-6581-33a5-92ac-8547a99dc77c","instanceIdentifier":"58758556-c104-3aaf-b45d-5538c177544a","name":"","source":{"id":"f83bb69c-3590-37e1-9bfd-f14d8ebc890f","type":"PROCESSOR","groupId":"fe4916ed-ea46-398e-8469-826ca46340ad","name":"Create Version Object","comments":"","instanceIdentifier":"73cb4e74-4965-36c9-f326-f2d518be8405"},"destination":{"id":"044d932f-5501-3a99-b641-59414f971573","type":"PROCESSOR","groupId":"fe4916ed-ea46-398e-8469-826ca46340ad","name":"Post to Ldes Sink","comments":"","instanceIdentifier":"3557e670-07ea-328b-63a0-67b7e53c56bc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["data"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fe4916ed-ea46-398e-8469-826ca46340ad"},{"identifier":"f4e23729-09f4-320e-8cf2-b6b157ab2680","instanceIdentifier":"63dee0c9-8599-391c-3095-d22639178642","name":"","source":{"id":"023ad778-43e3-3a52-8142-a16d01aeb2d6","type":"PROCESSOR","groupId":"fe4916ed-ea46-398e-8469-826ca46340ad","name":"Revert to State Object","comments":"","instanceIdentifier":"7f0d1f8e-d5fb-3486-3d21-c842b3228acc"},"destination":{"id":"3559a9e4-393f-360f-a43d-b1b7d18d40d8","type":"FUNNEL","groupId":"fe4916ed-ea46-398e-8469-826ca46340ad","name":"Funnel","comments":"","instanceIdentifier":"f560c7a7-e202-3a4f-9bbd-97cdc489565c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fe4916ed-ea46-398e-8469-826ca46340ad"},{"identifier":"6d0f623e-7dfa-305a-8068-d1104af30e53","instanceIdentifier":"caf47d2b-7f8a-38d3-cbd3-352dd9fe7424","name":"","source":{"id":"8ea6a022-5a8c-39cb-91ae-ff53c46e8cbe","type":"PROCESSOR","groupId":"fe4916ed-ea46-398e-8469-826ca46340ad","name":"Fix ListenHTTP not setting mime.type","comments":"","instanceIdentifier":"379499e2-4be9-3af8-9574-ffbd44bb068f"},"destination":{"id":"f6dc6f78-93b1-3bb2-ba14-3b2de60108a2","type":"PROCESSOR","groupId":"fe4916ed-ea46-398e-8469-826ca46340ad","name":"Convert NGSIv2 to NGSI-LD","comments":"","instanceIdentifier":"2926d060-3e77-332b-02ca-469c7dbfc5e3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fe4916ed-ea46-398e-8469-826ca46340ad"},{"identifier":"9645c1f7-3c4f-3952-b356-bbea4c290945","instanceIdentifier":"18643771-540e-3586-1d34-972b1561522b","name":"","source":{"id":"f6dc6f78-93b1-3bb2-ba14-3b2de60108a2","type":"PROCESSOR","groupId":"fe4916ed-ea46-398e-8469-826ca46340ad","name":"Convert NGSIv2 to NGSI-LD","comments":"","instanceIdentifier":"2926d060-3e77-332b-02ca-469c7dbfc5e3"},"destination":{"id":"0648cb9c-584c-3711-8676-3e1e304ea854","type":"PROCESSOR","groupId":"fe4916ed-ea46-398e-8469-826ca46340ad","name":"Transform to OSLO model","comments":"","instanceIdentifier":"8fa7cacf-372e-30d2-b37e-970594b9bd02"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fe4916ed-ea46-398e-8469-826ca46340ad"}],"labels":[],"funnels":[{"identifier":"b5fe90cc-1a7f-3acc-8275-76c3704fe997","instanceIdentifier":"821fe75a-fd63-3051-1fd2-af8c105b1f04","position":{"x":1120.0,"y":72.0},"componentType":"FUNNEL","groupIdentifier":"fe4916ed-ea46-398e-8469-826ca46340ad"},{"identifier":"3559a9e4-393f-360f-a43d-b1b7d18d40d8","instanceIdentifier":"f560c7a7-e202-3a4f-9bbd-97cdc489565c","position":{"x":648.0,"y":744.0},"componentType":"FUNNEL","groupIdentifier":"fe4916ed-ea46-398e-8469-826ca46340ad"},{"identifier":"533b709b-8c4b-3542-843f-1b65e64fe015","instanceIdentifier":"0da02934-8900-395c-f78b-8129102a70ba","position":{"x":640.0,"y":472.0},"componentType":"FUNNEL","groupIdentifier":"fe4916ed-ea46-398e-8469-826ca46340ad"}],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"c519a95f-13af-3972-ac0e-b2384ef641d9"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}