tests/015.nifi-workbench-ngsi-v2-to-oslo/nifi-workflow.json
{
  "flowContents": {
    "identifier": "fd9ddf3a-2c64-37a1-95b9-de1c1204ecb9",
    "instanceIdentifier": "a3f0a97f-018b-1000-15e4-82250fa38cad",
    "name": "nifi-workflow",
    "comments": "",
    "position": {
      "x": 598.0,
      "y": 262.0
    },
    "processGroups": [
      {
        "identifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
        "instanceIdentifier": "c4a4616a-8f98-3f6e-d943-31daa63860ba",
        "name": "Models",
        "comments": "",
        "position": {
          "x": -1336.0,
          "y": 416.0
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
          {
            "identifier": "b17c08b4-3cf8-3f51-9c6f-321d3301e669",
            "instanceIdentifier": "5467c2f4-7305-3d0a-8bb6-8b069147dcf1",
            "name": "UpdateAttribute",
            "comments": "",
            "position": {
              "x": 144.0,
              "y": 256.0
            },
            "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-update-attribute-nar",
              "version": "1.20.0"
            },
            "properties": {
              "Delete Attributes Expression": null,
              "Store State": "Do not store state",
              "canonical-value-lookup-cache-size": "100",
              "mime.type": "application/json",
              "Stateful Variables Initial Value": null
            },
            "propertyDescriptors": {
              "Delete Attributes Expression": {
                "name": "Delete Attributes Expression",
                "displayName": "Delete Attributes Expression",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Store State": {
                "name": "Store State",
                "displayName": "Store State",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "canonical-value-lookup-cache-size": {
                "name": "canonical-value-lookup-cache-size",
                "displayName": "Cache Value Lookup Cache Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "mime.type": {
                "name": "mime.type",
                "displayName": "mime.type",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Stateful Variables Initial Value": {
                "name": "Stateful Variables Initial Value",
                "displayName": "Stateful Variables Initial Value",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 25,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
          },
          {
            "identifier": "b1a70583-2d5b-3412-a4db-fbb81d47db74",
            "instanceIdentifier": "7cbd58ed-6d70-3f18-9c50-0757ac8db323",
            "name": "InvokeHTTP",
            "comments": "",
            "position": {
              "x": 144.0,
              "y": 960.0
            },
            "type": "org.apache.nifi.processors.standard.InvokeHTTP",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "1.20.0"
            },
            "properties": {
              "Proxy Host": null,
              "Attributes to Send": null,
              "use-etag": "false",
              "proxy-configuration-service": null,
              "Proxy Type": "http",
              "cookie-strategy": "DISABLED",
              "Connection Timeout": "5 secs",
              "send-message-body": "true",
              "set-form-filename": "true",
              "Always Output Response": "false",
              "etag-max-cache-size": "10MB",
              "Content-Encoding": "DISABLED",
              "disable-http2": "False",
              "idle-timeout": "5 mins",
              "Put Response Body In Attribute": null,
              "Use Chunked Encoding": "false",
              "Follow Redirects": "True",
              "Remote URL": "http://ldes-server:8080/device-models",
              "form-body-form-name": null,
              "Content-Type": "application/n-quads",
              "flow-file-naming-strategy": "RANDOM",
              "max-idle-connections": "5",
              "invokehttp-proxy-user": null,
              "Read Timeout": "15 secs",
              "Max Length To Put In Attribute": "256",
              "ignore-response-content": "false",
              "Proxy Port": null,
              "SSL Context Service": null,
              "Digest Authentication": "false",
              "HTTP Method": "POST",
              "Add Response Headers to Request": "false",
              "oauth2-access-token-provider": null,
              "Basic Authentication Username": null,
              "Include Date Header": "True",
              "Penalize on \"No Retry\"": "false",
              "Useragent": null
            },
            "propertyDescriptors": {
              "Proxy Host": {
                "name": "Proxy Host",
                "displayName": "Proxy Host",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Attributes to Send": {
                "name": "Attributes to Send",
                "displayName": "Request Header Attributes Pattern",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "use-etag": {
                "name": "use-etag",
                "displayName": "Response Cache Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "proxy-configuration-service": {
                "name": "proxy-configuration-service",
                "displayName": "Proxy Configuration Service",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "Proxy Type": {
                "name": "Proxy Type",
                "displayName": "Proxy Type",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Basic Authentication Password": {
                "name": "Basic Authentication Password",
                "displayName": "Request Password",
                "identifiesControllerService": false,
                "sensitive": true
              },
              "cookie-strategy": {
                "name": "cookie-strategy",
                "displayName": "Response Cookie Strategy",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Connection Timeout": {
                "name": "Connection Timeout",
                "displayName": "Socket Connect Timeout",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "send-message-body": {
                "name": "send-message-body",
                "displayName": "Request Body Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "set-form-filename": {
                "name": "set-form-filename",
                "displayName": "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Always Output Response": {
                "name": "Always Output Response",
                "displayName": "Response Generation Required",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "etag-max-cache-size": {
                "name": "etag-max-cache-size",
                "displayName": "Response Cache Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Content-Encoding": {
                "name": "Content-Encoding",
                "displayName": "Request Content-Encoding",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "disable-http2": {
                "name": "disable-http2",
                "displayName": "HTTP/2 Disabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "idle-timeout": {
                "name": "idle-timeout",
                "displayName": "Socket Idle Timeout",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Put Response Body In Attribute": {
                "name": "Put Response Body In Attribute",
                "displayName": "Response Body Attribute Name",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Use Chunked Encoding": {
                "name": "Use Chunked Encoding",
                "displayName": "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Follow Redirects": {
                "name": "Follow Redirects",
                "displayName": "Response Redirects Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Remote URL": {
                "name": "Remote URL",
                "displayName": "HTTP URL",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "form-body-form-name": {
                "name": "form-body-form-name",
                "displayName": "Request Multipart Form-Data Name",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Content-Type": {
                "name": "Content-Type",
                "displayName": "Request Content-Type",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "flow-file-naming-strategy": {
                "name": "flow-file-naming-strategy",
                "displayName": "Response FlowFile Naming Strategy",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "max-idle-connections": {
                "name": "max-idle-connections",
                "displayName": "Socket Idle Connections",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "invokehttp-proxy-user": {
                "name": "invokehttp-proxy-user",
                "displayName": "Proxy Username",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Read Timeout": {
                "name": "Read Timeout",
                "displayName": "Socket Read Timeout",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Max Length To Put In Attribute": {
                "name": "Max Length To Put In Attribute",
                "displayName": "Response Body Attribute Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "invokehttp-proxy-password": {
                "name": "invokehttp-proxy-password",
                "displayName": "Proxy Password",
                "identifiesControllerService": false,
                "sensitive": true
              },
              "ignore-response-content": {
                "name": "ignore-response-content",
                "displayName": "Response Body Ignored",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Proxy Port": {
                "name": "Proxy Port",
                "displayName": "Proxy Port",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "SSL Context Service": {
                "name": "SSL Context Service",
                "displayName": "SSL Context Service",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "Digest Authentication": {
                "name": "Digest Authentication",
                "displayName": "Request Digest Authentication Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "HTTP Method": {
                "name": "HTTP Method",
                "displayName": "HTTP Method",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Add Response Headers to Request": {
                "name": "Add Response Headers to Request",
                "displayName": "Response Header Request Attributes Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "oauth2-access-token-provider": {
                "name": "oauth2-access-token-provider",
                "displayName": "Request OAuth2 Access Token Provider",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "Basic Authentication Username": {
                "name": "Basic Authentication Username",
                "displayName": "Request Username",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Include Date Header": {
                "name": "Include Date Header",
                "displayName": "Request Date Header Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Penalize on \"No Retry\"": {
                "name": "Penalize on \"No Retry\"",
                "displayName": "Request Failure Penalization Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Useragent": {
                "name": "Useragent",
                "displayName": "Request User-Agent",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "Response",
              "No Retry",
              "Retry",
              "Original",
              "Failure"
            ],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [
              "Retry",
              "Failure"
            ],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
          },
          {
            "identifier": "21aa5016-73be-3d87-b7a1-1ed6b676a4da",
            "instanceIdentifier": "b16bbf7b-2be3-329a-fc9b-e9cb24b4e3ab",
            "name": "Ngsi-v2 to LD",
            "comments": "",
            "position": {
              "x": 144.0,
              "y": 496.0
            },
            "type": "be.vlaanderen.informatievlaanderen.ldes.ldi.processors.NgsiV2ToLdProcessor",
            "bundle": {
              "group": "be.vlaanderen.informatievlaanderen.ldes.ldi.nifi",
              "artifact": "ngsiv2-to-ld-processor",
              "version": "1.9.0-SNAPSHOT"
            },
            "properties": {
              "CORE_CONTEXT": "https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context-v1.3.jsonld",
              "LD_CONTEXT": null,
              "DATA_IDENTIFIER": "data"
            },
            "propertyDescriptors": {
              "CORE_CONTEXT": {
                "name": "CORE_CONTEXT",
                "displayName": "NGSI LD core context",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "LD_CONTEXT": {
                "name": "LD_CONTEXT",
                "displayName": "Data-specific NGSI LD context",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "DATA_IDENTIFIER": {
                "name": "DATA_IDENTIFIER",
                "displayName": "Data array key",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
          },
          {
            "identifier": "7e946e08-b070-3038-b855-5e0d44e91d41",
            "instanceIdentifier": "345f61dc-4a6f-363e-4eb0-8bfd454372ec",
            "name": "CreateVersionObjectProcessor",
            "comments": "",
            "position": {
              "x": 144.0,
              "y": 736.0
            },
            "type": "be.vlaanderen.informatievlaanderen.ldes.ldi.processors.CreateVersionObjectProcessor",
            "bundle": {
              "group": "be.vlaanderen.informatievlaanderen.ldes.ldi.nifi",
              "artifact": "create-version-object-processor",
              "version": "1.9.0-SNAPSHOT"
            },
            "properties": {
              "DATE_OBSERVED_VALUE_RDF_PROPERTY": "https://uri.etsi.org/ngsi-ld/observedAt",
              "GENERATED_AT_TIME_PROPERTY": "http://www.w3.org/ns/prov#generatedAtTime",
              "DATA_DESTINATION_FORMAT": "application/n-quads",
              "MEMBER_RDF_SYNTAX_TYPE": "https://uri.etsi.org/ngsi-ld/default-context/DeviceModel",
              "DELIMITER": "/",
              "VERSION_OF_KEY": "http://purl.org/dc/terms/isVersionOf",
              "DATA_INPUT_FORMAT": "application/ld+json"
            },
            "propertyDescriptors": {
              "DATE_OBSERVED_VALUE_RDF_PROPERTY": {
                "name": "DATE_OBSERVED_VALUE_RDF_PROPERTY",
                "displayName": "RDF property to find the timestamp value",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "GENERATED_AT_TIME_PROPERTY": {
                "name": "GENERATED_AT_TIME_PROPERTY",
                "displayName": "GeneratedAtTime property",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "DATA_DESTINATION_FORMAT": {
                "name": "DATA_DESTINATION_FORMAT",
                "displayName": "Data destination format",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "MEMBER_RDF_SYNTAX_TYPE": {
                "name": "MEMBER_RDF_SYNTAX_TYPE",
                "displayName": "IRI to member RDF syntax type",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "DELIMITER": {
                "name": "DELIMITER",
                "displayName": "Delimiter between entity ID and timestamp value",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "VERSION_OF_KEY": {
                "name": "VERSION_OF_KEY",
                "displayName": "VersionOf Property",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "DATA_INPUT_FORMAT": {
                "name": "DATA_INPUT_FORMAT",
                "displayName": "Data input format",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
          }
        ],
        "inputPorts": [
          {
            "identifier": "338c2167-3a4c-3fb7-8d3e-a33100b5c4b5",
            "instanceIdentifier": "0fa20104-fa13-3dc1-142d-27b3d5912e29",
            "name": "device-models-pipeline",
            "comments": "",
            "position": {
              "x": 200.0,
              "y": 80.0
            },
            "type": "INPUT_PORT",
            "concurrentlySchedulableTaskCount": 1,
            "scheduledState": "ENABLED",
            "allowRemoteAccess": false,
            "componentType": "INPUT_PORT",
            "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
          }
        ],
        "outputPorts": [],
        "connections": [
          {
            "identifier": "b5b09b19-b55d-3cc6-bb2a-067aa7c90717",
            "instanceIdentifier": "0e3bb8fd-6400-312a-34ff-4def2d180d35",
            "name": "",
            "source": {
              "id": "21aa5016-73be-3d87-b7a1-1ed6b676a4da",
              "type": "PROCESSOR",
              "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
              "name": "Ngsi-v2 to LD",
              "comments": "",
              "instanceIdentifier": "b16bbf7b-2be3-329a-fc9b-e9cb24b4e3ab"
            },
            "destination": {
              "id": "7e946e08-b070-3038-b855-5e0d44e91d41",
              "type": "PROCESSOR",
              "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
              "name": "CreateVersionObjectProcessor",
              "comments": "",
              "instanceIdentifier": "345f61dc-4a6f-363e-4eb0-8bfd454372ec"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
          },
          {
            "identifier": "7a20a07b-bfb0-345c-91af-2c0ee05dba8d",
            "instanceIdentifier": "a3f0e97d-018b-1000-3244-413461217a24",
            "name": "",
            "source": {
              "id": "7e946e08-b070-3038-b855-5e0d44e91d41",
              "type": "PROCESSOR",
              "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
              "name": "CreateVersionObjectProcessor",
              "comments": "",
              "instanceIdentifier": "345f61dc-4a6f-363e-4eb0-8bfd454372ec"
            },
            "destination": {
              "id": "793bcbc4-d8a9-3a45-832e-99a7354b78f4",
              "type": "FUNNEL",
              "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
              "name": "Funnel",
              "comments": "",
              "instanceIdentifier": "a3f0da25-018b-1000-3b0d-1c6236ffc2a0"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "valueNotFound"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
          },
          {
            "identifier": "e7a4ae68-0dae-3b40-837f-c76645d2b88b",
            "instanceIdentifier": "84d7a425-353a-3b1b-f81a-a7737eb6e1d6",
            "name": "",
            "source": {
              "id": "7e946e08-b070-3038-b855-5e0d44e91d41",
              "type": "PROCESSOR",
              "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
              "name": "CreateVersionObjectProcessor",
              "comments": "",
              "instanceIdentifier": "345f61dc-4a6f-363e-4eb0-8bfd454372ec"
            },
            "destination": {
              "id": "c25262b8-1144-3888-8486-2710380c761c",
              "type": "FUNNEL",
              "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
              "name": "Funnel",
              "comments": "",
              "instanceIdentifier": "e359e4e5-03d3-3409-07c5-70d2ae0b2775"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "unparseable"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
          },
          {
            "identifier": "2a5ff01c-81bd-338e-ac86-3b3c17f180a3",
            "instanceIdentifier": "1f83c1f2-1bdd-3493-40b5-964f47024e80",
            "name": "",
            "source": {
              "id": "338c2167-3a4c-3fb7-8d3e-a33100b5c4b5",
              "type": "INPUT_PORT",
              "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
              "name": "device-models-pipeline",
              "comments": "",
              "instanceIdentifier": "0fa20104-fa13-3dc1-142d-27b3d5912e29"
            },
            "destination": {
              "id": "b17c08b4-3cf8-3f51-9c6f-321d3301e669",
              "type": "PROCESSOR",
              "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
              "name": "UpdateAttribute",
              "comments": "",
              "instanceIdentifier": "5467c2f4-7305-3d0a-8bb6-8b069147dcf1"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              ""
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
          },
          {
            "identifier": "2e47f47d-6c48-3d25-9f0f-4a52be80657b",
            "instanceIdentifier": "f7aad84f-3ca8-3b50-5f0d-13f7346a2568",
            "name": "",
            "source": {
              "id": "21aa5016-73be-3d87-b7a1-1ed6b676a4da",
              "type": "PROCESSOR",
              "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
              "name": "Ngsi-v2 to LD",
              "comments": "",
              "instanceIdentifier": "b16bbf7b-2be3-329a-fc9b-e9cb24b4e3ab"
            },
            "destination": {
              "id": "bb85f42d-c107-3111-abac-9cbac52c04ea",
              "type": "FUNNEL",
              "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
              "name": "Funnel",
              "comments": "",
              "instanceIdentifier": "a4808963-c328-3cd7-4738-18df4d7590e1"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "failure"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
          },
          {
            "identifier": "ec0691e5-3fce-3d71-a728-202465d266ce",
            "instanceIdentifier": "0d0f823a-670b-3522-52c3-3823f8d57577",
            "name": "",
            "source": {
              "id": "b17c08b4-3cf8-3f51-9c6f-321d3301e669",
              "type": "PROCESSOR",
              "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
              "name": "UpdateAttribute",
              "comments": "",
              "instanceIdentifier": "5467c2f4-7305-3d0a-8bb6-8b069147dcf1"
            },
            "destination": {
              "id": "21aa5016-73be-3d87-b7a1-1ed6b676a4da",
              "type": "PROCESSOR",
              "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
              "name": "Ngsi-v2 to LD",
              "comments": "",
              "instanceIdentifier": "b16bbf7b-2be3-329a-fc9b-e9cb24b4e3ab"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
          },
          {
            "identifier": "19c5f667-2b55-34aa-9cb7-e658197aa10c",
            "instanceIdentifier": "057e4ba4-e2c5-3375-536c-66499392804b",
            "name": "",
            "source": {
              "id": "7e946e08-b070-3038-b855-5e0d44e91d41",
              "type": "PROCESSOR",
              "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
              "name": "CreateVersionObjectProcessor",
              "comments": "",
              "instanceIdentifier": "345f61dc-4a6f-363e-4eb0-8bfd454372ec"
            },
            "destination": {
              "id": "b1a70583-2d5b-3412-a4db-fbb81d47db74",
              "type": "PROCESSOR",
              "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
              "name": "InvokeHTTP",
              "comments": "",
              "instanceIdentifier": "7cbd58ed-6d70-3f18-9c50-0757ac8db323"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "data"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
          }
        ],
        "labels": [],
        "funnels": [
          {
            "identifier": "c25262b8-1144-3888-8486-2710380c761c",
            "instanceIdentifier": "e359e4e5-03d3-3409-07c5-70d2ae0b2775",
            "position": {
              "x": 872.0,
              "y": 776.0
            },
            "componentType": "FUNNEL",
            "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
          },
          {
            "identifier": "793bcbc4-d8a9-3a45-832e-99a7354b78f4",
            "instanceIdentifier": "a3f0da25-018b-1000-3b0d-1c6236ffc2a0",
            "position": {
              "x": -184.0,
              "y": 776.0
            },
            "componentType": "FUNNEL",
            "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
          },
          {
            "identifier": "bb85f42d-c107-3111-abac-9cbac52c04ea",
            "instanceIdentifier": "a4808963-c328-3cd7-4738-18df4d7590e1",
            "position": {
              "x": 872.0,
              "y": 536.0
            },
            "componentType": "FUNNEL",
            "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
          }
        ],
        "controllerServices": [],
        "variables": {},
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "componentType": "PROCESS_GROUP",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "groupIdentifier": "fd9ddf3a-2c64-37a1-95b9-de1c1204ecb9"
      },
      {
        "identifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
        "instanceIdentifier": "4119705a-2ae6-3c3f-1183-dd9d4832cb83",
        "name": "Devices",
        "comments": "",
        "position": {
          "x": -744.0,
          "y": 424.0
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
          {
            "identifier": "b1a70583-2d5b-3412-a4db-fbb81d47db74",
            "instanceIdentifier": "7ee25eb3-d871-31bf-9202-8fb6e413c07e",
            "name": "InvokeHTTP",
            "comments": "",
            "position": {
              "x": 112.0,
              "y": 888.0
            },
            "type": "org.apache.nifi.processors.standard.InvokeHTTP",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "1.20.0"
            },
            "properties": {
              "Proxy Host": null,
              "Attributes to Send": null,
              "use-etag": "false",
              "proxy-configuration-service": null,
              "Proxy Type": "http",
              "cookie-strategy": "DISABLED",
              "Connection Timeout": "5 secs",
              "send-message-body": "true",
              "set-form-filename": "true",
              "Always Output Response": "false",
              "etag-max-cache-size": "10MB",
              "Content-Encoding": "DISABLED",
              "disable-http2": "False",
              "idle-timeout": "5 mins",
              "Put Response Body In Attribute": null,
              "Use Chunked Encoding": "false",
              "Follow Redirects": "True",
              "Remote URL": "http://ldes-server:8080/devices",
              "form-body-form-name": null,
              "Content-Type": "application/n-quads",
              "flow-file-naming-strategy": "RANDOM",
              "max-idle-connections": "5",
              "invokehttp-proxy-user": null,
              "Read Timeout": "15 secs",
              "Max Length To Put In Attribute": "256",
              "ignore-response-content": "false",
              "Proxy Port": null,
              "SSL Context Service": null,
              "Digest Authentication": "false",
              "HTTP Method": "POST",
              "Add Response Headers to Request": "false",
              "oauth2-access-token-provider": null,
              "Basic Authentication Username": null,
              "Include Date Header": "True",
              "Penalize on \"No Retry\"": "false",
              "Useragent": null
            },
            "propertyDescriptors": {
              "Proxy Host": {
                "name": "Proxy Host",
                "displayName": "Proxy Host",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Attributes to Send": {
                "name": "Attributes to Send",
                "displayName": "Request Header Attributes Pattern",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "use-etag": {
                "name": "use-etag",
                "displayName": "Response Cache Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "proxy-configuration-service": {
                "name": "proxy-configuration-service",
                "displayName": "Proxy Configuration Service",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "Proxy Type": {
                "name": "Proxy Type",
                "displayName": "Proxy Type",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Basic Authentication Password": {
                "name": "Basic Authentication Password",
                "displayName": "Request Password",
                "identifiesControllerService": false,
                "sensitive": true
              },
              "cookie-strategy": {
                "name": "cookie-strategy",
                "displayName": "Response Cookie Strategy",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Connection Timeout": {
                "name": "Connection Timeout",
                "displayName": "Socket Connect Timeout",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "send-message-body": {
                "name": "send-message-body",
                "displayName": "Request Body Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "set-form-filename": {
                "name": "set-form-filename",
                "displayName": "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Always Output Response": {
                "name": "Always Output Response",
                "displayName": "Response Generation Required",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "etag-max-cache-size": {
                "name": "etag-max-cache-size",
                "displayName": "Response Cache Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Content-Encoding": {
                "name": "Content-Encoding",
                "displayName": "Request Content-Encoding",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "disable-http2": {
                "name": "disable-http2",
                "displayName": "HTTP/2 Disabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "idle-timeout": {
                "name": "idle-timeout",
                "displayName": "Socket Idle Timeout",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Put Response Body In Attribute": {
                "name": "Put Response Body In Attribute",
                "displayName": "Response Body Attribute Name",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Use Chunked Encoding": {
                "name": "Use Chunked Encoding",
                "displayName": "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Follow Redirects": {
                "name": "Follow Redirects",
                "displayName": "Response Redirects Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Remote URL": {
                "name": "Remote URL",
                "displayName": "HTTP URL",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "form-body-form-name": {
                "name": "form-body-form-name",
                "displayName": "Request Multipart Form-Data Name",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Content-Type": {
                "name": "Content-Type",
                "displayName": "Request Content-Type",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "flow-file-naming-strategy": {
                "name": "flow-file-naming-strategy",
                "displayName": "Response FlowFile Naming Strategy",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "max-idle-connections": {
                "name": "max-idle-connections",
                "displayName": "Socket Idle Connections",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "invokehttp-proxy-user": {
                "name": "invokehttp-proxy-user",
                "displayName": "Proxy Username",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Read Timeout": {
                "name": "Read Timeout",
                "displayName": "Socket Read Timeout",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Max Length To Put In Attribute": {
                "name": "Max Length To Put In Attribute",
                "displayName": "Response Body Attribute Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "invokehttp-proxy-password": {
                "name": "invokehttp-proxy-password",
                "displayName": "Proxy Password",
                "identifiesControllerService": false,
                "sensitive": true
              },
              "ignore-response-content": {
                "name": "ignore-response-content",
                "displayName": "Response Body Ignored",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Proxy Port": {
                "name": "Proxy Port",
                "displayName": "Proxy Port",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "SSL Context Service": {
                "name": "SSL Context Service",
                "displayName": "SSL Context Service",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "Digest Authentication": {
                "name": "Digest Authentication",
                "displayName": "Request Digest Authentication Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "HTTP Method": {
                "name": "HTTP Method",
                "displayName": "HTTP Method",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Add Response Headers to Request": {
                "name": "Add Response Headers to Request",
                "displayName": "Response Header Request Attributes Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "oauth2-access-token-provider": {
                "name": "oauth2-access-token-provider",
                "displayName": "Request OAuth2 Access Token Provider",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "Basic Authentication Username": {
                "name": "Basic Authentication Username",
                "displayName": "Request Username",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Include Date Header": {
                "name": "Include Date Header",
                "displayName": "Request Date Header Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Penalize on \"No Retry\"": {
                "name": "Penalize on \"No Retry\"",
                "displayName": "Request Failure Penalization Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Useragent": {
                "name": "Useragent",
                "displayName": "Request User-Agent",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "Response",
              "No Retry",
              "Retry",
              "Original",
              "Failure"
            ],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [
              "Retry",
              "Failure"
            ],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
          },
          {
            "identifier": "ff6bbe29-6d33-3558-9201-9ad0388b456c",
            "instanceIdentifier": "6a57948a-bce8-33c7-b328-3b5b957adadb",
            "name": "Ngsi-v2 to LD",
            "comments": "",
            "position": {
              "x": 128.0,
              "y": 408.0
            },
            "type": "be.vlaanderen.informatievlaanderen.ldes.ldi.processors.NgsiV2ToLdProcessor",
            "bundle": {
              "group": "be.vlaanderen.informatievlaanderen.ldes.ldi.nifi",
              "artifact": "ngsiv2-to-ld-processor",
              "version": "1.9.0-SNAPSHOT"
            },
            "properties": {
              "CORE_CONTEXT": "https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context-v1.3.jsonld",
              "LD_CONTEXT": null,
              "DATA_IDENTIFIER": "data"
            },
            "propertyDescriptors": {
              "CORE_CONTEXT": {
                "name": "CORE_CONTEXT",
                "displayName": "NGSI LD core context",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "LD_CONTEXT": {
                "name": "LD_CONTEXT",
                "displayName": "Data-specific NGSI LD context",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "DATA_IDENTIFIER": {
                "name": "DATA_IDENTIFIER",
                "displayName": "Data array key",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
          },
          {
            "identifier": "78017cda-0644-383d-bda5-65683be74a9a",
            "instanceIdentifier": "bf7310fb-4581-3e81-21ea-7e90a55d0d6c",
            "name": "CreateVersionObjectProcessor",
            "comments": "",
            "position": {
              "x": 120.0,
              "y": 648.0
            },
            "type": "be.vlaanderen.informatievlaanderen.ldes.ldi.processors.CreateVersionObjectProcessor",
            "bundle": {
              "group": "be.vlaanderen.informatievlaanderen.ldes.ldi.nifi",
              "artifact": "create-version-object-processor",
              "version": "1.9.0-SNAPSHOT"
            },
            "properties": {
              "DATE_OBSERVED_VALUE_RDF_PROPERTY": "https://uri.etsi.org/ngsi-ld/observedAt",
              "GENERATED_AT_TIME_PROPERTY": "http://www.w3.org/ns/prov#generatedAtTime",
              "DATA_DESTINATION_FORMAT": "application/n-quads",
              "MEMBER_RDF_SYNTAX_TYPE": "https://uri.etsi.org/ngsi-ld/default-context/Device",
              "DELIMITER": "/",
              "VERSION_OF_KEY": "http://purl.org/dc/terms/isVersionOf",
              "DATA_INPUT_FORMAT": "application/ld+json"
            },
            "propertyDescriptors": {
              "DATE_OBSERVED_VALUE_RDF_PROPERTY": {
                "name": "DATE_OBSERVED_VALUE_RDF_PROPERTY",
                "displayName": "RDF property to find the timestamp value",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "GENERATED_AT_TIME_PROPERTY": {
                "name": "GENERATED_AT_TIME_PROPERTY",
                "displayName": "GeneratedAtTime property",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "DATA_DESTINATION_FORMAT": {
                "name": "DATA_DESTINATION_FORMAT",
                "displayName": "Data destination format",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "MEMBER_RDF_SYNTAX_TYPE": {
                "name": "MEMBER_RDF_SYNTAX_TYPE",
                "displayName": "IRI to member RDF syntax type",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "DELIMITER": {
                "name": "DELIMITER",
                "displayName": "Delimiter between entity ID and timestamp value",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "VERSION_OF_KEY": {
                "name": "VERSION_OF_KEY",
                "displayName": "VersionOf Property",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "DATA_INPUT_FORMAT": {
                "name": "DATA_INPUT_FORMAT",
                "displayName": "Data input format",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
          },
          {
            "identifier": "43555904-2dac-33ee-b7cf-2937cd75c370",
            "instanceIdentifier": "2c4a87f5-0595-3b38-c20a-695d8d0cae5d",
            "name": "UpdateAttribute",
            "comments": "",
            "position": {
              "x": 136.0,
              "y": 168.0
            },
            "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-update-attribute-nar",
              "version": "1.20.0"
            },
            "properties": {
              "Delete Attributes Expression": null,
              "Store State": "Do not store state",
              "canonical-value-lookup-cache-size": "100",
              "mime.type": "application/json",
              "Stateful Variables Initial Value": null
            },
            "propertyDescriptors": {
              "Delete Attributes Expression": {
                "name": "Delete Attributes Expression",
                "displayName": "Delete Attributes Expression",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Store State": {
                "name": "Store State",
                "displayName": "Store State",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "canonical-value-lookup-cache-size": {
                "name": "canonical-value-lookup-cache-size",
                "displayName": "Cache Value Lookup Cache Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "mime.type": {
                "name": "mime.type",
                "displayName": "mime.type",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Stateful Variables Initial Value": {
                "name": "Stateful Variables Initial Value",
                "displayName": "Stateful Variables Initial Value",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 25,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
          }
        ],
        "inputPorts": [
          {
            "identifier": "88996173-6207-3baf-9ee1-7b465250627b",
            "instanceIdentifier": "9f513401-ae59-35ca-c796-33e156c0d9cb",
            "name": "devices-pipeline",
            "position": {
              "x": 184.0,
              "y": 32.0
            },
            "type": "INPUT_PORT",
            "concurrentlySchedulableTaskCount": 1,
            "scheduledState": "ENABLED",
            "allowRemoteAccess": false,
            "componentType": "INPUT_PORT",
            "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
          }
        ],
        "outputPorts": [],
        "connections": [
          {
            "identifier": "807a9e59-1634-34c5-9944-71c31ccffb06",
            "instanceIdentifier": "d48a364c-927a-3b10-566a-e51f772cb53d",
            "name": "",
            "source": {
              "id": "78017cda-0644-383d-bda5-65683be74a9a",
              "type": "PROCESSOR",
              "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
              "name": "CreateVersionObjectProcessor",
              "comments": "",
              "instanceIdentifier": "bf7310fb-4581-3e81-21ea-7e90a55d0d6c"
            },
            "destination": {
              "id": "b1a70583-2d5b-3412-a4db-fbb81d47db74",
              "type": "PROCESSOR",
              "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
              "name": "InvokeHTTP",
              "comments": "",
              "instanceIdentifier": "7ee25eb3-d871-31bf-9202-8fb6e413c07e"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "data"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
          },
          {
            "identifier": "96792b7a-c6be-330f-bb0d-0bfea2e978eb",
            "instanceIdentifier": "a3f12f69-018b-1000-ff53-4f775256798c",
            "name": "",
            "source": {
              "id": "78017cda-0644-383d-bda5-65683be74a9a",
              "type": "PROCESSOR",
              "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
              "name": "CreateVersionObjectProcessor",
              "comments": "",
              "instanceIdentifier": "bf7310fb-4581-3e81-21ea-7e90a55d0d6c"
            },
            "destination": {
              "id": "7efdd3e5-941a-398d-8add-93a3a61b3fe6",
              "type": "FUNNEL",
              "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
              "name": "Funnel",
              "comments": "",
              "instanceIdentifier": "a3f1214e-018b-1000-1e94-7d88991b098b"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "valueNotFound"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
          },
          {
            "identifier": "5ba94af5-ba5b-3f9d-a47d-752eebe4248d",
            "instanceIdentifier": "32f8c906-8047-3071-7495-1383863b6e38",
            "name": "",
            "source": {
              "id": "78017cda-0644-383d-bda5-65683be74a9a",
              "type": "PROCESSOR",
              "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
              "name": "CreateVersionObjectProcessor",
              "comments": "",
              "instanceIdentifier": "bf7310fb-4581-3e81-21ea-7e90a55d0d6c"
            },
            "destination": {
              "id": "8717d1df-fe20-3c88-a2ef-d96d29524d83",
              "type": "FUNNEL",
              "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
              "name": "Funnel",
              "comments": "",
              "instanceIdentifier": "61a123a9-58a5-3e60-272a-5d7a037ed279"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "unparseable"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
          },
          {
            "identifier": "eef2d03e-3b59-3deb-b472-5ba20aa46f9b",
            "instanceIdentifier": "6db2631f-3f57-3c52-7ef7-a3837d501929",
            "name": "",
            "source": {
              "id": "88996173-6207-3baf-9ee1-7b465250627b",
              "type": "INPUT_PORT",
              "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
              "name": "devices-pipeline",
              "instanceIdentifier": "9f513401-ae59-35ca-c796-33e156c0d9cb"
            },
            "destination": {
              "id": "43555904-2dac-33ee-b7cf-2937cd75c370",
              "type": "PROCESSOR",
              "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
              "name": "UpdateAttribute",
              "comments": "",
              "instanceIdentifier": "2c4a87f5-0595-3b38-c20a-695d8d0cae5d"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              ""
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
          },
          {
            "identifier": "814013bc-b4ea-309f-8ad2-3ef2f2ec9819",
            "instanceIdentifier": "665fea37-0fb8-390d-3899-d3e27fc6ac5e",
            "name": "",
            "source": {
              "id": "ff6bbe29-6d33-3558-9201-9ad0388b456c",
              "type": "PROCESSOR",
              "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
              "name": "Ngsi-v2 to LD",
              "comments": "",
              "instanceIdentifier": "6a57948a-bce8-33c7-b328-3b5b957adadb"
            },
            "destination": {
              "id": "78017cda-0644-383d-bda5-65683be74a9a",
              "type": "PROCESSOR",
              "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
              "name": "CreateVersionObjectProcessor",
              "comments": "",
              "instanceIdentifier": "bf7310fb-4581-3e81-21ea-7e90a55d0d6c"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
          },
          {
            "identifier": "7f8e9467-6681-36bc-8af1-55f6da2ca385",
            "instanceIdentifier": "1d989984-cfd7-3422-567d-daf9602eba29",
            "name": "",
            "source": {
              "id": "43555904-2dac-33ee-b7cf-2937cd75c370",
              "type": "PROCESSOR",
              "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
              "name": "UpdateAttribute",
              "comments": "",
              "instanceIdentifier": "2c4a87f5-0595-3b38-c20a-695d8d0cae5d"
            },
            "destination": {
              "id": "ff6bbe29-6d33-3558-9201-9ad0388b456c",
              "type": "PROCESSOR",
              "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
              "name": "Ngsi-v2 to LD",
              "comments": "",
              "instanceIdentifier": "6a57948a-bce8-33c7-b328-3b5b957adadb"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
          },
          {
            "identifier": "f29d931f-187b-34e1-a5ba-ed2d64d854e3",
            "instanceIdentifier": "c8c9ca81-d2a1-3422-c6ab-d5595186a723",
            "name": "",
            "source": {
              "id": "ff6bbe29-6d33-3558-9201-9ad0388b456c",
              "type": "PROCESSOR",
              "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
              "name": "Ngsi-v2 to LD",
              "comments": "",
              "instanceIdentifier": "6a57948a-bce8-33c7-b328-3b5b957adadb"
            },
            "destination": {
              "id": "86111d69-ef15-3d4b-a5c5-5a35d27ef541",
              "type": "FUNNEL",
              "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
              "name": "Funnel",
              "comments": "",
              "instanceIdentifier": "ceb6827b-bf31-35ac-1485-ac69697a2bd0"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "failure"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
          }
        ],
        "labels": [],
        "funnels": [
          {
            "identifier": "86111d69-ef15-3d4b-a5c5-5a35d27ef541",
            "instanceIdentifier": "ceb6827b-bf31-35ac-1485-ac69697a2bd0",
            "position": {
              "x": 800.0,
              "y": 456.0
            },
            "componentType": "FUNNEL",
            "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
          },
          {
            "identifier": "8717d1df-fe20-3c88-a2ef-d96d29524d83",
            "instanceIdentifier": "61a123a9-58a5-3e60-272a-5d7a037ed279",
            "position": {
              "x": 808.0,
              "y": 696.0
            },
            "componentType": "FUNNEL",
            "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
          },
          {
            "identifier": "7efdd3e5-941a-398d-8add-93a3a61b3fe6",
            "instanceIdentifier": "a3f1214e-018b-1000-1e94-7d88991b098b",
            "position": {
              "x": -240.0,
              "y": 696.0
            },
            "componentType": "FUNNEL",
            "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
          }
        ],
        "controllerServices": [],
        "variables": {},
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "componentType": "PROCESS_GROUP",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "groupIdentifier": "fd9ddf3a-2c64-37a1-95b9-de1c1204ecb9"
      },
      {
        "identifier": "43670607-2273-3686-98e1-a9086ad1739c",
        "instanceIdentifier": "101c8811-f23e-3efc-400a-8c1604026351",
        "name": "Observations",
        "comments": "",
        "position": {
          "x": -200.0,
          "y": 416.0
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
          {
            "identifier": "b598b285-2006-364b-96bc-4e575da97ac4",
            "instanceIdentifier": "7aacc133-aaaa-38bc-758a-38dea80539cf",
            "name": "SparqlConstructProcessor",
            "comments": "",
            "position": {
              "x": 144.0,
              "y": 432.0
            },
            "type": "be.vlaanderen.informatievlaanderen.ldes.ldi.processors.SparqlConstructProcessor",
            "bundle": {
              "group": "be.vlaanderen.informatievlaanderen.ldes.ldi.nifi",
              "artifact": "sparql-interactions-processor",
              "version": "1.9.0-SNAPSHOT"
            },
            "properties": {
              "SPARQL_CONSTRUCT_QUERY": "PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\nPREFIX sosa: <http://www.w3.org/ns/sosa/>\nPREFIX ngsiLdDC: <https://uri.etsi.org/ngsi-ld/default-context/>\nPREFIX ngsiLd: <https://uri.etsi.org/ngsi-ld/>\nCONSTRUCT {\n    ?wqo rdf:type <http://www.w3.org/ns/sosa/ObservationCollection> .\n    ?wqo <http://def.isotc211.org/iso19156/2011/SamplingFeature#SF_SamplingFeatureCollection.member> ?conductivity .\n    ?wqo <http://def.isotc211.org/iso19156/2011/SamplingFeature#SF_SamplingFeatureCollection.member> ?temperature .\n    ?wqo <http://def.isotc211.org/iso19156/2011/SamplingFeature#SF_SamplingFeatureCollection.member> ?batteryLevel .\n    ?wqo <http://def.isotc211.org/iso19156/2011/SamplingFeature#SF_SamplingFeatureCollection.member> ?location .\n    ?wqo sosa:phenomenonTime ?dateObserved .\n    ?batteryLevel <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.observedProperty> <https://data.vmm.be/concept/sensor/batterijniveau> .\n    ?batteryLevel <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.phenomenonTime> ?batteryLevelPhenomenonTime .\n    ?batteryLevel rdf:type <http://def.isotc211.org/iso19156/2011/Measurement#OM_Measurement> .\n    ?batteryLevel <http://www.w3.org/ns/sosa/madeBySensor> ?madeBySensor .\n    ?batteryLevel <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.result> [\n        <http://def.isotc211.org/iso19103/2005/UnitsOfMeasure#Measure.value> [\n            <https://schema.org/value> ?batteryLevelValue\n        ]\n    ] .\n    ?conductivity <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.observedProperty> <https://data.vmm.be/concept/waterkwaliteitparameter/conductiviteit> .\n    ?conductivity <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.phenomenonTime> ?conductivityPhenomenonTime .\n    ?conductivity rdf:type <http://def.isotc211.org/iso19156/2011/Measurement#OM_Measurement> .\n    ?conductivity <http://www.w3.org/ns/sosa/madeBySensor> ?madeBySensor .\n    ?conductivity <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.result> [\n        <http://def.isotc211.org/iso19103/2005/UnitsOfMeasure#Measure.value> [\n            <https://schema.org/value> ?conductivityValue\n        ]\n    ] .\n    ?depth <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.observedProperty> <https://data.vmm.be/concept/observatieparameter/hydrostatische-druk> .\n    ?depth <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.phenomenonTime> ?depthPhenomenonTime .\n    ?depth rdf:type <http://def.isotc211.org/iso19156/2011/Measurement#OM_Measurement> .\n    ?depth <http://www.w3.org/ns/sosa/madeBySensor> ?madeBySensor .\n    ?depth <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.result> [\n        <http://def.isotc211.org/iso19103/2005/UnitsOfMeasure#Measure.value> [\n            <https://schema.org/value> ?depthValue\n        ]\n    ] .\n    ?temperature <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.observedProperty> <https://data.vmm.be/concept/waterkwaliteitparameter/temperatuur> .\n    ?temperature <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.phenomenonTime> ?temperaturePhenomenonTime .\n    ?temperature rdf:type <http://def.isotc211.org/iso19156/2011/Measurement#OM_Measurement> .\n    ?temperature <http://www.w3.org/ns/sosa/madeBySensor> ?madeBySensor .\n    ?temperature <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.result> [\n        <http://def.isotc211.org/iso19103/2005/UnitsOfMeasure#Measure.value> [\n            <https://schema.org/value> ?temperatureValue\n        ]\n    ] .\n    ?location rdf:type <https://def.isotc211.org/iso19156/2011/SpatialSamplingFeature#SF_SpatialSamplingFeature> .\n    ?location rdf:asWkt ?locationWkt\n} WHERE {\n    ?wqo rdf:type <https://uri.etsi.org/ngsi-ld/default-context/WaterQualityObserved> .\n    ?wqo ngsiLdDC:dateObserved [\n        ngsiLd:hasValue ?dateObserved\n    ] .\n    ?wqo ngsiLdDC:refDevice ?refDevice .\n    ?refDevice <https://uri.etsi.org/ngsi-ld/hasObject> ?madeBySensor .\n    OPTIONAL {\n        ?wqo ngsiLdDC:batteryLevel ?batteryLevel .\n        ?batteryLevel <https://uri.etsi.org/ngsi-ld/observedAt> ?batteryLevelPhenomenonTime .\n        ?batteryLevel <https://uri.etsi.org/ngsi-ld/hasValue> ?batteryLevelValue .\n    }\n    OPTIONAL {\n        ?wqo ngsiLdDC:conductivity ?conductivity .\n        ?conductivity <https://uri.etsi.org/ngsi-ld/observedAt> ?conductivityPhenomenonTime .\n        ?conductivity <https://uri.etsi.org/ngsi-ld/hasValue> ?conductivityValue .\n    }\n    OPTIONAL {\n        ?wqo ngsiLdDC:depth ?depth .\n        ?depth <https://uri.etsi.org/ngsi-ld/observedAt> ?depthPhenomenonTime .\n        ?depth <https://uri.etsi.org/ngsi-ld/hasValue> ?depthValue .\n    }\n    OPTIONAL {\n        ?wqo ngsiLdDC:temperature ?temperature .\n        ?temperature <https://uri.etsi.org/ngsi-ld/observedAt> ?temperaturePhenomenonTime .\n        ?temperature <https://uri.etsi.org/ngsi-ld/hasValue> ?temperatureValue .\n    }\n    OPTIONAL {\n        ?wqo ngsiLd:location ?location .\n        ?location ngsiLdDC:asWkt ?locationWkt .\n    }\n}\n",
              "INCLUDE_ORIGINAL": "false",
              "DATA_SOURCE_FORMAT": "application/ld+json"
            },
            "propertyDescriptors": {
              "SPARQL_CONSTRUCT_QUERY": {
                "name": "SPARQL_CONSTRUCT_QUERY",
                "displayName": "SPARQL Construct Query",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "INCLUDE_ORIGINAL": {
                "name": "INCLUDE_ORIGINAL",
                "displayName": "Include original model",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "DATA_SOURCE_FORMAT": {
                "name": "DATA_SOURCE_FORMAT",
                "displayName": "Data source format",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          },
          {
            "identifier": "b1a70583-2d5b-3412-a4db-fbb81d47db74",
            "instanceIdentifier": "877533fd-cdbe-36da-5f39-40b3990278b3",
            "name": "InvokeHTTP",
            "comments": "",
            "position": {
              "x": 136.0,
              "y": 832.0
            },
            "type": "org.apache.nifi.processors.standard.InvokeHTTP",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "1.20.0"
            },
            "properties": {
              "Proxy Host": null,
              "Attributes to Send": null,
              "use-etag": "false",
              "proxy-configuration-service": null,
              "Proxy Type": "http",
              "cookie-strategy": "DISABLED",
              "Connection Timeout": "5 secs",
              "send-message-body": "true",
              "set-form-filename": "true",
              "Always Output Response": "false",
              "etag-max-cache-size": "10MB",
              "Content-Encoding": "DISABLED",
              "disable-http2": "False",
              "idle-timeout": "5 mins",
              "Put Response Body In Attribute": null,
              "Use Chunked Encoding": "false",
              "Follow Redirects": "True",
              "Remote URL": "http://ldes-server:8080/water-quality-observations",
              "form-body-form-name": null,
              "Content-Type": "application/n-quads",
              "flow-file-naming-strategy": "RANDOM",
              "max-idle-connections": "5",
              "invokehttp-proxy-user": null,
              "Read Timeout": "15 secs",
              "Max Length To Put In Attribute": "256",
              "ignore-response-content": "false",
              "Proxy Port": null,
              "SSL Context Service": null,
              "Digest Authentication": "false",
              "HTTP Method": "POST",
              "Add Response Headers to Request": "false",
              "oauth2-access-token-provider": null,
              "Basic Authentication Username": null,
              "Include Date Header": "True",
              "Penalize on \"No Retry\"": "false",
              "Useragent": null
            },
            "propertyDescriptors": {
              "Proxy Host": {
                "name": "Proxy Host",
                "displayName": "Proxy Host",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Attributes to Send": {
                "name": "Attributes to Send",
                "displayName": "Request Header Attributes Pattern",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "use-etag": {
                "name": "use-etag",
                "displayName": "Response Cache Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "proxy-configuration-service": {
                "name": "proxy-configuration-service",
                "displayName": "Proxy Configuration Service",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "Proxy Type": {
                "name": "Proxy Type",
                "displayName": "Proxy Type",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Basic Authentication Password": {
                "name": "Basic Authentication Password",
                "displayName": "Request Password",
                "identifiesControllerService": false,
                "sensitive": true
              },
              "cookie-strategy": {
                "name": "cookie-strategy",
                "displayName": "Response Cookie Strategy",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Connection Timeout": {
                "name": "Connection Timeout",
                "displayName": "Socket Connect Timeout",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "send-message-body": {
                "name": "send-message-body",
                "displayName": "Request Body Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "set-form-filename": {
                "name": "set-form-filename",
                "displayName": "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Always Output Response": {
                "name": "Always Output Response",
                "displayName": "Response Generation Required",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "etag-max-cache-size": {
                "name": "etag-max-cache-size",
                "displayName": "Response Cache Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Content-Encoding": {
                "name": "Content-Encoding",
                "displayName": "Request Content-Encoding",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "disable-http2": {
                "name": "disable-http2",
                "displayName": "HTTP/2 Disabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "idle-timeout": {
                "name": "idle-timeout",
                "displayName": "Socket Idle Timeout",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Put Response Body In Attribute": {
                "name": "Put Response Body In Attribute",
                "displayName": "Response Body Attribute Name",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Use Chunked Encoding": {
                "name": "Use Chunked Encoding",
                "displayName": "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Follow Redirects": {
                "name": "Follow Redirects",
                "displayName": "Response Redirects Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Remote URL": {
                "name": "Remote URL",
                "displayName": "HTTP URL",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "form-body-form-name": {
                "name": "form-body-form-name",
                "displayName": "Request Multipart Form-Data Name",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Content-Type": {
                "name": "Content-Type",
                "displayName": "Request Content-Type",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "flow-file-naming-strategy": {
                "name": "flow-file-naming-strategy",
                "displayName": "Response FlowFile Naming Strategy",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "max-idle-connections": {
                "name": "max-idle-connections",
                "displayName": "Socket Idle Connections",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "invokehttp-proxy-user": {
                "name": "invokehttp-proxy-user",
                "displayName": "Proxy Username",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Read Timeout": {
                "name": "Read Timeout",
                "displayName": "Socket Read Timeout",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Max Length To Put In Attribute": {
                "name": "Max Length To Put In Attribute",
                "displayName": "Response Body Attribute Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "invokehttp-proxy-password": {
                "name": "invokehttp-proxy-password",
                "displayName": "Proxy Password",
                "identifiesControllerService": false,
                "sensitive": true
              },
              "ignore-response-content": {
                "name": "ignore-response-content",
                "displayName": "Response Body Ignored",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Proxy Port": {
                "name": "Proxy Port",
                "displayName": "Proxy Port",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "SSL Context Service": {
                "name": "SSL Context Service",
                "displayName": "SSL Context Service",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "Digest Authentication": {
                "name": "Digest Authentication",
                "displayName": "Request Digest Authentication Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "HTTP Method": {
                "name": "HTTP Method",
                "displayName": "HTTP Method",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Add Response Headers to Request": {
                "name": "Add Response Headers to Request",
                "displayName": "Response Header Request Attributes Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "oauth2-access-token-provider": {
                "name": "oauth2-access-token-provider",
                "displayName": "Request OAuth2 Access Token Provider",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "Basic Authentication Username": {
                "name": "Basic Authentication Username",
                "displayName": "Request Username",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Include Date Header": {
                "name": "Include Date Header",
                "displayName": "Request Date Header Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Penalize on \"No Retry\"": {
                "name": "Penalize on \"No Retry\"",
                "displayName": "Request Failure Penalization Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Useragent": {
                "name": "Useragent",
                "displayName": "Request User-Agent",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "Response",
              "No Retry",
              "Retry",
              "Original",
              "Failure"
            ],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [
              "Retry",
              "Failure"
            ],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          },
          {
            "identifier": "00e3f017-689f-3f82-99e0-5aa79f1be5b2",
            "instanceIdentifier": "8ae7c9f8-c1ed-31fb-c6aa-e02c6b2748e4",
            "name": "CreateVersionObjectProcessor",
            "comments": "",
            "position": {
              "x": 144.0,
              "y": 640.0
            },
            "type": "be.vlaanderen.informatievlaanderen.ldes.ldi.processors.CreateVersionObjectProcessor",
            "bundle": {
              "group": "be.vlaanderen.informatievlaanderen.ldes.ldi.nifi",
              "artifact": "create-version-object-processor",
              "version": "1.9.0-SNAPSHOT"
            },
            "properties": {
              "DATE_OBSERVED_VALUE_RDF_PROPERTY": "http://www.w3.org/ns/sosa/phenomenonTime",
              "GENERATED_AT_TIME_PROPERTY": "http://www.w3.org/ns/prov#generatedAtTime",
              "DATA_DESTINATION_FORMAT": "application/n-quads",
              "MEMBER_RDF_SYNTAX_TYPE": "http://www.w3.org/ns/sosa/ObservationCollection",
              "DELIMITER": "/",
              "VERSION_OF_KEY": "http://purl.org/dc/terms/isVersionOf",
              "DATA_INPUT_FORMAT": "application/ld+json"
            },
            "propertyDescriptors": {
              "DATE_OBSERVED_VALUE_RDF_PROPERTY": {
                "name": "DATE_OBSERVED_VALUE_RDF_PROPERTY",
                "displayName": "RDF property to find the timestamp value",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "GENERATED_AT_TIME_PROPERTY": {
                "name": "GENERATED_AT_TIME_PROPERTY",
                "displayName": "GeneratedAtTime property",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "DATA_DESTINATION_FORMAT": {
                "name": "DATA_DESTINATION_FORMAT",
                "displayName": "Data destination format",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "MEMBER_RDF_SYNTAX_TYPE": {
                "name": "MEMBER_RDF_SYNTAX_TYPE",
                "displayName": "IRI to member RDF syntax type",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "DELIMITER": {
                "name": "DELIMITER",
                "displayName": "Delimiter between entity ID and timestamp value",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "VERSION_OF_KEY": {
                "name": "VERSION_OF_KEY",
                "displayName": "VersionOf Property",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "DATA_INPUT_FORMAT": {
                "name": "DATA_INPUT_FORMAT",
                "displayName": "Data input format",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          },
          {
            "identifier": "5979b385-ca0c-3544-bdef-d22bec323d1b",
            "instanceIdentifier": "c8db59e5-114e-3808-5a92-741422fc0910",
            "name": "Ngsi-v2 to LD",
            "comments": "",
            "position": {
              "x": 144.0,
              "y": 240.0
            },
            "type": "be.vlaanderen.informatievlaanderen.ldes.ldi.processors.NgsiV2ToLdProcessor",
            "bundle": {
              "group": "be.vlaanderen.informatievlaanderen.ldes.ldi.nifi",
              "artifact": "ngsiv2-to-ld-processor",
              "version": "1.9.0-SNAPSHOT"
            },
            "properties": {
              "CORE_CONTEXT": "https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context-v1.3.jsonld",
              "LD_CONTEXT": null,
              "DATA_IDENTIFIER": "data"
            },
            "propertyDescriptors": {
              "CORE_CONTEXT": {
                "name": "CORE_CONTEXT",
                "displayName": "NGSI LD core context",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "LD_CONTEXT": {
                "name": "LD_CONTEXT",
                "displayName": "Data-specific NGSI LD context",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "DATA_IDENTIFIER": {
                "name": "DATA_IDENTIFIER",
                "displayName": "Data array key",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          },
          {
            "identifier": "fcf6f11b-fa4d-3cd3-8389-605af02b7284",
            "instanceIdentifier": "75a26ea6-3ab9-3041-77ee-4eda11fd435f",
            "name": "UpdateAttribute",
            "comments": "",
            "position": {
              "x": 144.0,
              "y": 24.0
            },
            "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-update-attribute-nar",
              "version": "1.20.0"
            },
            "properties": {
              "Delete Attributes Expression": null,
              "Store State": "Do not store state",
              "canonical-value-lookup-cache-size": "100",
              "mime.type": "application/json",
              "Stateful Variables Initial Value": null
            },
            "propertyDescriptors": {
              "Delete Attributes Expression": {
                "name": "Delete Attributes Expression",
                "displayName": "Delete Attributes Expression",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Store State": {
                "name": "Store State",
                "displayName": "Store State",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "canonical-value-lookup-cache-size": {
                "name": "canonical-value-lookup-cache-size",
                "displayName": "Cache Value Lookup Cache Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "mime.type": {
                "name": "mime.type",
                "displayName": "mime.type",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Stateful Variables Initial Value": {
                "name": "Stateful Variables Initial Value",
                "displayName": "Stateful Variables Initial Value",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 25,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          }
        ],
        "inputPorts": [
          {
            "identifier": "907437db-7d8a-3786-9a16-04ba7c8645eb",
            "instanceIdentifier": "9d78371d-3b93-344c-ed9c-7a84675cd77c",
            "name": "observations-pipeline",
            "position": {
              "x": 192.0,
              "y": -96.0
            },
            "type": "INPUT_PORT",
            "concurrentlySchedulableTaskCount": 1,
            "scheduledState": "ENABLED",
            "allowRemoteAccess": false,
            "componentType": "INPUT_PORT",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          }
        ],
        "outputPorts": [],
        "connections": [
          {
            "identifier": "130dcc8e-ca6f-3208-9197-49da5edbd857",
            "instanceIdentifier": "035acabb-6a74-3506-d4e1-2abbbc1e1bac",
            "name": "",
            "source": {
              "id": "907437db-7d8a-3786-9a16-04ba7c8645eb",
              "type": "INPUT_PORT",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "observations-pipeline",
              "instanceIdentifier": "9d78371d-3b93-344c-ed9c-7a84675cd77c"
            },
            "destination": {
              "id": "fcf6f11b-fa4d-3cd3-8389-605af02b7284",
              "type": "PROCESSOR",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "UpdateAttribute",
              "comments": "",
              "instanceIdentifier": "75a26ea6-3ab9-3041-77ee-4eda11fd435f"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              ""
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          },
          {
            "identifier": "52e66aa2-4a8d-3476-b3ed-e6bcf248e93e",
            "instanceIdentifier": "f4f2600c-da12-3480-ec2f-53c241f8abe6",
            "name": "",
            "source": {
              "id": "b598b285-2006-364b-96bc-4e575da97ac4",
              "type": "PROCESSOR",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "SparqlConstructProcessor",
              "comments": "",
              "instanceIdentifier": "7aacc133-aaaa-38bc-758a-38dea80539cf"
            },
            "destination": {
              "id": "00e3f017-689f-3f82-99e0-5aa79f1be5b2",
              "type": "PROCESSOR",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "CreateVersionObjectProcessor",
              "comments": "",
              "instanceIdentifier": "8ae7c9f8-c1ed-31fb-c6aa-e02c6b2748e4"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          },
          {
            "identifier": "f6beeadb-c0fe-3ada-aedc-cf69dadb9462",
            "instanceIdentifier": "254755ca-950f-3cfe-1812-85999d47956a",
            "name": "",
            "source": {
              "id": "00e3f017-689f-3f82-99e0-5aa79f1be5b2",
              "type": "PROCESSOR",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "CreateVersionObjectProcessor",
              "comments": "",
              "instanceIdentifier": "8ae7c9f8-c1ed-31fb-c6aa-e02c6b2748e4"
            },
            "destination": {
              "id": "79239193-19d2-372a-81f6-e47d2d1f3728",
              "type": "FUNNEL",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "Funnel",
              "comments": "",
              "instanceIdentifier": "ac14b8d9-94fd-39f9-c5d2-103b7cf94a81"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "unparseable"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          },
          {
            "identifier": "227d81ad-4c1c-3a1e-a0ae-189059cd7b48",
            "instanceIdentifier": "e989c4bd-1dc4-3394-9724-a9ffee5e8239",
            "name": "",
            "source": {
              "id": "5979b385-ca0c-3544-bdef-d22bec323d1b",
              "type": "PROCESSOR",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "Ngsi-v2 to LD",
              "comments": "",
              "instanceIdentifier": "c8db59e5-114e-3808-5a92-741422fc0910"
            },
            "destination": {
              "id": "b598b285-2006-364b-96bc-4e575da97ac4",
              "type": "PROCESSOR",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "SparqlConstructProcessor",
              "comments": "",
              "instanceIdentifier": "7aacc133-aaaa-38bc-758a-38dea80539cf"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          },
          {
            "identifier": "11ae233c-bebe-386e-8367-d32894d4cd88",
            "instanceIdentifier": "a3f177d7-018b-1000-31eb-210f17e066dd",
            "name": "",
            "source": {
              "id": "00e3f017-689f-3f82-99e0-5aa79f1be5b2",
              "type": "PROCESSOR",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "CreateVersionObjectProcessor",
              "comments": "",
              "instanceIdentifier": "8ae7c9f8-c1ed-31fb-c6aa-e02c6b2748e4"
            },
            "destination": {
              "id": "6da4a57a-4336-3a7f-8f4c-75442d9a477f",
              "type": "FUNNEL",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "Funnel",
              "comments": "",
              "instanceIdentifier": "a3f1691e-018b-1000-d791-44db582145ec"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "valueNotFound"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          },
          {
            "identifier": "7c0a6b85-53d2-3089-964e-7fe884e67df1",
            "instanceIdentifier": "77c5d2f1-9eec-391a-1c98-e0aef1e281ed",
            "name": "",
            "source": {
              "id": "b598b285-2006-364b-96bc-4e575da97ac4",
              "type": "PROCESSOR",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "SparqlConstructProcessor",
              "comments": "",
              "instanceIdentifier": "7aacc133-aaaa-38bc-758a-38dea80539cf"
            },
            "destination": {
              "id": "ff7cb7b3-2ca9-3605-9045-03f4db3fe201",
              "type": "FUNNEL",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "Funnel",
              "comments": "",
              "instanceIdentifier": "2b97e4a1-7e7a-34ec-1f66-24fd3de9abb5"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "failure"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          },
          {
            "identifier": "ae401ff4-d0cd-3b41-af4d-f9ecb53f0c81",
            "instanceIdentifier": "00665ef9-10c9-341f-2007-5fb471f313e9",
            "name": "",
            "source": {
              "id": "5979b385-ca0c-3544-bdef-d22bec323d1b",
              "type": "PROCESSOR",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "Ngsi-v2 to LD",
              "comments": "",
              "instanceIdentifier": "c8db59e5-114e-3808-5a92-741422fc0910"
            },
            "destination": {
              "id": "d5f69fb0-2362-31fc-811c-9c53b746ad89",
              "type": "FUNNEL",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "Funnel",
              "comments": "",
              "instanceIdentifier": "66199425-5806-3ed4-d935-402e118d40ab"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "failure"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          },
          {
            "identifier": "34b360ae-043d-324d-b824-b3b7c6a13407",
            "instanceIdentifier": "bc56c541-3d3a-3444-c0d1-076848a914ca",
            "name": "",
            "source": {
              "id": "fcf6f11b-fa4d-3cd3-8389-605af02b7284",
              "type": "PROCESSOR",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "UpdateAttribute",
              "comments": "",
              "instanceIdentifier": "75a26ea6-3ab9-3041-77ee-4eda11fd435f"
            },
            "destination": {
              "id": "5979b385-ca0c-3544-bdef-d22bec323d1b",
              "type": "PROCESSOR",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "Ngsi-v2 to LD",
              "comments": "",
              "instanceIdentifier": "c8db59e5-114e-3808-5a92-741422fc0910"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          },
          {
            "identifier": "06c1a088-9c23-30ed-97bf-e4216ea6c31e",
            "instanceIdentifier": "a79301b5-9f66-35c1-68a7-2ca689d50f92",
            "name": "",
            "source": {
              "id": "00e3f017-689f-3f82-99e0-5aa79f1be5b2",
              "type": "PROCESSOR",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "CreateVersionObjectProcessor",
              "comments": "",
              "instanceIdentifier": "8ae7c9f8-c1ed-31fb-c6aa-e02c6b2748e4"
            },
            "destination": {
              "id": "b1a70583-2d5b-3412-a4db-fbb81d47db74",
              "type": "PROCESSOR",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "InvokeHTTP",
              "comments": "",
              "instanceIdentifier": "877533fd-cdbe-36da-5f39-40b3990278b3"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "data"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          }
        ],
        "labels": [],
        "funnels": [
          {
            "identifier": "79239193-19d2-372a-81f6-e47d2d1f3728",
            "instanceIdentifier": "ac14b8d9-94fd-39f9-c5d2-103b7cf94a81",
            "position": {
              "x": 768.0,
              "y": 640.0
            },
            "componentType": "FUNNEL",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          },
          {
            "identifier": "ff7cb7b3-2ca9-3605-9045-03f4db3fe201",
            "instanceIdentifier": "2b97e4a1-7e7a-34ec-1f66-24fd3de9abb5",
            "position": {
              "x": 768.0,
              "y": 464.0
            },
            "componentType": "FUNNEL",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          },
          {
            "identifier": "d5f69fb0-2362-31fc-811c-9c53b746ad89",
            "instanceIdentifier": "66199425-5806-3ed4-d935-402e118d40ab",
            "position": {
              "x": 768.0,
              "y": 264.0
            },
            "componentType": "FUNNEL",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          },
          {
            "identifier": "6da4a57a-4336-3a7f-8f4c-75442d9a477f",
            "instanceIdentifier": "a3f1691e-018b-1000-d791-44db582145ec",
            "position": {
              "x": -224.0,
              "y": 664.0
            },
            "componentType": "FUNNEL",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          }
        ],
        "controllerServices": [],
        "variables": {},
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "componentType": "PROCESS_GROUP",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "groupIdentifier": "fd9ddf3a-2c64-37a1-95b9-de1c1204ecb9"
      }
    ],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "286f7e17-aaa1-3049-9f71-9e8df9244c16",
        "instanceIdentifier": "e6357e4d-7161-38f3-ac34-76779b7c9a9d",
        "name": "Dispatch On Request URL",
        "comments": "",
        "position": {
          "x": -728.0,
          "y": 104.0
        },
        "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.20.0"
        },
        "properties": {
          "Routing Strategy": "Route to Property name",
          "observations-pipeline": "${restlistener.request.uri:equals('/observations-pipeline')}",
          "devices-pipeline": "${restlistener.request.uri:equals('/devices-pipeline')}",
          "device-models-pipeline": "${restlistener.request.uri:equals('/device-models-pipeline')}"
        },
        "propertyDescriptors": {
          "Routing Strategy": {
            "name": "Routing Strategy",
            "displayName": "Routing Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "observations-pipeline": {
            "name": "observations-pipeline",
            "displayName": "observations-pipeline",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "devices-pipeline": {
            "name": "devices-pipeline",
            "displayName": "devices-pipeline",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "device-models-pipeline": {
            "name": "device-models-pipeline",
            "displayName": "device-models-pipeline",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "fd9ddf3a-2c64-37a1-95b9-de1c1204ecb9"
      },
      {
        "identifier": "f8e06a70-e2c5-32ec-8109-be2b8dbf92ec",
        "instanceIdentifier": "1a6c3e52-d205-360d-2868-ae8cc7bf2a68",
        "name": "ListenHTTP",
        "comments": "",
        "position": {
          "x": -728.0,
          "y": -144.0
        },
        "type": "org.apache.nifi.processors.standard.ListenHTTP",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.20.0"
        },
        "properties": {
          "authorized-issuer-dn-pattern": ".*",
          "multipart-request-max-size": "1 MB",
          "record-writer": null,
          "HTTP Protocols": "HTTP_1_1",
          "HTTP Headers to receive as Attributes (Regex)": null,
          "health-check-port": null,
          "Authorized DN Pattern": ".*",
          "max-thread-pool-size": "200",
          "Base Path": "",
          "multipart-read-buffer-size": "512 KB",
          "SSL Context Service": null,
          "Max Unconfirmed Flowfile Time": "60 secs",
          "Max Data to Receive per Second": null,
          "client-authentication": "AUTO",
          "Return Code": "200",
          "record-reader": null,
          "Listening Port": "8080"
        },
        "propertyDescriptors": {
          "authorized-issuer-dn-pattern": {
            "name": "authorized-issuer-dn-pattern",
            "displayName": "Authorized Issuer DN Pattern",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "multipart-request-max-size": {
            "name": "multipart-request-max-size",
            "displayName": "Multipart Request Max Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-writer": {
            "name": "record-writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "HTTP Protocols": {
            "name": "HTTP Protocols",
            "displayName": "HTTP Protocols",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "HTTP Headers to receive as Attributes (Regex)": {
            "name": "HTTP Headers to receive as Attributes (Regex)",
            "displayName": "HTTP Headers to receive as Attributes (Regex)",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "health-check-port": {
            "name": "health-check-port",
            "displayName": "Listening Port for Health Check Requests",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Authorized DN Pattern": {
            "name": "Authorized DN Pattern",
            "displayName": "Authorized Subject DN Pattern",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "max-thread-pool-size": {
            "name": "max-thread-pool-size",
            "displayName": "Maximum Thread Pool Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Base Path": {
            "name": "Base Path",
            "displayName": "Base Path",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "multipart-read-buffer-size": {
            "name": "multipart-read-buffer-size",
            "displayName": "Multipart Read Buffer Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "SSL Context Service": {
            "name": "SSL Context Service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Max Unconfirmed Flowfile Time": {
            "name": "Max Unconfirmed Flowfile Time",
            "displayName": "Max Unconfirmed Flowfile Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Max Data to Receive per Second": {
            "name": "Max Data to Receive per Second",
            "displayName": "Max Data to Receive per Second",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "client-authentication": {
            "name": "client-authentication",
            "displayName": "Client Authentication",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Return Code": {
            "name": "Return Code",
            "displayName": "Return Code",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-reader": {
            "name": "record-reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Listening Port": {
            "name": "Listening Port",
            "displayName": "Listening Port",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "fd9ddf3a-2c64-37a1-95b9-de1c1204ecb9"
      }
    ],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [
      {
        "identifier": "e1c6a60e-7a68-39c7-9254-ca280c780743",
        "instanceIdentifier": "42992c32-d907-35ca-71a6-deb285eb8796",
        "name": "",
        "source": {
          "id": "286f7e17-aaa1-3049-9f71-9e8df9244c16",
          "type": "PROCESSOR",
          "groupId": "fd9ddf3a-2c64-37a1-95b9-de1c1204ecb9",
          "name": "Dispatch On Request URL",
          "comments": "",
          "instanceIdentifier": "e6357e4d-7161-38f3-ac34-76779b7c9a9d"
        },
        "destination": {
          "id": "338c2167-3a4c-3fb7-8d3e-a33100b5c4b5",
          "type": "INPUT_PORT",
          "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
          "name": "device-models-pipeline",
          "comments": "",
          "instanceIdentifier": "0fa20104-fa13-3dc1-142d-27b3d5912e29"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "device-models-pipeline"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "fd9ddf3a-2c64-37a1-95b9-de1c1204ecb9"
      },
      {
        "identifier": "5d5b26f2-c569-3f63-830d-bd866c3181ee",
        "instanceIdentifier": "f9a3ae82-961e-385a-10c1-48dd6e2560b1",
        "name": "",
        "source": {
          "id": "f8e06a70-e2c5-32ec-8109-be2b8dbf92ec",
          "type": "PROCESSOR",
          "groupId": "fd9ddf3a-2c64-37a1-95b9-de1c1204ecb9",
          "name": "ListenHTTP",
          "comments": "",
          "instanceIdentifier": "1a6c3e52-d205-360d-2868-ae8cc7bf2a68"
        },
        "destination": {
          "id": "286f7e17-aaa1-3049-9f71-9e8df9244c16",
          "type": "PROCESSOR",
          "groupId": "fd9ddf3a-2c64-37a1-95b9-de1c1204ecb9",
          "name": "Dispatch On Request URL",
          "comments": "",
          "instanceIdentifier": "e6357e4d-7161-38f3-ac34-76779b7c9a9d"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "fd9ddf3a-2c64-37a1-95b9-de1c1204ecb9"
      },
      {
        "identifier": "697474d5-8358-3d10-b4a0-afe6ac9099a7",
        "instanceIdentifier": "b7be9fdd-893a-3a85-1f7a-f7073de976b3",
        "name": "",
        "source": {
          "id": "286f7e17-aaa1-3049-9f71-9e8df9244c16",
          "type": "PROCESSOR",
          "groupId": "fd9ddf3a-2c64-37a1-95b9-de1c1204ecb9",
          "name": "Dispatch On Request URL",
          "comments": "",
          "instanceIdentifier": "e6357e4d-7161-38f3-ac34-76779b7c9a9d"
        },
        "destination": {
          "id": "907437db-7d8a-3786-9a16-04ba7c8645eb",
          "type": "INPUT_PORT",
          "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
          "name": "observations-pipeline",
          "instanceIdentifier": "9d78371d-3b93-344c-ed9c-7a84675cd77c"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "observations-pipeline"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "fd9ddf3a-2c64-37a1-95b9-de1c1204ecb9"
      },
      {
        "identifier": "cbfd8e01-53c9-37bf-b00f-917ca40c41e8",
        "instanceIdentifier": "0dc5d8be-cb75-3e0d-bc8e-0f07feeffa61",
        "name": "",
        "source": {
          "id": "286f7e17-aaa1-3049-9f71-9e8df9244c16",
          "type": "PROCESSOR",
          "groupId": "fd9ddf3a-2c64-37a1-95b9-de1c1204ecb9",
          "name": "Dispatch On Request URL",
          "comments": "",
          "instanceIdentifier": "e6357e4d-7161-38f3-ac34-76779b7c9a9d"
        },
        "destination": {
          "id": "88996173-6207-3baf-9ee1-7b465250627b",
          "type": "INPUT_PORT",
          "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
          "name": "devices-pipeline",
          "instanceIdentifier": "9f513401-ae59-35ca-c796-33e156c0d9cb"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "devices-pipeline"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "fd9ddf3a-2c64-37a1-95b9-de1c1204ecb9"
      },
      {
        "identifier": "8a66b055-3814-3ca8-aac6-1cb1d06fa022",
        "instanceIdentifier": "2202d167-bb4b-32f5-f0e4-c7398e171759",
        "name": "",
        "source": {
          "id": "286f7e17-aaa1-3049-9f71-9e8df9244c16",
          "type": "PROCESSOR",
          "groupId": "fd9ddf3a-2c64-37a1-95b9-de1c1204ecb9",
          "name": "Dispatch On Request URL",
          "comments": "",
          "instanceIdentifier": "e6357e4d-7161-38f3-ac34-76779b7c9a9d"
        },
        "destination": {
          "id": "9ec33875-af3d-3372-aac1-589f37805c84",
          "type": "FUNNEL",
          "groupId": "fd9ddf3a-2c64-37a1-95b9-de1c1204ecb9",
          "name": "Funnel",
          "comments": "",
          "instanceIdentifier": "143bd368-4238-3449-d0ab-8ae4abcab105"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "unmatched"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "fd9ddf3a-2c64-37a1-95b9-de1c1204ecb9"
      }
    ],
    "labels": [],
    "funnels": [
      {
        "identifier": "9ec33875-af3d-3372-aac1-589f37805c84",
        "instanceIdentifier": "143bd368-4238-3449-d0ab-8ae4abcab105",
        "position": {
          "x": -88.0,
          "y": 136.0
        },
        "componentType": "FUNNEL",
        "groupIdentifier": "fd9ddf3a-2c64-37a1-95b9-de1c1204ecb9"
      }
    ],
    "controllerServices": [],
    "variables": {},
    "defaultFlowFileExpiration": "0 sec",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "componentType": "PROCESS_GROUP",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE"
  },
  "externalControllerServices": {},
  "parameterContexts": {},
  "flowEncodingVersion": "1.0",
  "parameterProviders": {},
  "latest": false
}