e2e-test/use-cases/gtfs-and-rt/2.geo-fragmentation/nifi-workflow.json
{
    "flowContents": {
        "identifier": "98cd2184-0184-3e97-8ff0-9047e3729f64",
        "instanceIdentifier": "cb423656-0182-1000-848d-b07fac93ab21",
        "name": "nifi-workflow",
        "comments": "",
        "position": {
            "x": 405.0,
            "y": 214.0
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
            {
                "identifier": "672455ba-2584-3edd-9a9c-6cbdc8505996",
                "instanceIdentifier": "a286d481-1ee2-35e5-6178-49d74290c65a",
                "name": "InvokeHTTP",
                "comments": "",
                "position": {
                    "x": 928.0,
                    "y": 56.0
                },
                "type": "org.apache.nifi.processors.standard.InvokeHTTP",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.17.0"
                },
                "properties": {
                    "Proxy Host": null,
                    "Attributes to Send": null,
                    "use-etag": "false",
                    "proxy-configuration-service": null,
                    "Proxy Type": "http",
                    "cookie-strategy": "DISABLED",
                    "Connection Timeout": "5 secs",
                    "send-message-body": "true",
                    "set-form-filename": "true",
                    "Always Output Response": "false",
                    "etag-max-cache-size": "10MB",
                    "disable-http2": "False",
                    "idle-timeout": "5 mins",
                    "Put Response Body In Attribute": null,
                    "Use Chunked Encoding": "false",
                    "Follow Redirects": "True",
                    "Remote URL": "http://ldes-server:8080/mobility-hindrances",
                    "Content-Type": "${mime.type}",
                    "form-body-form-name": null,
                    "flow-file-naming-strategy": "RANDOM",
                    "max-idle-connections": "5",
                    "invokehttp-proxy-user": null,
                    "Read Timeout": "15 secs",
                    "Max Length To Put In Attribute": "256",
                    "ignore-response-content": "false",
                    "Proxy Port": null,
                    "SSL Context Service": null,
                    "Digest Authentication": "false",
                    "HTTP Method": "POST",
                    "Add Response Headers to Request": "false",
                    "Basic Authentication Username": null,
                    "oauth2-access-token-provider": null,
                    "Include Date Header": "True",
                    "Penalize on \"No Retry\"": "false",
                    "Useragent": null
                },
                "propertyDescriptors": {
                    "Proxy Host": {
                        "name": "Proxy Host",
                        "displayName": "Proxy Host",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Attributes to Send": {
                        "name": "Attributes to Send",
                        "displayName": "Attributes to Send",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "use-etag": {
                        "name": "use-etag",
                        "displayName": "Use HTTP ETag",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "proxy-configuration-service": {
                        "name": "proxy-configuration-service",
                        "displayName": "Proxy Configuration Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Proxy Type": {
                        "name": "Proxy Type",
                        "displayName": "Proxy Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Basic Authentication Password": {
                        "name": "Basic Authentication Password",
                        "displayName": "Basic Authentication Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "cookie-strategy": {
                        "name": "cookie-strategy",
                        "displayName": "Cookie Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Connection Timeout": {
                        "name": "Connection Timeout",
                        "displayName": "Connection Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "send-message-body": {
                        "name": "send-message-body",
                        "displayName": "Send Message Body",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "set-form-filename": {
                        "name": "set-form-filename",
                        "displayName": "Set FlowFile Form Data File Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Always Output Response": {
                        "name": "Always Output Response",
                        "displayName": "Always Output Response",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "etag-max-cache-size": {
                        "name": "etag-max-cache-size",
                        "displayName": "Maximum ETag Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "disable-http2": {
                        "name": "disable-http2",
                        "displayName": "Disable HTTP/2",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "idle-timeout": {
                        "name": "idle-timeout",
                        "displayName": "Idle Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Put Response Body In Attribute": {
                        "name": "Put Response Body In Attribute",
                        "displayName": "Put Response Body In Attribute",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Use Chunked Encoding": {
                        "name": "Use Chunked Encoding",
                        "displayName": "Use Chunked Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Follow Redirects": {
                        "name": "Follow Redirects",
                        "displayName": "Follow Redirects",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Remote URL": {
                        "name": "Remote URL",
                        "displayName": "Remote URL",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Content-Type": {
                        "name": "Content-Type",
                        "displayName": "Content-Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "form-body-form-name": {
                        "name": "form-body-form-name",
                        "displayName": "FlowFile Form Data Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "flow-file-naming-strategy": {
                        "name": "flow-file-naming-strategy",
                        "displayName": "FlowFile Naming Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "max-idle-connections": {
                        "name": "max-idle-connections",
                        "displayName": "Max Idle Connections",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "invokehttp-proxy-user": {
                        "name": "invokehttp-proxy-user",
                        "displayName": "Proxy Username",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Read Timeout": {
                        "name": "Read Timeout",
                        "displayName": "Read Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Max Length To Put In Attribute": {
                        "name": "Max Length To Put In Attribute",
                        "displayName": "Max Length To Put In Attribute",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "invokehttp-proxy-password": {
                        "name": "invokehttp-proxy-password",
                        "displayName": "Proxy Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "ignore-response-content": {
                        "name": "ignore-response-content",
                        "displayName": "Ignore response's content",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Proxy Port": {
                        "name": "Proxy Port",
                        "displayName": "Proxy Port",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "SSL Context Service": {
                        "name": "SSL Context Service",
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Digest Authentication": {
                        "name": "Digest Authentication",
                        "displayName": "Use Digest Authentication",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "HTTP Method": {
                        "name": "HTTP Method",
                        "displayName": "HTTP Method",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Add Response Headers to Request": {
                        "name": "Add Response Headers to Request",
                        "displayName": "Add Response Headers to Request",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Basic Authentication Username": {
                        "name": "Basic Authentication Username",
                        "displayName": "Basic Authentication Username",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "oauth2-access-token-provider": {
                        "name": "oauth2-access-token-provider",
                        "displayName": "OAuth2 Access Token provider",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Include Date Header": {
                        "name": "Include Date Header",
                        "displayName": "Include Date Header",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Penalize on \"No Retry\"": {
                        "name": "Penalize on \"No Retry\"",
                        "displayName": "Penalize on \"No Retry\"",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Useragent": {
                        "name": "Useragent",
                        "displayName": "Useragent",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "1 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "Response",
                    "No Retry",
                    "Retry",
                    "Original",
                    "Failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 5,
                "retriedRelationships": [
                    "Retry",
                    "Failure"
                ],
                "backoffMechanism": "YIELD_PROCESSOR",
                "maxBackoffPeriod": "30 sec",
                "componentType": "PROCESSOR",
                "groupIdentifier": "98cd2184-0184-3e97-8ff0-9047e3729f64"
            },
            {
                "identifier": "2b9e0740-c990-3e34-9b0c-1cde52d48c7a",
                "instanceIdentifier": "b15d9018-1d4b-3787-6c62-94fc07e3999a",
                "name": "LdesClient",
                "comments": "",
                "position": {
                    "x": 240.0,
                    "y": 24.0
                },
                "type": "be.vlaanderen.informatievlaanderen.ldes.processors.LdesClient",
                "bundle": {
                    "group": "be.vlaanderen.informatievlaanderen",
                    "artifact": "ldes-client-wrappers-nifi",
                    "version": "1.0-SNAPSHOT"
                },
                "properties": {
                    "FRAGMENT_EXPIRATION_INTERVAL": "604800",
                    "DATA_SOURCE_FORMAT": "JSONLD11",
                    "DATA_DESTINATION_FORMAT": "n-quads",
                    "DATA_SOURCE_URL": "http://ldes-server-simulator/api/v1/ldes/mobility-hindrances"
                },
                "propertyDescriptors": {
                    "FRAGMENT_EXPIRATION_INTERVAL": {
                        "name": "FRAGMENT_EXPIRATION_INTERVAL",
                        "displayName": "Fragment expiration interval",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "DATA_SOURCE_FORMAT": {
                        "name": "DATA_SOURCE_FORMAT",
                        "displayName": "Data source format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "DATA_DESTINATION_FORMAT": {
                        "name": "DATA_DESTINATION_FORMAT",
                        "displayName": "Data destination format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "DATA_SOURCE_URL": {
                        "name": "DATA_SOURCE_URL",
                        "displayName": "Data source url",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "1 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "1 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [
                    "data"
                ],
                "backoffMechanism": "YIELD_PROCESSOR",
                "maxBackoffPeriod": "30 sec",
                "componentType": "PROCESSOR",
                "groupIdentifier": "98cd2184-0184-3e97-8ff0-9047e3729f64"
            }
        ],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
            {
                "identifier": "5c200e71-b5e9-3c81-b21f-d6c66074a2ef",
                "instanceIdentifier": "f6f8d21f-75f4-3fbd-9d00-f6a6cb022196",
                "name": "",
                "source": {
                    "id": "2b9e0740-c990-3e34-9b0c-1cde52d48c7a",
                    "type": "PROCESSOR",
                    "groupId": "98cd2184-0184-3e97-8ff0-9047e3729f64",
                    "name": "LdesClient",
                    "comments": "",
                    "instanceIdentifier": "b15d9018-1d4b-3787-6c62-94fc07e3999a"
                },
                "destination": {
                    "id": "672455ba-2584-3edd-9a9c-6cbdc8505996",
                    "type": "PROCESSOR",
                    "groupId": "98cd2184-0184-3e97-8ff0-9047e3729f64",
                    "name": "InvokeHTTP",
                    "comments": "",
                    "instanceIdentifier": "a286d481-1ee2-35e5-6178-49d74290c65a"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "data"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "98cd2184-0184-3e97-8ff0-9047e3729f64"
            }
        ],
        "labels": [],
        "funnels": [],
        "controllerServices": [],
        "variables": {},
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "componentType": "PROCESS_GROUP",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE"
    },
    "externalControllerServices": {},
    "parameterContexts": {},
    "flowEncodingVersion": "1.0"
}