tests/014.workbench-ngsi-v2-to-ngsi-ld/nifi-workflow.json
{
    "flowContents": {
        "identifier": "834b965f-df2f-3a79-91bf-820c95ab1e57",
        "instanceIdentifier": "57d4801f-0188-1000-a3d3-28ad03bcb843",
        "name": "nifi-workflow",
        "comments": "",
        "position": {
            "x": 792.0,
            "y": 88.0
        },
        "processGroups": [
            {
                "identifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
                "instanceIdentifier": "0d60ba29-a0db-3375-3a12-f9b07d321deb",
                "name": "Devices",
                "comments": "",
                "position": {
                    "x": -744.0,
                    "y": 424.0
                },
                "processGroups": [],
                "remoteProcessGroups": [],
                "processors": [
                    {
                        "identifier": "b1a70583-2d5b-3412-a4db-fbb81d47db74",
                        "instanceIdentifier": "c9ebab32-7884-31ed-5728-3c700fea95ba",
                        "name": "InvokeHTTP",
                        "comments": "",
                        "position": {
                            "x": 112.0,
                            "y": 888.0
                        },
                        "type": "org.apache.nifi.processors.standard.InvokeHTTP",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-nar",
                            "version": "1.20.0"
                        },
                        "properties": {
                            "Proxy Host": null,
                            "Attributes to Send": null,
                            "use-etag": "false",
                            "proxy-configuration-service": null,
                            "Proxy Type": "http",
                            "cookie-strategy": "DISABLED",
                            "Connection Timeout": "5 secs",
                            "send-message-body": "true",
                            "set-form-filename": "true",
                            "Always Output Response": "false",
                            "etag-max-cache-size": "10MB",
                            "Content-Encoding": "DISABLED",
                            "disable-http2": "False",
                            "idle-timeout": "5 mins",
                            "Put Response Body In Attribute": null,
                            "Use Chunked Encoding": "false",
                            "Follow Redirects": "True",
                            "Remote URL": "http://ldes-server:8080/devices",
                            "form-body-form-name": null,
                            "Content-Type": "application/n-quads",
                            "flow-file-naming-strategy": "RANDOM",
                            "max-idle-connections": "5",
                            "invokehttp-proxy-user": null,
                            "Read Timeout": "15 secs",
                            "Max Length To Put In Attribute": "256",
                            "ignore-response-content": "false",
                            "Proxy Port": null,
                            "SSL Context Service": null,
                            "Digest Authentication": "false",
                            "HTTP Method": "POST",
                            "Add Response Headers to Request": "false",
                            "oauth2-access-token-provider": null,
                            "Basic Authentication Username": null,
                            "Include Date Header": "True",
                            "Penalize on \"No Retry\"": "false",
                            "Useragent": null
                        },
                        "propertyDescriptors": {
                            "Proxy Host": {
                                "name": "Proxy Host",
                                "displayName": "Proxy Host",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Attributes to Send": {
                                "name": "Attributes to Send",
                                "displayName": "Request Header Attributes Pattern",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "use-etag": {
                                "name": "use-etag",
                                "displayName": "Response Cache Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "proxy-configuration-service": {
                                "name": "proxy-configuration-service",
                                "displayName": "Proxy Configuration Service",
                                "identifiesControllerService": true,
                                "sensitive": false
                            },
                            "Proxy Type": {
                                "name": "Proxy Type",
                                "displayName": "Proxy Type",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Basic Authentication Password": {
                                "name": "Basic Authentication Password",
                                "displayName": "Request Password",
                                "identifiesControllerService": false,
                                "sensitive": true
                            },
                            "cookie-strategy": {
                                "name": "cookie-strategy",
                                "displayName": "Response Cookie Strategy",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Connection Timeout": {
                                "name": "Connection Timeout",
                                "displayName": "Socket Connect Timeout",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "send-message-body": {
                                "name": "send-message-body",
                                "displayName": "Request Body Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "set-form-filename": {
                                "name": "set-form-filename",
                                "displayName": "Request Multipart Form-Data Filename Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Always Output Response": {
                                "name": "Always Output Response",
                                "displayName": "Response Generation Required",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "etag-max-cache-size": {
                                "name": "etag-max-cache-size",
                                "displayName": "Response Cache Size",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Content-Encoding": {
                                "name": "Content-Encoding",
                                "displayName": "Request Content-Encoding",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "disable-http2": {
                                "name": "disable-http2",
                                "displayName": "HTTP/2 Disabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "idle-timeout": {
                                "name": "idle-timeout",
                                "displayName": "Socket Idle Timeout",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Put Response Body In Attribute": {
                                "name": "Put Response Body In Attribute",
                                "displayName": "Response Body Attribute Name",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Use Chunked Encoding": {
                                "name": "Use Chunked Encoding",
                                "displayName": "Request Chunked Transfer-Encoding Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Follow Redirects": {
                                "name": "Follow Redirects",
                                "displayName": "Response Redirects Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Remote URL": {
                                "name": "Remote URL",
                                "displayName": "HTTP URL",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "form-body-form-name": {
                                "name": "form-body-form-name",
                                "displayName": "Request Multipart Form-Data Name",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Content-Type": {
                                "name": "Content-Type",
                                "displayName": "Request Content-Type",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "flow-file-naming-strategy": {
                                "name": "flow-file-naming-strategy",
                                "displayName": "Response FlowFile Naming Strategy",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "max-idle-connections": {
                                "name": "max-idle-connections",
                                "displayName": "Socket Idle Connections",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "invokehttp-proxy-user": {
                                "name": "invokehttp-proxy-user",
                                "displayName": "Proxy Username",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Read Timeout": {
                                "name": "Read Timeout",
                                "displayName": "Socket Read Timeout",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Max Length To Put In Attribute": {
                                "name": "Max Length To Put In Attribute",
                                "displayName": "Response Body Attribute Size",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "invokehttp-proxy-password": {
                                "name": "invokehttp-proxy-password",
                                "displayName": "Proxy Password",
                                "identifiesControllerService": false,
                                "sensitive": true
                            },
                            "ignore-response-content": {
                                "name": "ignore-response-content",
                                "displayName": "Response Body Ignored",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Proxy Port": {
                                "name": "Proxy Port",
                                "displayName": "Proxy Port",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "SSL Context Service": {
                                "name": "SSL Context Service",
                                "displayName": "SSL Context Service",
                                "identifiesControllerService": true,
                                "sensitive": false
                            },
                            "Digest Authentication": {
                                "name": "Digest Authentication",
                                "displayName": "Request Digest Authentication Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "HTTP Method": {
                                "name": "HTTP Method",
                                "displayName": "HTTP Method",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Add Response Headers to Request": {
                                "name": "Add Response Headers to Request",
                                "displayName": "Response Header Request Attributes Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "oauth2-access-token-provider": {
                                "name": "oauth2-access-token-provider",
                                "displayName": "Request OAuth2 Access Token Provider",
                                "identifiesControllerService": true,
                                "sensitive": false
                            },
                            "Basic Authentication Username": {
                                "name": "Basic Authentication Username",
                                "displayName": "Request Username",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Include Date Header": {
                                "name": "Include Date Header",
                                "displayName": "Request Date Header Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Penalize on \"No Retry\"": {
                                "name": "Penalize on \"No Retry\"",
                                "displayName": "Request Failure Penalization Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Useragent": {
                                "name": "Useragent",
                                "displayName": "Request User-Agent",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 0,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [
                            "Response",
                            "No Retry",
                            "Retry",
                            "Original",
                            "Failure"
                        ],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [
                            "Retry",
                            "Failure"
                        ],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
                    },
                    {
                        "identifier": "ff6bbe29-6d33-3558-9201-9ad0388b456c",
                        "instanceIdentifier": "6bc6ebbf-5fb5-3189-910d-44c3a1576ac9",
                        "name": "Ngsi-v2 to LD",
                        "comments": "",
                        "position": {
                            "x": 128.0,
                            "y": 408.0
                        },
                        "type": "be.vlaanderen.informatievlaanderen.ldes.ldi.processors.NgsiV2ToLdProcessor",
                        "bundle": {
                            "group": "be.vlaanderen.informatievlaanderen.ldes.ldi.nifi",
                            "artifact": "ngsiv2-to-ld-processor",
                            "version": "0.0.1-SNAPSHOT"
                        },
                        "properties": {
                            "CORE_CONTEXT": "https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context-v1.3.jsonld",
                            "LD_CONTEXT": null,
                            "DATA_IDENTIFIER": "data"
                        },
                        "propertyDescriptors": {
                            "CORE_CONTEXT": {
                                "name": "CORE_CONTEXT",
                                "displayName": "NGSI LD core context",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "LD_CONTEXT": {
                                "name": "LD_CONTEXT",
                                "displayName": "Data-specific NGSI LD context",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "DATA_IDENTIFIER": {
                                "name": "DATA_IDENTIFIER",
                                "displayName": "Data array key",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 0,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
                    },
                    {
                        "identifier": "78017cda-0644-383d-bda5-65683be74a9a",
                        "instanceIdentifier": "55658e28-ead1-37e1-e75b-c7e138a7230a",
                        "name": "CreateVersionObjectProcessor",
                        "comments": "",
                        "position": {
                            "x": 120.0,
                            "y": 648.0
                        },
                        "type": "be.vlaanderen.informatievlaanderen.ldes.ldi.processors.CreateVersionObjectProcessor",
                        "bundle": {
                            "group": "be.vlaanderen.informatievlaanderen.ldes.ldi.nifi",
                            "artifact": "create-version-object-processor",
                            "version": "0.0.1-SNAPSHOT"
                        },
                        "properties": {
                            "DATE_OBSERVED_VALUE_RDF_PROPERTY": "https://uri.etsi.org/ngsi-ld/observedAt",
                            "GENERATED_AT_TIME_PROPERTY": "http://www.w3.org/ns/prov#generatedAtTime",
                            "DATA_DESTINATION_FORMAT": "application/n-quads",
                            "MEMBER_RDF_SYNTAX_TYPE": "https://uri.etsi.org/ngsi-ld/default-context/Device",
                            "DELIMITER": "/",
                            "VERSION_OF_KEY": "http://purl.org/dc/terms/isVersionOf",
                            "DATA_INPUT_FORMAT": "application/ld+json"
                        },
                        "propertyDescriptors": {
                            "DATE_OBSERVED_VALUE_RDF_PROPERTY": {
                                "name": "DATE_OBSERVED_VALUE_RDF_PROPERTY",
                                "displayName": "RDF property to find the timestamp value",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "GENERATED_AT_TIME_PROPERTY": {
                                "name": "GENERATED_AT_TIME_PROPERTY",
                                "displayName": "GeneratedAtTime property",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "DATA_DESTINATION_FORMAT": {
                                "name": "DATA_DESTINATION_FORMAT",
                                "displayName": "Data destination format",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "MEMBER_RDF_SYNTAX_TYPE": {
                                "name": "MEMBER_RDF_SYNTAX_TYPE",
                                "displayName": "IRI to member RDF syntax type",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "DELIMITER": {
                                "name": "DELIMITER",
                                "displayName": "Delimiter between entity ID and timestamp value",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "VERSION_OF_KEY": {
                                "name": "VERSION_OF_KEY",
                                "displayName": "VersionOf Property",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "DATA_INPUT_FORMAT": {
                                "name": "DATA_INPUT_FORMAT",
                                "displayName": "Data input format",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 0,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
                    },
                    {
                        "identifier": "43555904-2dac-33ee-b7cf-2937cd75c370",
                        "instanceIdentifier": "cf95e63f-9329-3485-9cb7-898d0cb528de",
                        "name": "UpdateAttribute",
                        "comments": "",
                        "position": {
                            "x": 136.0,
                            "y": 168.0
                        },
                        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-update-attribute-nar",
                            "version": "1.20.0"
                        },
                        "properties": {
                            "Delete Attributes Expression": null,
                            "Store State": "Do not store state",
                            "canonical-value-lookup-cache-size": "100",
                            "mime.type": "application/json",
                            "Stateful Variables Initial Value": null
                        },
                        "propertyDescriptors": {
                            "Delete Attributes Expression": {
                                "name": "Delete Attributes Expression",
                                "displayName": "Delete Attributes Expression",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Store State": {
                                "name": "Store State",
                                "displayName": "Store State",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "canonical-value-lookup-cache-size": {
                                "name": "canonical-value-lookup-cache-size",
                                "displayName": "Cache Value Lookup Cache Size",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "mime.type": {
                                "name": "mime.type",
                                "displayName": "mime.type",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Stateful Variables Initial Value": {
                                "name": "Stateful Variables Initial Value",
                                "displayName": "Stateful Variables Initial Value",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 25,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
                    }
                ],
                "inputPorts": [
                    {
                        "identifier": "88996173-6207-3baf-9ee1-7b465250627b",
                        "instanceIdentifier": "19c9fda7-347f-3192-31f4-41b959354d3f",
                        "name": "devices-pipeline",
                        "position": {
                            "x": 184.0,
                            "y": 32.0
                        },
                        "type": "INPUT_PORT",
                        "concurrentlySchedulableTaskCount": 1,
                        "scheduledState": "ENABLED",
                        "allowRemoteAccess": false,
                        "componentType": "INPUT_PORT",
                        "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
                    }
                ],
                "outputPorts": [],
                "connections": [
                    {
                        "identifier": "807a9e59-1634-34c5-9944-71c31ccffb06",
                        "instanceIdentifier": "9ff3e142-bea4-328a-2b7f-954d0950ce8e",
                        "name": "",
                        "source": {
                            "id": "78017cda-0644-383d-bda5-65683be74a9a",
                            "type": "PROCESSOR",
                            "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
                            "name": "CreateVersionObjectProcessor",
                            "comments": "",
                            "instanceIdentifier": "55658e28-ead1-37e1-e75b-c7e138a7230a"
                        },
                        "destination": {
                            "id": "b1a70583-2d5b-3412-a4db-fbb81d47db74",
                            "type": "PROCESSOR",
                            "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
                            "name": "InvokeHTTP",
                            "comments": "",
                            "instanceIdentifier": "c9ebab32-7884-31ed-5728-3c700fea95ba"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "data"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
                    },
                    {
                        "identifier": "5ba94af5-ba5b-3f9d-a47d-752eebe4248d",
                        "instanceIdentifier": "9e97b0b3-93ce-3849-3b8d-2d3aeb9bf8d8",
                        "name": "",
                        "source": {
                            "id": "78017cda-0644-383d-bda5-65683be74a9a",
                            "type": "PROCESSOR",
                            "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
                            "name": "CreateVersionObjectProcessor",
                            "comments": "",
                            "instanceIdentifier": "55658e28-ead1-37e1-e75b-c7e138a7230a"
                        },
                        "destination": {
                            "id": "8717d1df-fe20-3c88-a2ef-d96d29524d83",
                            "type": "FUNNEL",
                            "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
                            "name": "Funnel",
                            "comments": "",
                            "instanceIdentifier": "458b2595-7132-3376-7ca4-9f83044e7e62"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "unparseable"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
                    },
                    {
                        "identifier": "814013bc-b4ea-309f-8ad2-3ef2f2ec9819",
                        "instanceIdentifier": "aaed9533-ed88-3e23-32c1-808ec7aeeebc",
                        "name": "",
                        "source": {
                            "id": "ff6bbe29-6d33-3558-9201-9ad0388b456c",
                            "type": "PROCESSOR",
                            "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
                            "name": "Ngsi-v2 to LD",
                            "comments": "",
                            "instanceIdentifier": "6bc6ebbf-5fb5-3189-910d-44c3a1576ac9"
                        },
                        "destination": {
                            "id": "78017cda-0644-383d-bda5-65683be74a9a",
                            "type": "PROCESSOR",
                            "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
                            "name": "CreateVersionObjectProcessor",
                            "comments": "",
                            "instanceIdentifier": "55658e28-ead1-37e1-e75b-c7e138a7230a"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "success"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
                    },
                    {
                        "identifier": "eef2d03e-3b59-3deb-b472-5ba20aa46f9b",
                        "instanceIdentifier": "6feb98a0-002e-3ae7-56d2-09ffc77dceb6",
                        "name": "",
                        "source": {
                            "id": "88996173-6207-3baf-9ee1-7b465250627b",
                            "type": "INPUT_PORT",
                            "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
                            "name": "devices-pipeline",
                            "instanceIdentifier": "19c9fda7-347f-3192-31f4-41b959354d3f"
                        },
                        "destination": {
                            "id": "43555904-2dac-33ee-b7cf-2937cd75c370",
                            "type": "PROCESSOR",
                            "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
                            "name": "UpdateAttribute",
                            "comments": "",
                            "instanceIdentifier": "cf95e63f-9329-3485-9cb7-898d0cb528de"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            ""
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
                    },
                    {
                        "identifier": "f29d931f-187b-34e1-a5ba-ed2d64d854e3",
                        "instanceIdentifier": "41114d94-1a25-3b20-fdbc-9cff516541d5",
                        "name": "",
                        "source": {
                            "id": "ff6bbe29-6d33-3558-9201-9ad0388b456c",
                            "type": "PROCESSOR",
                            "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
                            "name": "Ngsi-v2 to LD",
                            "comments": "",
                            "instanceIdentifier": "6bc6ebbf-5fb5-3189-910d-44c3a1576ac9"
                        },
                        "destination": {
                            "id": "86111d69-ef15-3d4b-a5c5-5a35d27ef541",
                            "type": "FUNNEL",
                            "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
                            "name": "Funnel",
                            "comments": "",
                            "instanceIdentifier": "b34e2d73-1a36-3110-0fff-16230a8293fa"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "failure"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
                    },
                    {
                        "identifier": "7f8e9467-6681-36bc-8af1-55f6da2ca385",
                        "instanceIdentifier": "dcbd2da0-468c-3af6-9f23-32365b03d14b",
                        "name": "",
                        "source": {
                            "id": "43555904-2dac-33ee-b7cf-2937cd75c370",
                            "type": "PROCESSOR",
                            "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
                            "name": "UpdateAttribute",
                            "comments": "",
                            "instanceIdentifier": "cf95e63f-9329-3485-9cb7-898d0cb528de"
                        },
                        "destination": {
                            "id": "ff6bbe29-6d33-3558-9201-9ad0388b456c",
                            "type": "PROCESSOR",
                            "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
                            "name": "Ngsi-v2 to LD",
                            "comments": "",
                            "instanceIdentifier": "6bc6ebbf-5fb5-3189-910d-44c3a1576ac9"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "success"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
                    }
                ],
                "labels": [],
                "funnels": [
                    {
                        "identifier": "86111d69-ef15-3d4b-a5c5-5a35d27ef541",
                        "instanceIdentifier": "b34e2d73-1a36-3110-0fff-16230a8293fa",
                        "position": {
                            "x": 800.0,
                            "y": 456.0
                        },
                        "componentType": "FUNNEL",
                        "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
                    },
                    {
                        "identifier": "8717d1df-fe20-3c88-a2ef-d96d29524d83",
                        "instanceIdentifier": "458b2595-7132-3376-7ca4-9f83044e7e62",
                        "position": {
                            "x": 808.0,
                            "y": 696.0
                        },
                        "componentType": "FUNNEL",
                        "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
                    }
                ],
                "controllerServices": [],
                "variables": {},
                "defaultFlowFileExpiration": "0 sec",
                "defaultBackPressureObjectThreshold": 10000,
                "defaultBackPressureDataSizeThreshold": "1 GB",
                "componentType": "PROCESS_GROUP",
                "flowFileConcurrency": "UNBOUNDED",
                "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
                "groupIdentifier": "834b965f-df2f-3a79-91bf-820c95ab1e57"
            },
            {
                "identifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
                "instanceIdentifier": "79dc298b-b080-3647-ce5a-03027a7156c4",
                "name": "Models",
                "comments": "",
                "position": {
                    "x": -1336.0,
                    "y": 416.0
                },
                "processGroups": [],
                "remoteProcessGroups": [],
                "processors": [
                    {
                        "identifier": "b17c08b4-3cf8-3f51-9c6f-321d3301e669",
                        "instanceIdentifier": "49f50153-94f3-341e-e29e-be6c9edb2d3d",
                        "name": "UpdateAttribute",
                        "comments": "",
                        "position": {
                            "x": 144.0,
                            "y": 256.0
                        },
                        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-update-attribute-nar",
                            "version": "1.20.0"
                        },
                        "properties": {
                            "Delete Attributes Expression": null,
                            "Store State": "Do not store state",
                            "canonical-value-lookup-cache-size": "100",
                            "mime.type": "application/json",
                            "Stateful Variables Initial Value": null
                        },
                        "propertyDescriptors": {
                            "Delete Attributes Expression": {
                                "name": "Delete Attributes Expression",
                                "displayName": "Delete Attributes Expression",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Store State": {
                                "name": "Store State",
                                "displayName": "Store State",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "canonical-value-lookup-cache-size": {
                                "name": "canonical-value-lookup-cache-size",
                                "displayName": "Cache Value Lookup Cache Size",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "mime.type": {
                                "name": "mime.type",
                                "displayName": "mime.type",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Stateful Variables Initial Value": {
                                "name": "Stateful Variables Initial Value",
                                "displayName": "Stateful Variables Initial Value",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 25,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
                    },
                    {
                        "identifier": "b1a70583-2d5b-3412-a4db-fbb81d47db74",
                        "instanceIdentifier": "632796b9-ed22-3523-7ae4-346d04272ff6",
                        "name": "InvokeHTTP",
                        "comments": "",
                        "position": {
                            "x": 144.0,
                            "y": 960.0
                        },
                        "type": "org.apache.nifi.processors.standard.InvokeHTTP",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-nar",
                            "version": "1.20.0"
                        },
                        "properties": {
                            "Proxy Host": null,
                            "Attributes to Send": null,
                            "use-etag": "false",
                            "proxy-configuration-service": null,
                            "Proxy Type": "http",
                            "cookie-strategy": "DISABLED",
                            "Connection Timeout": "5 secs",
                            "send-message-body": "true",
                            "set-form-filename": "true",
                            "Always Output Response": "false",
                            "etag-max-cache-size": "10MB",
                            "Content-Encoding": "DISABLED",
                            "disable-http2": "False",
                            "idle-timeout": "5 mins",
                            "Put Response Body In Attribute": null,
                            "Use Chunked Encoding": "false",
                            "Follow Redirects": "True",
                            "Remote URL": "http://ldes-server:8080/device-models",
                            "form-body-form-name": null,
                            "Content-Type": "application/n-quads",
                            "flow-file-naming-strategy": "RANDOM",
                            "max-idle-connections": "5",
                            "invokehttp-proxy-user": null,
                            "Read Timeout": "15 secs",
                            "Max Length To Put In Attribute": "256",
                            "ignore-response-content": "false",
                            "Proxy Port": null,
                            "SSL Context Service": null,
                            "Digest Authentication": "false",
                            "HTTP Method": "POST",
                            "Add Response Headers to Request": "false",
                            "oauth2-access-token-provider": null,
                            "Basic Authentication Username": null,
                            "Include Date Header": "True",
                            "Penalize on \"No Retry\"": "false",
                            "Useragent": null
                        },
                        "propertyDescriptors": {
                            "Proxy Host": {
                                "name": "Proxy Host",
                                "displayName": "Proxy Host",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Attributes to Send": {
                                "name": "Attributes to Send",
                                "displayName": "Request Header Attributes Pattern",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "use-etag": {
                                "name": "use-etag",
                                "displayName": "Response Cache Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "proxy-configuration-service": {
                                "name": "proxy-configuration-service",
                                "displayName": "Proxy Configuration Service",
                                "identifiesControllerService": true,
                                "sensitive": false
                            },
                            "Proxy Type": {
                                "name": "Proxy Type",
                                "displayName": "Proxy Type",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Basic Authentication Password": {
                                "name": "Basic Authentication Password",
                                "displayName": "Request Password",
                                "identifiesControllerService": false,
                                "sensitive": true
                            },
                            "cookie-strategy": {
                                "name": "cookie-strategy",
                                "displayName": "Response Cookie Strategy",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Connection Timeout": {
                                "name": "Connection Timeout",
                                "displayName": "Socket Connect Timeout",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "send-message-body": {
                                "name": "send-message-body",
                                "displayName": "Request Body Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "set-form-filename": {
                                "name": "set-form-filename",
                                "displayName": "Request Multipart Form-Data Filename Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Always Output Response": {
                                "name": "Always Output Response",
                                "displayName": "Response Generation Required",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "etag-max-cache-size": {
                                "name": "etag-max-cache-size",
                                "displayName": "Response Cache Size",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Content-Encoding": {
                                "name": "Content-Encoding",
                                "displayName": "Request Content-Encoding",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "disable-http2": {
                                "name": "disable-http2",
                                "displayName": "HTTP/2 Disabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "idle-timeout": {
                                "name": "idle-timeout",
                                "displayName": "Socket Idle Timeout",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Put Response Body In Attribute": {
                                "name": "Put Response Body In Attribute",
                                "displayName": "Response Body Attribute Name",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Use Chunked Encoding": {
                                "name": "Use Chunked Encoding",
                                "displayName": "Request Chunked Transfer-Encoding Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Follow Redirects": {
                                "name": "Follow Redirects",
                                "displayName": "Response Redirects Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Remote URL": {
                                "name": "Remote URL",
                                "displayName": "HTTP URL",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "form-body-form-name": {
                                "name": "form-body-form-name",
                                "displayName": "Request Multipart Form-Data Name",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Content-Type": {
                                "name": "Content-Type",
                                "displayName": "Request Content-Type",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "flow-file-naming-strategy": {
                                "name": "flow-file-naming-strategy",
                                "displayName": "Response FlowFile Naming Strategy",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "max-idle-connections": {
                                "name": "max-idle-connections",
                                "displayName": "Socket Idle Connections",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "invokehttp-proxy-user": {
                                "name": "invokehttp-proxy-user",
                                "displayName": "Proxy Username",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Read Timeout": {
                                "name": "Read Timeout",
                                "displayName": "Socket Read Timeout",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Max Length To Put In Attribute": {
                                "name": "Max Length To Put In Attribute",
                                "displayName": "Response Body Attribute Size",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "invokehttp-proxy-password": {
                                "name": "invokehttp-proxy-password",
                                "displayName": "Proxy Password",
                                "identifiesControllerService": false,
                                "sensitive": true
                            },
                            "ignore-response-content": {
                                "name": "ignore-response-content",
                                "displayName": "Response Body Ignored",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Proxy Port": {
                                "name": "Proxy Port",
                                "displayName": "Proxy Port",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "SSL Context Service": {
                                "name": "SSL Context Service",
                                "displayName": "SSL Context Service",
                                "identifiesControllerService": true,
                                "sensitive": false
                            },
                            "Digest Authentication": {
                                "name": "Digest Authentication",
                                "displayName": "Request Digest Authentication Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "HTTP Method": {
                                "name": "HTTP Method",
                                "displayName": "HTTP Method",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Add Response Headers to Request": {
                                "name": "Add Response Headers to Request",
                                "displayName": "Response Header Request Attributes Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "oauth2-access-token-provider": {
                                "name": "oauth2-access-token-provider",
                                "displayName": "Request OAuth2 Access Token Provider",
                                "identifiesControllerService": true,
                                "sensitive": false
                            },
                            "Basic Authentication Username": {
                                "name": "Basic Authentication Username",
                                "displayName": "Request Username",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Include Date Header": {
                                "name": "Include Date Header",
                                "displayName": "Request Date Header Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Penalize on \"No Retry\"": {
                                "name": "Penalize on \"No Retry\"",
                                "displayName": "Request Failure Penalization Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Useragent": {
                                "name": "Useragent",
                                "displayName": "Request User-Agent",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 0,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [
                            "Response",
                            "No Retry",
                            "Retry",
                            "Original",
                            "Failure"
                        ],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [
                            "Retry",
                            "Failure"
                        ],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
                    },
                    {
                        "identifier": "21aa5016-73be-3d87-b7a1-1ed6b676a4da",
                        "instanceIdentifier": "a5740a95-ff76-3f1a-fae5-b73af5dbcf8d",
                        "name": "Ngsi-v2 to LD",
                        "comments": "",
                        "position": {
                            "x": 144.0,
                            "y": 496.0
                        },
                        "type": "be.vlaanderen.informatievlaanderen.ldes.ldi.processors.NgsiV2ToLdProcessor",
                        "bundle": {
                            "group": "be.vlaanderen.informatievlaanderen.ldes.ldi.nifi",
                            "artifact": "ngsiv2-to-ld-processor",
                            "version": "0.0.1-SNAPSHOT"
                        },
                        "properties": {
                            "CORE_CONTEXT": "https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context-v1.3.jsonld",
                            "LD_CONTEXT": null,
                            "DATA_IDENTIFIER": "data"
                        },
                        "propertyDescriptors": {
                            "CORE_CONTEXT": {
                                "name": "CORE_CONTEXT",
                                "displayName": "NGSI LD core context",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "LD_CONTEXT": {
                                "name": "LD_CONTEXT",
                                "displayName": "Data-specific NGSI LD context",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "DATA_IDENTIFIER": {
                                "name": "DATA_IDENTIFIER",
                                "displayName": "Data array key",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 0,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
                    },
                    {
                        "identifier": "7e946e08-b070-3038-b855-5e0d44e91d41",
                        "instanceIdentifier": "1f8697ad-3bc9-3e05-473d-52bef4fd9b58",
                        "name": "CreateVersionObjectProcessor",
                        "comments": "",
                        "position": {
                            "x": 144.0,
                            "y": 736.0
                        },
                        "type": "be.vlaanderen.informatievlaanderen.ldes.ldi.processors.CreateVersionObjectProcessor",
                        "bundle": {
                            "group": "be.vlaanderen.informatievlaanderen.ldes.ldi.nifi",
                            "artifact": "create-version-object-processor",
                            "version": "0.0.1-SNAPSHOT"
                        },
                        "properties": {
                            "DATE_OBSERVED_VALUE_RDF_PROPERTY": "https://uri.etsi.org/ngsi-ld/observedAt",
                            "GENERATED_AT_TIME_PROPERTY": "http://www.w3.org/ns/prov#generatedAtTime",
                            "DATA_DESTINATION_FORMAT": "application/n-quads",
                            "MEMBER_RDF_SYNTAX_TYPE": "https://uri.etsi.org/ngsi-ld/default-context/DeviceModel",
                            "DELIMITER": "/",
                            "VERSION_OF_KEY": "http://purl.org/dc/terms/isVersionOf",
                            "DATA_INPUT_FORMAT": "application/ld+json"
                        },
                        "propertyDescriptors": {
                            "DATE_OBSERVED_VALUE_RDF_PROPERTY": {
                                "name": "DATE_OBSERVED_VALUE_RDF_PROPERTY",
                                "displayName": "RDF property to find the timestamp value",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "GENERATED_AT_TIME_PROPERTY": {
                                "name": "GENERATED_AT_TIME_PROPERTY",
                                "displayName": "GeneratedAtTime property",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "DATA_DESTINATION_FORMAT": {
                                "name": "DATA_DESTINATION_FORMAT",
                                "displayName": "Data destination format",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "MEMBER_RDF_SYNTAX_TYPE": {
                                "name": "MEMBER_RDF_SYNTAX_TYPE",
                                "displayName": "IRI to member RDF syntax type",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "DELIMITER": {
                                "name": "DELIMITER",
                                "displayName": "Delimiter between entity ID and timestamp value",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "VERSION_OF_KEY": {
                                "name": "VERSION_OF_KEY",
                                "displayName": "VersionOf Property",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "DATA_INPUT_FORMAT": {
                                "name": "DATA_INPUT_FORMAT",
                                "displayName": "Data input format",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 0,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
                    }
                ],
                "inputPorts": [
                    {
                        "identifier": "338c2167-3a4c-3fb7-8d3e-a33100b5c4b5",
                        "instanceIdentifier": "4a4e836e-2bc7-3b54-cd81-a95f6144edb3",
                        "name": "device-models-pipeline",
                        "comments": "",
                        "position": {
                            "x": 200.0,
                            "y": 80.0
                        },
                        "type": "INPUT_PORT",
                        "concurrentlySchedulableTaskCount": 1,
                        "scheduledState": "ENABLED",
                        "allowRemoteAccess": false,
                        "componentType": "INPUT_PORT",
                        "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
                    }
                ],
                "outputPorts": [],
                "connections": [
                    {
                        "identifier": "b5b09b19-b55d-3cc6-bb2a-067aa7c90717",
                        "instanceIdentifier": "1fe7aeb9-1cae-3d51-59d7-0e1438fd6889",
                        "name": "",
                        "source": {
                            "id": "21aa5016-73be-3d87-b7a1-1ed6b676a4da",
                            "type": "PROCESSOR",
                            "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
                            "name": "Ngsi-v2 to LD",
                            "comments": "",
                            "instanceIdentifier": "a5740a95-ff76-3f1a-fae5-b73af5dbcf8d"
                        },
                        "destination": {
                            "id": "7e946e08-b070-3038-b855-5e0d44e91d41",
                            "type": "PROCESSOR",
                            "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
                            "name": "CreateVersionObjectProcessor",
                            "comments": "",
                            "instanceIdentifier": "1f8697ad-3bc9-3e05-473d-52bef4fd9b58"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "success"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
                    },
                    {
                        "identifier": "e7a4ae68-0dae-3b40-837f-c76645d2b88b",
                        "instanceIdentifier": "43b44db0-47b0-3aa2-9df3-14ce0ea1f0dc",
                        "name": "",
                        "source": {
                            "id": "7e946e08-b070-3038-b855-5e0d44e91d41",
                            "type": "PROCESSOR",
                            "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
                            "name": "CreateVersionObjectProcessor",
                            "comments": "",
                            "instanceIdentifier": "1f8697ad-3bc9-3e05-473d-52bef4fd9b58"
                        },
                        "destination": {
                            "id": "c25262b8-1144-3888-8486-2710380c761c",
                            "type": "FUNNEL",
                            "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
                            "name": "Funnel",
                            "comments": "",
                            "instanceIdentifier": "3f0a77bf-833e-35bb-5fb7-0a1343fd7657"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "unparseable"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
                    },
                    {
                        "identifier": "2a5ff01c-81bd-338e-ac86-3b3c17f180a3",
                        "instanceIdentifier": "22291f15-713a-358b-0f35-395bcc50b117",
                        "name": "",
                        "source": {
                            "id": "338c2167-3a4c-3fb7-8d3e-a33100b5c4b5",
                            "type": "INPUT_PORT",
                            "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
                            "name": "device-models-pipeline",
                            "comments": "",
                            "instanceIdentifier": "4a4e836e-2bc7-3b54-cd81-a95f6144edb3"
                        },
                        "destination": {
                            "id": "b17c08b4-3cf8-3f51-9c6f-321d3301e669",
                            "type": "PROCESSOR",
                            "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
                            "name": "UpdateAttribute",
                            "comments": "",
                            "instanceIdentifier": "49f50153-94f3-341e-e29e-be6c9edb2d3d"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            ""
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
                    },
                    {
                        "identifier": "2e47f47d-6c48-3d25-9f0f-4a52be80657b",
                        "instanceIdentifier": "6b5ce786-997c-3427-1ec0-8edf7da01c70",
                        "name": "",
                        "source": {
                            "id": "21aa5016-73be-3d87-b7a1-1ed6b676a4da",
                            "type": "PROCESSOR",
                            "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
                            "name": "Ngsi-v2 to LD",
                            "comments": "",
                            "instanceIdentifier": "a5740a95-ff76-3f1a-fae5-b73af5dbcf8d"
                        },
                        "destination": {
                            "id": "bb85f42d-c107-3111-abac-9cbac52c04ea",
                            "type": "FUNNEL",
                            "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
                            "name": "Funnel",
                            "comments": "",
                            "instanceIdentifier": "39a4e4f6-af91-335c-6943-6bc1f491ef7e"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "failure"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
                    },
                    {
                        "identifier": "ec0691e5-3fce-3d71-a728-202465d266ce",
                        "instanceIdentifier": "b9f9c518-45ff-39d4-c879-a92b44351f55",
                        "name": "",
                        "source": {
                            "id": "b17c08b4-3cf8-3f51-9c6f-321d3301e669",
                            "type": "PROCESSOR",
                            "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
                            "name": "UpdateAttribute",
                            "comments": "",
                            "instanceIdentifier": "49f50153-94f3-341e-e29e-be6c9edb2d3d"
                        },
                        "destination": {
                            "id": "21aa5016-73be-3d87-b7a1-1ed6b676a4da",
                            "type": "PROCESSOR",
                            "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
                            "name": "Ngsi-v2 to LD",
                            "comments": "",
                            "instanceIdentifier": "a5740a95-ff76-3f1a-fae5-b73af5dbcf8d"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "success"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
                    },
                    {
                        "identifier": "19c5f667-2b55-34aa-9cb7-e658197aa10c",
                        "instanceIdentifier": "fb58b22b-60fd-3020-8b29-b3ccd2c0a2b2",
                        "name": "",
                        "source": {
                            "id": "7e946e08-b070-3038-b855-5e0d44e91d41",
                            "type": "PROCESSOR",
                            "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
                            "name": "CreateVersionObjectProcessor",
                            "comments": "",
                            "instanceIdentifier": "1f8697ad-3bc9-3e05-473d-52bef4fd9b58"
                        },
                        "destination": {
                            "id": "b1a70583-2d5b-3412-a4db-fbb81d47db74",
                            "type": "PROCESSOR",
                            "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
                            "name": "InvokeHTTP",
                            "comments": "",
                            "instanceIdentifier": "632796b9-ed22-3523-7ae4-346d04272ff6"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "data"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
                    }
                ],
                "labels": [],
                "funnels": [
                    {
                        "identifier": "c25262b8-1144-3888-8486-2710380c761c",
                        "instanceIdentifier": "3f0a77bf-833e-35bb-5fb7-0a1343fd7657",
                        "position": {
                            "x": 872.0,
                            "y": 776.0
                        },
                        "componentType": "FUNNEL",
                        "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
                    },
                    {
                        "identifier": "bb85f42d-c107-3111-abac-9cbac52c04ea",
                        "instanceIdentifier": "39a4e4f6-af91-335c-6943-6bc1f491ef7e",
                        "position": {
                            "x": 872.0,
                            "y": 536.0
                        },
                        "componentType": "FUNNEL",
                        "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
                    }
                ],
                "controllerServices": [],
                "variables": {},
                "defaultFlowFileExpiration": "0 sec",
                "defaultBackPressureObjectThreshold": 10000,
                "defaultBackPressureDataSizeThreshold": "1 GB",
                "componentType": "PROCESS_GROUP",
                "flowFileConcurrency": "UNBOUNDED",
                "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
                "groupIdentifier": "834b965f-df2f-3a79-91bf-820c95ab1e57"
            },
            {
                "identifier": "43670607-2273-3686-98e1-a9086ad1739c",
                "instanceIdentifier": "4fea6ae4-623c-30b2-7af3-06c3423060cb",
                "name": "Observations",
                "comments": "",
                "position": {
                    "x": -200.0,
                    "y": 416.0
                },
                "processGroups": [],
                "remoteProcessGroups": [],
                "processors": [
                    {
                        "identifier": "b1a70583-2d5b-3412-a4db-fbb81d47db74",
                        "instanceIdentifier": "64b2291e-53cc-36a1-74fe-bb6c38d013c7",
                        "name": "InvokeHTTP",
                        "comments": "",
                        "position": {
                            "x": 136.0,
                            "y": 832.0
                        },
                        "type": "org.apache.nifi.processors.standard.InvokeHTTP",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-nar",
                            "version": "1.20.0"
                        },
                        "properties": {
                            "Proxy Host": null,
                            "Attributes to Send": null,
                            "use-etag": "false",
                            "proxy-configuration-service": null,
                            "Proxy Type": "http",
                            "cookie-strategy": "DISABLED",
                            "Connection Timeout": "5 secs",
                            "send-message-body": "true",
                            "set-form-filename": "true",
                            "Always Output Response": "false",
                            "etag-max-cache-size": "10MB",
                            "Content-Encoding": "DISABLED",
                            "disable-http2": "False",
                            "idle-timeout": "5 mins",
                            "Put Response Body In Attribute": null,
                            "Use Chunked Encoding": "false",
                            "Follow Redirects": "True",
                            "Remote URL": "http://ldes-server:8080/water-quality-observations",
                            "form-body-form-name": null,
                            "Content-Type": "application/n-quads",
                            "flow-file-naming-strategy": "RANDOM",
                            "max-idle-connections": "5",
                            "invokehttp-proxy-user": null,
                            "Read Timeout": "15 secs",
                            "Max Length To Put In Attribute": "256",
                            "ignore-response-content": "false",
                            "Proxy Port": null,
                            "SSL Context Service": null,
                            "Digest Authentication": "false",
                            "HTTP Method": "POST",
                            "Add Response Headers to Request": "false",
                            "oauth2-access-token-provider": null,
                            "Basic Authentication Username": null,
                            "Include Date Header": "True",
                            "Penalize on \"No Retry\"": "false",
                            "Useragent": null
                        },
                        "propertyDescriptors": {
                            "Proxy Host": {
                                "name": "Proxy Host",
                                "displayName": "Proxy Host",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Attributes to Send": {
                                "name": "Attributes to Send",
                                "displayName": "Request Header Attributes Pattern",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "use-etag": {
                                "name": "use-etag",
                                "displayName": "Response Cache Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "proxy-configuration-service": {
                                "name": "proxy-configuration-service",
                                "displayName": "Proxy Configuration Service",
                                "identifiesControllerService": true,
                                "sensitive": false
                            },
                            "Proxy Type": {
                                "name": "Proxy Type",
                                "displayName": "Proxy Type",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Basic Authentication Password": {
                                "name": "Basic Authentication Password",
                                "displayName": "Request Password",
                                "identifiesControllerService": false,
                                "sensitive": true
                            },
                            "cookie-strategy": {
                                "name": "cookie-strategy",
                                "displayName": "Response Cookie Strategy",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Connection Timeout": {
                                "name": "Connection Timeout",
                                "displayName": "Socket Connect Timeout",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "send-message-body": {
                                "name": "send-message-body",
                                "displayName": "Request Body Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "set-form-filename": {
                                "name": "set-form-filename",
                                "displayName": "Request Multipart Form-Data Filename Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Always Output Response": {
                                "name": "Always Output Response",
                                "displayName": "Response Generation Required",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "etag-max-cache-size": {
                                "name": "etag-max-cache-size",
                                "displayName": "Response Cache Size",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Content-Encoding": {
                                "name": "Content-Encoding",
                                "displayName": "Request Content-Encoding",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "disable-http2": {
                                "name": "disable-http2",
                                "displayName": "HTTP/2 Disabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "idle-timeout": {
                                "name": "idle-timeout",
                                "displayName": "Socket Idle Timeout",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Put Response Body In Attribute": {
                                "name": "Put Response Body In Attribute",
                                "displayName": "Response Body Attribute Name",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Use Chunked Encoding": {
                                "name": "Use Chunked Encoding",
                                "displayName": "Request Chunked Transfer-Encoding Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Follow Redirects": {
                                "name": "Follow Redirects",
                                "displayName": "Response Redirects Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Remote URL": {
                                "name": "Remote URL",
                                "displayName": "HTTP URL",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "form-body-form-name": {
                                "name": "form-body-form-name",
                                "displayName": "Request Multipart Form-Data Name",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Content-Type": {
                                "name": "Content-Type",
                                "displayName": "Request Content-Type",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "flow-file-naming-strategy": {
                                "name": "flow-file-naming-strategy",
                                "displayName": "Response FlowFile Naming Strategy",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "max-idle-connections": {
                                "name": "max-idle-connections",
                                "displayName": "Socket Idle Connections",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "invokehttp-proxy-user": {
                                "name": "invokehttp-proxy-user",
                                "displayName": "Proxy Username",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Read Timeout": {
                                "name": "Read Timeout",
                                "displayName": "Socket Read Timeout",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Max Length To Put In Attribute": {
                                "name": "Max Length To Put In Attribute",
                                "displayName": "Response Body Attribute Size",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "invokehttp-proxy-password": {
                                "name": "invokehttp-proxy-password",
                                "displayName": "Proxy Password",
                                "identifiesControllerService": false,
                                "sensitive": true
                            },
                            "ignore-response-content": {
                                "name": "ignore-response-content",
                                "displayName": "Response Body Ignored",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Proxy Port": {
                                "name": "Proxy Port",
                                "displayName": "Proxy Port",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "SSL Context Service": {
                                "name": "SSL Context Service",
                                "displayName": "SSL Context Service",
                                "identifiesControllerService": true,
                                "sensitive": false
                            },
                            "Digest Authentication": {
                                "name": "Digest Authentication",
                                "displayName": "Request Digest Authentication Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "HTTP Method": {
                                "name": "HTTP Method",
                                "displayName": "HTTP Method",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Add Response Headers to Request": {
                                "name": "Add Response Headers to Request",
                                "displayName": "Response Header Request Attributes Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "oauth2-access-token-provider": {
                                "name": "oauth2-access-token-provider",
                                "displayName": "Request OAuth2 Access Token Provider",
                                "identifiesControllerService": true,
                                "sensitive": false
                            },
                            "Basic Authentication Username": {
                                "name": "Basic Authentication Username",
                                "displayName": "Request Username",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Include Date Header": {
                                "name": "Include Date Header",
                                "displayName": "Request Date Header Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Penalize on \"No Retry\"": {
                                "name": "Penalize on \"No Retry\"",
                                "displayName": "Request Failure Penalization Enabled",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Useragent": {
                                "name": "Useragent",
                                "displayName": "Request User-Agent",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 0,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [
                            "Response",
                            "No Retry",
                            "Retry",
                            "Original",
                            "Failure"
                        ],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [
                            "Retry",
                            "Failure"
                        ],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
                    },
                    {
                        "identifier": "00e3f017-689f-3f82-99e0-5aa79f1be5b2",
                        "instanceIdentifier": "76b7e860-e171-3f08-2bdc-1d1fe3076138",
                        "name": "CreateVersionObjectProcessor",
                        "comments": "",
                        "position": {
                            "x": 144.0,
                            "y": 640.0
                        },
                        "type": "be.vlaanderen.informatievlaanderen.ldes.ldi.processors.CreateVersionObjectProcessor",
                        "bundle": {
                            "group": "be.vlaanderen.informatievlaanderen.ldes.ldi.nifi",
                            "artifact": "create-version-object-processor",
                            "version": "0.0.1-SNAPSHOT"
                        },
                        "properties": {
                            "DATE_OBSERVED_VALUE_RDF_PROPERTY": "ttps://uri.etsi.org/ngsi-ld/observedAt",
                            "GENERATED_AT_TIME_PROPERTY": "http://www.w3.org/ns/prov#generatedAtTime",
                            "DATA_DESTINATION_FORMAT": "application/n-quads",
                            "MEMBER_RDF_SYNTAX_TYPE": "https://uri.etsi.org/ngsi-ld/default-context/WaterQualityObserved",
                            "DELIMITER": "/",
                            "VERSION_OF_KEY": "http://purl.org/dc/terms/isVersionOf",
                            "DATA_INPUT_FORMAT": "application/ld+json"
                        },
                        "propertyDescriptors": {
                            "DATE_OBSERVED_VALUE_RDF_PROPERTY": {
                                "name": "DATE_OBSERVED_VALUE_RDF_PROPERTY",
                                "displayName": "RDF property to find the timestamp value",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "GENERATED_AT_TIME_PROPERTY": {
                                "name": "GENERATED_AT_TIME_PROPERTY",
                                "displayName": "GeneratedAtTime property",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "DATA_DESTINATION_FORMAT": {
                                "name": "DATA_DESTINATION_FORMAT",
                                "displayName": "Data destination format",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "MEMBER_RDF_SYNTAX_TYPE": {
                                "name": "MEMBER_RDF_SYNTAX_TYPE",
                                "displayName": "IRI to member RDF syntax type",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "DELIMITER": {
                                "name": "DELIMITER",
                                "displayName": "Delimiter between entity ID and timestamp value",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "VERSION_OF_KEY": {
                                "name": "VERSION_OF_KEY",
                                "displayName": "VersionOf Property",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "DATA_INPUT_FORMAT": {
                                "name": "DATA_INPUT_FORMAT",
                                "displayName": "Data input format",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 0,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
                    },
                    {
                        "identifier": "5979b385-ca0c-3544-bdef-d22bec323d1b",
                        "instanceIdentifier": "4c15ea7b-cef7-3c51-e80b-1246c3284d1e",
                        "name": "Ngsi-v2 to LD",
                        "comments": "",
                        "position": {
                            "x": 144.0,
                            "y": 240.0
                        },
                        "type": "be.vlaanderen.informatievlaanderen.ldes.ldi.processors.NgsiV2ToLdProcessor",
                        "bundle": {
                            "group": "be.vlaanderen.informatievlaanderen.ldes.ldi.nifi",
                            "artifact": "ngsiv2-to-ld-processor",
                            "version": "0.0.1-SNAPSHOT"
                        },
                        "properties": {
                            "CORE_CONTEXT": "https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context-v1.3.jsonld",
                            "LD_CONTEXT": null,
                            "DATA_IDENTIFIER": "data"
                        },
                        "propertyDescriptors": {
                            "CORE_CONTEXT": {
                                "name": "CORE_CONTEXT",
                                "displayName": "NGSI LD core context",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "LD_CONTEXT": {
                                "name": "LD_CONTEXT",
                                "displayName": "Data-specific NGSI LD context",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "DATA_IDENTIFIER": {
                                "name": "DATA_IDENTIFIER",
                                "displayName": "Data array key",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 0,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
                    },
                    {
                        "identifier": "fcf6f11b-fa4d-3cd3-8389-605af02b7284",
                        "instanceIdentifier": "b6b9107d-3bdd-3690-3716-9a186713a98f",
                        "name": "UpdateAttribute",
                        "comments": "",
                        "position": {
                            "x": 144.0,
                            "y": 24.0
                        },
                        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-update-attribute-nar",
                            "version": "1.20.0"
                        },
                        "properties": {
                            "Delete Attributes Expression": null,
                            "Store State": "Do not store state",
                            "canonical-value-lookup-cache-size": "100",
                            "mime.type": "application/json",
                            "Stateful Variables Initial Value": null
                        },
                        "propertyDescriptors": {
                            "Delete Attributes Expression": {
                                "name": "Delete Attributes Expression",
                                "displayName": "Delete Attributes Expression",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Store State": {
                                "name": "Store State",
                                "displayName": "Store State",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "canonical-value-lookup-cache-size": {
                                "name": "canonical-value-lookup-cache-size",
                                "displayName": "Cache Value Lookup Cache Size",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "mime.type": {
                                "name": "mime.type",
                                "displayName": "mime.type",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Stateful Variables Initial Value": {
                                "name": "Stateful Variables Initial Value",
                                "displayName": "Stateful Variables Initial Value",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 25,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
                    }
                ],
                "inputPorts": [
                    {
                        "identifier": "907437db-7d8a-3786-9a16-04ba7c8645eb",
                        "instanceIdentifier": "cda1443b-0942-35d2-688b-b9464c6b0b9a",
                        "name": "observations-pipeline",
                        "position": {
                            "x": 192.0,
                            "y": -96.0
                        },
                        "type": "INPUT_PORT",
                        "concurrentlySchedulableTaskCount": 1,
                        "scheduledState": "ENABLED",
                        "allowRemoteAccess": false,
                        "componentType": "INPUT_PORT",
                        "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
                    }
                ],
                "outputPorts": [],
                "connections": [
                    {
                        "identifier": "130dcc8e-ca6f-3208-9197-49da5edbd857",
                        "instanceIdentifier": "18a6e5fd-e9a0-3bba-aced-68a3930c465c",
                        "name": "",
                        "source": {
                            "id": "907437db-7d8a-3786-9a16-04ba7c8645eb",
                            "type": "INPUT_PORT",
                            "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
                            "name": "observations-pipeline",
                            "instanceIdentifier": "cda1443b-0942-35d2-688b-b9464c6b0b9a"
                        },
                        "destination": {
                            "id": "fcf6f11b-fa4d-3cd3-8389-605af02b7284",
                            "type": "PROCESSOR",
                            "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
                            "name": "UpdateAttribute",
                            "comments": "",
                            "instanceIdentifier": "b6b9107d-3bdd-3690-3716-9a186713a98f"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            ""
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
                    },
                    {
                        "identifier": "f6beeadb-c0fe-3ada-aedc-cf69dadb9462",
                        "instanceIdentifier": "00fe77e0-9f1c-322e-901e-75c3e5c754dd",
                        "name": "",
                        "source": {
                            "id": "00e3f017-689f-3f82-99e0-5aa79f1be5b2",
                            "type": "PROCESSOR",
                            "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
                            "name": "CreateVersionObjectProcessor",
                            "comments": "",
                            "instanceIdentifier": "76b7e860-e171-3f08-2bdc-1d1fe3076138"
                        },
                        "destination": {
                            "id": "79239193-19d2-372a-81f6-e47d2d1f3728",
                            "type": "FUNNEL",
                            "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
                            "name": "Funnel",
                            "comments": "",
                            "instanceIdentifier": "0a7595a0-3cc1-3e2a-28ab-7d8a0a79e6f2"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "unparseable"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
                    },
                    {
                        "identifier": "227d81ad-4c1c-3a1e-a0ae-189059cd7b48",
                        "instanceIdentifier": "94650f53-27df-3c81-a667-aa818a1cb087",
                        "name": "",
                        "source": {
                            "id": "5979b385-ca0c-3544-bdef-d22bec323d1b",
                            "type": "PROCESSOR",
                            "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
                            "name": "Ngsi-v2 to LD",
                            "comments": "",
                            "instanceIdentifier": "4c15ea7b-cef7-3c51-e80b-1246c3284d1e"
                        },
                        "destination": {
                            "id": "00e3f017-689f-3f82-99e0-5aa79f1be5b2",
                            "type": "PROCESSOR",
                            "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
                            "name": "CreateVersionObjectProcessor",
                            "comments": "",
                            "instanceIdentifier": "76b7e860-e171-3f08-2bdc-1d1fe3076138"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "success"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
                    },
                    {
                        "identifier": "ae401ff4-d0cd-3b41-af4d-f9ecb53f0c81",
                        "instanceIdentifier": "373b0f15-796e-34e3-33f3-ed71c6aa5cdd",
                        "name": "",
                        "source": {
                            "id": "5979b385-ca0c-3544-bdef-d22bec323d1b",
                            "type": "PROCESSOR",
                            "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
                            "name": "Ngsi-v2 to LD",
                            "comments": "",
                            "instanceIdentifier": "4c15ea7b-cef7-3c51-e80b-1246c3284d1e"
                        },
                        "destination": {
                            "id": "d5f69fb0-2362-31fc-811c-9c53b746ad89",
                            "type": "FUNNEL",
                            "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
                            "name": "Funnel",
                            "comments": "",
                            "instanceIdentifier": "e5541005-2b17-33b1-253e-d390e010bd60"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "failure"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
                    },
                    {
                        "identifier": "34b360ae-043d-324d-b824-b3b7c6a13407",
                        "instanceIdentifier": "76467db6-1444-38dd-dbf2-3ca339f07dd2",
                        "name": "",
                        "source": {
                            "id": "fcf6f11b-fa4d-3cd3-8389-605af02b7284",
                            "type": "PROCESSOR",
                            "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
                            "name": "UpdateAttribute",
                            "comments": "",
                            "instanceIdentifier": "b6b9107d-3bdd-3690-3716-9a186713a98f"
                        },
                        "destination": {
                            "id": "5979b385-ca0c-3544-bdef-d22bec323d1b",
                            "type": "PROCESSOR",
                            "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
                            "name": "Ngsi-v2 to LD",
                            "comments": "",
                            "instanceIdentifier": "4c15ea7b-cef7-3c51-e80b-1246c3284d1e"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "success"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
                    },
                    {
                        "identifier": "06c1a088-9c23-30ed-97bf-e4216ea6c31e",
                        "instanceIdentifier": "1c0fdc18-fbe2-3cd1-a3f9-ddcced8bdfa2",
                        "name": "",
                        "source": {
                            "id": "00e3f017-689f-3f82-99e0-5aa79f1be5b2",
                            "type": "PROCESSOR",
                            "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
                            "name": "CreateVersionObjectProcessor",
                            "comments": "",
                            "instanceIdentifier": "76b7e860-e171-3f08-2bdc-1d1fe3076138"
                        },
                        "destination": {
                            "id": "b1a70583-2d5b-3412-a4db-fbb81d47db74",
                            "type": "PROCESSOR",
                            "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
                            "name": "InvokeHTTP",
                            "comments": "",
                            "instanceIdentifier": "64b2291e-53cc-36a1-74fe-bb6c38d013c7"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "data"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
                    }
                ],
                "labels": [],
                "funnels": [
                    {
                        "identifier": "79239193-19d2-372a-81f6-e47d2d1f3728",
                        "instanceIdentifier": "0a7595a0-3cc1-3e2a-28ab-7d8a0a79e6f2",
                        "position": {
                            "x": 768.0,
                            "y": 640.0
                        },
                        "componentType": "FUNNEL",
                        "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
                    },
                    {
                        "identifier": "ff7cb7b3-2ca9-3605-9045-03f4db3fe201",
                        "instanceIdentifier": "7d45e8d8-035f-3e8a-fbf6-b6fce63a7513",
                        "position": {
                            "x": 768.0,
                            "y": 464.0
                        },
                        "componentType": "FUNNEL",
                        "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
                    },
                    {
                        "identifier": "d5f69fb0-2362-31fc-811c-9c53b746ad89",
                        "instanceIdentifier": "e5541005-2b17-33b1-253e-d390e010bd60",
                        "position": {
                            "x": 768.0,
                            "y": 264.0
                        },
                        "componentType": "FUNNEL",
                        "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
                    }
                ],
                "controllerServices": [],
                "variables": {},
                "defaultFlowFileExpiration": "0 sec",
                "defaultBackPressureObjectThreshold": 10000,
                "defaultBackPressureDataSizeThreshold": "1 GB",
                "componentType": "PROCESS_GROUP",
                "flowFileConcurrency": "UNBOUNDED",
                "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
                "groupIdentifier": "834b965f-df2f-3a79-91bf-820c95ab1e57"
            }
        ],
        "remoteProcessGroups": [],
        "processors": [
            {
                "identifier": "286f7e17-aaa1-3049-9f71-9e8df9244c16",
                "instanceIdentifier": "b70421d2-a4bc-3d6a-7d6a-093544a72581",
                "name": "Dispatch On Request URL",
                "comments": "",
                "position": {
                    "x": -728.0,
                    "y": 104.0
                },
                "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.20.0"
                },
                "properties": {
                    "observations-pipeline": "${restlistener.request.uri:equals('/observations-pipeline')}",
                    "Routing Strategy": "Route to Property name",
                    "devices-pipeline": "${restlistener.request.uri:equals('/devices-pipeline')}",
                    "device-models-pipeline": "${restlistener.request.uri:equals('/device-models-pipeline')}"
                },
                "propertyDescriptors": {
                    "observations-pipeline": {
                        "name": "observations-pipeline",
                        "displayName": "observations-pipeline",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Routing Strategy": {
                        "name": "Routing Strategy",
                        "displayName": "Routing Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "devices-pipeline": {
                        "name": "devices-pipeline",
                        "displayName": "devices-pipeline",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "device-models-pipeline": {
                        "name": "device-models-pipeline",
                        "displayName": "device-models-pipeline",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "834b965f-df2f-3a79-91bf-820c95ab1e57"
            },
            {
                "identifier": "f8e06a70-e2c5-32ec-8109-be2b8dbf92ec",
                "instanceIdentifier": "e7a17ded-0fb1-33a6-f34c-c4a2322b5d4d",
                "name": "ListenHTTP",
                "comments": "",
                "position": {
                    "x": -728.0,
                    "y": -144.0
                },
                "type": "org.apache.nifi.processors.standard.ListenHTTP",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.20.0"
                },
                "properties": {
                    "authorized-issuer-dn-pattern": ".*",
                    "multipart-request-max-size": "1 MB",
                    "record-writer": null,
                    "HTTP Protocols": "HTTP_1_1",
                    "HTTP Headers to receive as Attributes (Regex)": null,
                    "health-check-port": null,
                    "Authorized DN Pattern": ".*",
                    "max-thread-pool-size": "200",
                    "Base Path": "",
                    "multipart-read-buffer-size": "512 KB",
                    "SSL Context Service": null,
                    "Max Unconfirmed Flowfile Time": "60 secs",
                    "Max Data to Receive per Second": null,
                    "client-authentication": "AUTO",
                    "Return Code": "200",
                    "record-reader": null,
                    "Listening Port": "8080"
                },
                "propertyDescriptors": {
                    "authorized-issuer-dn-pattern": {
                        "name": "authorized-issuer-dn-pattern",
                        "displayName": "Authorized Issuer DN Pattern",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "multipart-request-max-size": {
                        "name": "multipart-request-max-size",
                        "displayName": "Multipart Request Max Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "record-writer": {
                        "name": "record-writer",
                        "displayName": "Record Writer",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "HTTP Protocols": {
                        "name": "HTTP Protocols",
                        "displayName": "HTTP Protocols",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "HTTP Headers to receive as Attributes (Regex)": {
                        "name": "HTTP Headers to receive as Attributes (Regex)",
                        "displayName": "HTTP Headers to receive as Attributes (Regex)",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "health-check-port": {
                        "name": "health-check-port",
                        "displayName": "Listening Port for Health Check Requests",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Authorized DN Pattern": {
                        "name": "Authorized DN Pattern",
                        "displayName": "Authorized Subject DN Pattern",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "max-thread-pool-size": {
                        "name": "max-thread-pool-size",
                        "displayName": "Maximum Thread Pool Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Base Path": {
                        "name": "Base Path",
                        "displayName": "Base Path",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "multipart-read-buffer-size": {
                        "name": "multipart-read-buffer-size",
                        "displayName": "Multipart Read Buffer Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "SSL Context Service": {
                        "name": "SSL Context Service",
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Max Unconfirmed Flowfile Time": {
                        "name": "Max Unconfirmed Flowfile Time",
                        "displayName": "Max Unconfirmed Flowfile Time",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Max Data to Receive per Second": {
                        "name": "Max Data to Receive per Second",
                        "displayName": "Max Data to Receive per Second",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "client-authentication": {
                        "name": "client-authentication",
                        "displayName": "Client Authentication",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Return Code": {
                        "name": "Return Code",
                        "displayName": "Return Code",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "record-reader": {
                        "name": "record-reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Listening Port": {
                        "name": "Listening Port",
                        "displayName": "Listening Port",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "834b965f-df2f-3a79-91bf-820c95ab1e57"
            }
        ],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
            {
                "identifier": "5d5b26f2-c569-3f63-830d-bd866c3181ee",
                "instanceIdentifier": "d7ff75a0-e022-359d-8b05-191c6930cec2",
                "name": "",
                "source": {
                    "id": "f8e06a70-e2c5-32ec-8109-be2b8dbf92ec",
                    "type": "PROCESSOR",
                    "groupId": "834b965f-df2f-3a79-91bf-820c95ab1e57",
                    "name": "ListenHTTP",
                    "comments": "",
                    "instanceIdentifier": "e7a17ded-0fb1-33a6-f34c-c4a2322b5d4d"
                },
                "destination": {
                    "id": "286f7e17-aaa1-3049-9f71-9e8df9244c16",
                    "type": "PROCESSOR",
                    "groupId": "834b965f-df2f-3a79-91bf-820c95ab1e57",
                    "name": "Dispatch On Request URL",
                    "comments": "",
                    "instanceIdentifier": "b70421d2-a4bc-3d6a-7d6a-093544a72581"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "834b965f-df2f-3a79-91bf-820c95ab1e57"
            },
            {
                "identifier": "e1c6a60e-7a68-39c7-9254-ca280c780743",
                "instanceIdentifier": "28f56b77-b1df-3ee6-481b-e040b8a56f03",
                "name": "",
                "source": {
                    "id": "286f7e17-aaa1-3049-9f71-9e8df9244c16",
                    "type": "PROCESSOR",
                    "groupId": "834b965f-df2f-3a79-91bf-820c95ab1e57",
                    "name": "Dispatch On Request URL",
                    "comments": "",
                    "instanceIdentifier": "b70421d2-a4bc-3d6a-7d6a-093544a72581"
                },
                "destination": {
                    "id": "338c2167-3a4c-3fb7-8d3e-a33100b5c4b5",
                    "type": "INPUT_PORT",
                    "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
                    "name": "device-models-pipeline",
                    "comments": "",
                    "instanceIdentifier": "4a4e836e-2bc7-3b54-cd81-a95f6144edb3"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "device-models-pipeline"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "834b965f-df2f-3a79-91bf-820c95ab1e57"
            },
            {
                "identifier": "697474d5-8358-3d10-b4a0-afe6ac9099a7",
                "instanceIdentifier": "dee77114-9265-3c7d-34fc-b068313009b7",
                "name": "",
                "source": {
                    "id": "286f7e17-aaa1-3049-9f71-9e8df9244c16",
                    "type": "PROCESSOR",
                    "groupId": "834b965f-df2f-3a79-91bf-820c95ab1e57",
                    "name": "Dispatch On Request URL",
                    "comments": "",
                    "instanceIdentifier": "b70421d2-a4bc-3d6a-7d6a-093544a72581"
                },
                "destination": {
                    "id": "907437db-7d8a-3786-9a16-04ba7c8645eb",
                    "type": "INPUT_PORT",
                    "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
                    "name": "observations-pipeline",
                    "instanceIdentifier": "cda1443b-0942-35d2-688b-b9464c6b0b9a"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "observations-pipeline"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "834b965f-df2f-3a79-91bf-820c95ab1e57"
            },
            {
                "identifier": "cbfd8e01-53c9-37bf-b00f-917ca40c41e8",
                "instanceIdentifier": "40ea78a9-8717-3f98-08e7-b6c8eb2c5b12",
                "name": "",
                "source": {
                    "id": "286f7e17-aaa1-3049-9f71-9e8df9244c16",
                    "type": "PROCESSOR",
                    "groupId": "834b965f-df2f-3a79-91bf-820c95ab1e57",
                    "name": "Dispatch On Request URL",
                    "comments": "",
                    "instanceIdentifier": "b70421d2-a4bc-3d6a-7d6a-093544a72581"
                },
                "destination": {
                    "id": "88996173-6207-3baf-9ee1-7b465250627b",
                    "type": "INPUT_PORT",
                    "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
                    "name": "devices-pipeline",
                    "instanceIdentifier": "19c9fda7-347f-3192-31f4-41b959354d3f"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "devices-pipeline"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "834b965f-df2f-3a79-91bf-820c95ab1e57"
            },
            {
                "identifier": "8a66b055-3814-3ca8-aac6-1cb1d06fa022",
                "instanceIdentifier": "1b3517dc-6e45-34d2-f053-1bde65d37e26",
                "name": "",
                "source": {
                    "id": "286f7e17-aaa1-3049-9f71-9e8df9244c16",
                    "type": "PROCESSOR",
                    "groupId": "834b965f-df2f-3a79-91bf-820c95ab1e57",
                    "name": "Dispatch On Request URL",
                    "comments": "",
                    "instanceIdentifier": "b70421d2-a4bc-3d6a-7d6a-093544a72581"
                },
                "destination": {
                    "id": "9ec33875-af3d-3372-aac1-589f37805c84",
                    "type": "FUNNEL",
                    "groupId": "834b965f-df2f-3a79-91bf-820c95ab1e57",
                    "name": "Funnel",
                    "comments": "",
                    "instanceIdentifier": "37dfceaf-2ef8-3058-3220-62d4a47312b5"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "unmatched"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "834b965f-df2f-3a79-91bf-820c95ab1e57"
            }
        ],
        "labels": [],
        "funnels": [
            {
                "identifier": "9ec33875-af3d-3372-aac1-589f37805c84",
                "instanceIdentifier": "37dfceaf-2ef8-3058-3220-62d4a47312b5",
                "position": {
                    "x": -88.0,
                    "y": 136.0
                },
                "componentType": "FUNNEL",
                "groupIdentifier": "834b965f-df2f-3a79-91bf-820c95ab1e57"
            }
        ],
        "controllerServices": [],
        "variables": {},
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "componentType": "PROCESS_GROUP",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE"
    },
    "externalControllerServices": {},
    "parameterContexts": {},
    "flowEncodingVersion": "1.0",
    "parameterProviders": {},
    "latest": false
}