tests/014.workbench-ngsi-v2-to-ngsi-ld/nifi-workflow.json
{
  "flowContents": {
    "identifier": "f1d78132-3a55-35c8-bd3b-fb7785094678",
    "instanceIdentifier": "a3f2d876-018b-1000-e456-a1d9a7dcb7dc",
    "name": "nifi-workflow",
    "comments": "",
    "position": {
      "x": 1096.0,
      "y": 248.0
    },
    "processGroups": [
      {
        "identifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
        "instanceIdentifier": "29a2e128-8c23-3756-b56f-b214c0ec0795",
        "name": "Devices",
        "comments": "",
        "position": {
          "x": -744.0,
          "y": 424.0
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
          {
            "identifier": "ff6bbe29-6d33-3558-9201-9ad0388b456c",
            "instanceIdentifier": "78f0a155-2a43-34fb-a0a4-462afccf64c4",
            "name": "Ngsi-v2 to LD",
            "comments": "",
            "position": {
              "x": 128.0,
              "y": 408.0
            },
            "type": "be.vlaanderen.informatievlaanderen.ldes.ldi.processors.NgsiV2ToLdProcessor",
            "bundle": {
              "group": "be.vlaanderen.informatievlaanderen.ldes.ldi.nifi",
              "artifact": "ngsiv2-to-ld-processor",
              "version": "1.9.0-SNAPSHOT"
            },
            "properties": {
              "CORE_CONTEXT": "https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context-v1.3.jsonld",
              "LD_CONTEXT": null,
              "DATA_IDENTIFIER": "data"
            },
            "propertyDescriptors": {
              "CORE_CONTEXT": {
                "name": "CORE_CONTEXT",
                "displayName": "NGSI LD core context",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "LD_CONTEXT": {
                "name": "LD_CONTEXT",
                "displayName": "Data-specific NGSI LD context",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "DATA_IDENTIFIER": {
                "name": "DATA_IDENTIFIER",
                "displayName": "Data array key",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
          },
          {
            "identifier": "78017cda-0644-383d-bda5-65683be74a9a",
            "instanceIdentifier": "a9a1d86b-03e0-3e4b-f6f1-05ae9cf32de8",
            "name": "CreateVersionObjectProcessor",
            "comments": "",
            "position": {
              "x": 120.0,
              "y": 648.0
            },
            "type": "be.vlaanderen.informatievlaanderen.ldes.ldi.processors.CreateVersionObjectProcessor",
            "bundle": {
              "group": "be.vlaanderen.informatievlaanderen.ldes.ldi.nifi",
              "artifact": "create-version-object-processor",
              "version": "1.9.0-SNAPSHOT"
            },
            "properties": {
              "DATE_OBSERVED_VALUE_RDF_PROPERTY": "https://uri.etsi.org/ngsi-ld/observedAt",
              "GENERATED_AT_TIME_PROPERTY": "http://www.w3.org/ns/prov#generatedAtTime",
              "DATA_DESTINATION_FORMAT": "application/n-quads",
              "MEMBER_RDF_SYNTAX_TYPE": "https://uri.etsi.org/ngsi-ld/default-context/Device",
              "DELIMITER": "/",
              "VERSION_OF_KEY": "http://purl.org/dc/terms/isVersionOf",
              "DATA_INPUT_FORMAT": "application/ld+json"
            },
            "propertyDescriptors": {
              "DATE_OBSERVED_VALUE_RDF_PROPERTY": {
                "name": "DATE_OBSERVED_VALUE_RDF_PROPERTY",
                "displayName": "RDF property to find the timestamp value",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "GENERATED_AT_TIME_PROPERTY": {
                "name": "GENERATED_AT_TIME_PROPERTY",
                "displayName": "GeneratedAtTime property",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "DATA_DESTINATION_FORMAT": {
                "name": "DATA_DESTINATION_FORMAT",
                "displayName": "Data destination format",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "MEMBER_RDF_SYNTAX_TYPE": {
                "name": "MEMBER_RDF_SYNTAX_TYPE",
                "displayName": "IRI to member RDF syntax type",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "DELIMITER": {
                "name": "DELIMITER",
                "displayName": "Delimiter between entity ID and timestamp value",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "VERSION_OF_KEY": {
                "name": "VERSION_OF_KEY",
                "displayName": "VersionOf Property",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "DATA_INPUT_FORMAT": {
                "name": "DATA_INPUT_FORMAT",
                "displayName": "Data input format",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
          },
          {
            "identifier": "b1a70583-2d5b-3412-a4db-fbb81d47db74",
            "instanceIdentifier": "44ef7b53-9351-3daf-3af6-fdf408bf4ca7",
            "name": "InvokeHTTP",
            "comments": "",
            "position": {
              "x": 112.0,
              "y": 888.0
            },
            "type": "org.apache.nifi.processors.standard.InvokeHTTP",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "1.20.0"
            },
            "properties": {
              "Proxy Host": null,
              "Attributes to Send": null,
              "use-etag": "false",
              "proxy-configuration-service": null,
              "Proxy Type": "http",
              "cookie-strategy": "DISABLED",
              "Connection Timeout": "5 secs",
              "send-message-body": "true",
              "set-form-filename": "true",
              "Always Output Response": "false",
              "etag-max-cache-size": "10MB",
              "Content-Encoding": "DISABLED",
              "disable-http2": "False",
              "idle-timeout": "5 mins",
              "Put Response Body In Attribute": null,
              "Use Chunked Encoding": "false",
              "Follow Redirects": "True",
              "Remote URL": "http://ldes-server:8080/devices",
              "form-body-form-name": null,
              "Content-Type": "application/n-quads",
              "flow-file-naming-strategy": "RANDOM",
              "max-idle-connections": "5",
              "invokehttp-proxy-user": null,
              "Read Timeout": "15 secs",
              "Max Length To Put In Attribute": "256",
              "ignore-response-content": "false",
              "Proxy Port": null,
              "SSL Context Service": null,
              "Digest Authentication": "false",
              "HTTP Method": "POST",
              "Add Response Headers to Request": "false",
              "oauth2-access-token-provider": null,
              "Basic Authentication Username": null,
              "Include Date Header": "True",
              "Penalize on \"No Retry\"": "false",
              "Useragent": null
            },
            "propertyDescriptors": {
              "Proxy Host": {
                "name": "Proxy Host",
                "displayName": "Proxy Host",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Attributes to Send": {
                "name": "Attributes to Send",
                "displayName": "Request Header Attributes Pattern",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "use-etag": {
                "name": "use-etag",
                "displayName": "Response Cache Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "proxy-configuration-service": {
                "name": "proxy-configuration-service",
                "displayName": "Proxy Configuration Service",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "Proxy Type": {
                "name": "Proxy Type",
                "displayName": "Proxy Type",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Basic Authentication Password": {
                "name": "Basic Authentication Password",
                "displayName": "Request Password",
                "identifiesControllerService": false,
                "sensitive": true
              },
              "cookie-strategy": {
                "name": "cookie-strategy",
                "displayName": "Response Cookie Strategy",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Connection Timeout": {
                "name": "Connection Timeout",
                "displayName": "Socket Connect Timeout",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "send-message-body": {
                "name": "send-message-body",
                "displayName": "Request Body Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "set-form-filename": {
                "name": "set-form-filename",
                "displayName": "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Always Output Response": {
                "name": "Always Output Response",
                "displayName": "Response Generation Required",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "etag-max-cache-size": {
                "name": "etag-max-cache-size",
                "displayName": "Response Cache Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Content-Encoding": {
                "name": "Content-Encoding",
                "displayName": "Request Content-Encoding",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "disable-http2": {
                "name": "disable-http2",
                "displayName": "HTTP/2 Disabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "idle-timeout": {
                "name": "idle-timeout",
                "displayName": "Socket Idle Timeout",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Put Response Body In Attribute": {
                "name": "Put Response Body In Attribute",
                "displayName": "Response Body Attribute Name",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Use Chunked Encoding": {
                "name": "Use Chunked Encoding",
                "displayName": "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Follow Redirects": {
                "name": "Follow Redirects",
                "displayName": "Response Redirects Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Remote URL": {
                "name": "Remote URL",
                "displayName": "HTTP URL",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "form-body-form-name": {
                "name": "form-body-form-name",
                "displayName": "Request Multipart Form-Data Name",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Content-Type": {
                "name": "Content-Type",
                "displayName": "Request Content-Type",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "flow-file-naming-strategy": {
                "name": "flow-file-naming-strategy",
                "displayName": "Response FlowFile Naming Strategy",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "max-idle-connections": {
                "name": "max-idle-connections",
                "displayName": "Socket Idle Connections",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "invokehttp-proxy-user": {
                "name": "invokehttp-proxy-user",
                "displayName": "Proxy Username",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Read Timeout": {
                "name": "Read Timeout",
                "displayName": "Socket Read Timeout",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Max Length To Put In Attribute": {
                "name": "Max Length To Put In Attribute",
                "displayName": "Response Body Attribute Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "invokehttp-proxy-password": {
                "name": "invokehttp-proxy-password",
                "displayName": "Proxy Password",
                "identifiesControllerService": false,
                "sensitive": true
              },
              "ignore-response-content": {
                "name": "ignore-response-content",
                "displayName": "Response Body Ignored",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Proxy Port": {
                "name": "Proxy Port",
                "displayName": "Proxy Port",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "SSL Context Service": {
                "name": "SSL Context Service",
                "displayName": "SSL Context Service",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "Digest Authentication": {
                "name": "Digest Authentication",
                "displayName": "Request Digest Authentication Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "HTTP Method": {
                "name": "HTTP Method",
                "displayName": "HTTP Method",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Add Response Headers to Request": {
                "name": "Add Response Headers to Request",
                "displayName": "Response Header Request Attributes Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "oauth2-access-token-provider": {
                "name": "oauth2-access-token-provider",
                "displayName": "Request OAuth2 Access Token Provider",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "Basic Authentication Username": {
                "name": "Basic Authentication Username",
                "displayName": "Request Username",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Include Date Header": {
                "name": "Include Date Header",
                "displayName": "Request Date Header Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Penalize on \"No Retry\"": {
                "name": "Penalize on \"No Retry\"",
                "displayName": "Request Failure Penalization Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Useragent": {
                "name": "Useragent",
                "displayName": "Request User-Agent",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "Response",
              "No Retry",
              "Retry",
              "Original",
              "Failure"
            ],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [
              "Retry",
              "Failure"
            ],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
          },
          {
            "identifier": "43555904-2dac-33ee-b7cf-2937cd75c370",
            "instanceIdentifier": "047279e2-503a-313f-f884-22dd8f328bd1",
            "name": "UpdateAttribute",
            "comments": "",
            "position": {
              "x": 136.0,
              "y": 168.0
            },
            "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-update-attribute-nar",
              "version": "1.20.0"
            },
            "properties": {
              "Delete Attributes Expression": null,
              "Store State": "Do not store state",
              "canonical-value-lookup-cache-size": "100",
              "mime.type": "application/json",
              "Stateful Variables Initial Value": null
            },
            "propertyDescriptors": {
              "Delete Attributes Expression": {
                "name": "Delete Attributes Expression",
                "displayName": "Delete Attributes Expression",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Store State": {
                "name": "Store State",
                "displayName": "Store State",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "canonical-value-lookup-cache-size": {
                "name": "canonical-value-lookup-cache-size",
                "displayName": "Cache Value Lookup Cache Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "mime.type": {
                "name": "mime.type",
                "displayName": "mime.type",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Stateful Variables Initial Value": {
                "name": "Stateful Variables Initial Value",
                "displayName": "Stateful Variables Initial Value",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 25,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
          }
        ],
        "inputPorts": [
          {
            "identifier": "88996173-6207-3baf-9ee1-7b465250627b",
            "instanceIdentifier": "0ccc5cdc-c6e8-324a-3396-151d22a4c160",
            "name": "devices-pipeline",
            "position": {
              "x": 184.0,
              "y": 32.0
            },
            "type": "INPUT_PORT",
            "concurrentlySchedulableTaskCount": 1,
            "scheduledState": "ENABLED",
            "allowRemoteAccess": false,
            "componentType": "INPUT_PORT",
            "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
          }
        ],
        "outputPorts": [],
        "connections": [
          {
            "identifier": "807a9e59-1634-34c5-9944-71c31ccffb06",
            "instanceIdentifier": "1fbf76ec-6442-30fb-beea-1215280f2de3",
            "name": "",
            "source": {
              "id": "78017cda-0644-383d-bda5-65683be74a9a",
              "type": "PROCESSOR",
              "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
              "name": "CreateVersionObjectProcessor",
              "comments": "",
              "instanceIdentifier": "a9a1d86b-03e0-3e4b-f6f1-05ae9cf32de8"
            },
            "destination": {
              "id": "b1a70583-2d5b-3412-a4db-fbb81d47db74",
              "type": "PROCESSOR",
              "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
              "name": "InvokeHTTP",
              "comments": "",
              "instanceIdentifier": "44ef7b53-9351-3daf-3af6-fdf408bf4ca7"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "data"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
          },
          {
            "identifier": "5ba94af5-ba5b-3f9d-a47d-752eebe4248d",
            "instanceIdentifier": "f7572fe2-5406-369b-f572-f7ba0ecddbd4",
            "name": "",
            "source": {
              "id": "78017cda-0644-383d-bda5-65683be74a9a",
              "type": "PROCESSOR",
              "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
              "name": "CreateVersionObjectProcessor",
              "comments": "",
              "instanceIdentifier": "a9a1d86b-03e0-3e4b-f6f1-05ae9cf32de8"
            },
            "destination": {
              "id": "8717d1df-fe20-3c88-a2ef-d96d29524d83",
              "type": "FUNNEL",
              "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
              "name": "Funnel",
              "comments": "",
              "instanceIdentifier": "c30b6731-f05f-335c-a765-94ff3fbda74e"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "unparseable"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
          },
          {
            "identifier": "eef2d03e-3b59-3deb-b472-5ba20aa46f9b",
            "instanceIdentifier": "d7c133fc-a73e-32ae-0986-056ee31f804d",
            "name": "",
            "source": {
              "id": "88996173-6207-3baf-9ee1-7b465250627b",
              "type": "INPUT_PORT",
              "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
              "name": "devices-pipeline",
              "instanceIdentifier": "0ccc5cdc-c6e8-324a-3396-151d22a4c160"
            },
            "destination": {
              "id": "43555904-2dac-33ee-b7cf-2937cd75c370",
              "type": "PROCESSOR",
              "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
              "name": "UpdateAttribute",
              "comments": "",
              "instanceIdentifier": "047279e2-503a-313f-f884-22dd8f328bd1"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              ""
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
          },
          {
            "identifier": "814013bc-b4ea-309f-8ad2-3ef2f2ec9819",
            "instanceIdentifier": "6edc8e5c-a9d4-3e32-8184-d5e8a772831d",
            "name": "",
            "source": {
              "id": "ff6bbe29-6d33-3558-9201-9ad0388b456c",
              "type": "PROCESSOR",
              "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
              "name": "Ngsi-v2 to LD",
              "comments": "",
              "instanceIdentifier": "78f0a155-2a43-34fb-a0a4-462afccf64c4"
            },
            "destination": {
              "id": "78017cda-0644-383d-bda5-65683be74a9a",
              "type": "PROCESSOR",
              "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
              "name": "CreateVersionObjectProcessor",
              "comments": "",
              "instanceIdentifier": "a9a1d86b-03e0-3e4b-f6f1-05ae9cf32de8"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
          },
          {
            "identifier": "6f71f1d1-6460-3878-ae4c-0e5c256b9ab8",
            "instanceIdentifier": "a3f34d5e-018b-1000-0518-7bb11820de5c",
            "name": "",
            "source": {
              "id": "78017cda-0644-383d-bda5-65683be74a9a",
              "type": "PROCESSOR",
              "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
              "name": "CreateVersionObjectProcessor",
              "comments": "",
              "instanceIdentifier": "a9a1d86b-03e0-3e4b-f6f1-05ae9cf32de8"
            },
            "destination": {
              "id": "15dd3b1b-ff9a-3ab8-99fa-a297b1aee49c",
              "type": "FUNNEL",
              "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
              "name": "Funnel",
              "comments": "",
              "instanceIdentifier": "a3f33bda-018b-1000-78c8-c501c3f39808"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "valueNotFound"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
          },
          {
            "identifier": "f29d931f-187b-34e1-a5ba-ed2d64d854e3",
            "instanceIdentifier": "1da8dc39-b2e5-3830-de9a-bfe9e038e3f8",
            "name": "",
            "source": {
              "id": "ff6bbe29-6d33-3558-9201-9ad0388b456c",
              "type": "PROCESSOR",
              "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
              "name": "Ngsi-v2 to LD",
              "comments": "",
              "instanceIdentifier": "78f0a155-2a43-34fb-a0a4-462afccf64c4"
            },
            "destination": {
              "id": "86111d69-ef15-3d4b-a5c5-5a35d27ef541",
              "type": "FUNNEL",
              "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
              "name": "Funnel",
              "comments": "",
              "instanceIdentifier": "960d38a1-53d8-3f64-f35e-265ff542346e"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "failure"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
          },
          {
            "identifier": "7f8e9467-6681-36bc-8af1-55f6da2ca385",
            "instanceIdentifier": "fcaf02a1-94c3-3a5a-b459-e45a4dea0a18",
            "name": "",
            "source": {
              "id": "43555904-2dac-33ee-b7cf-2937cd75c370",
              "type": "PROCESSOR",
              "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
              "name": "UpdateAttribute",
              "comments": "",
              "instanceIdentifier": "047279e2-503a-313f-f884-22dd8f328bd1"
            },
            "destination": {
              "id": "ff6bbe29-6d33-3558-9201-9ad0388b456c",
              "type": "PROCESSOR",
              "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
              "name": "Ngsi-v2 to LD",
              "comments": "",
              "instanceIdentifier": "78f0a155-2a43-34fb-a0a4-462afccf64c4"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
          }
        ],
        "labels": [],
        "funnels": [
          {
            "identifier": "15dd3b1b-ff9a-3ab8-99fa-a297b1aee49c",
            "instanceIdentifier": "a3f33bda-018b-1000-78c8-c501c3f39808",
            "position": {
              "x": -272.0,
              "y": 688.0
            },
            "componentType": "FUNNEL",
            "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
          },
          {
            "identifier": "86111d69-ef15-3d4b-a5c5-5a35d27ef541",
            "instanceIdentifier": "960d38a1-53d8-3f64-f35e-265ff542346e",
            "position": {
              "x": 800.0,
              "y": 456.0
            },
            "componentType": "FUNNEL",
            "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
          },
          {
            "identifier": "8717d1df-fe20-3c88-a2ef-d96d29524d83",
            "instanceIdentifier": "c30b6731-f05f-335c-a765-94ff3fbda74e",
            "position": {
              "x": 808.0,
              "y": 696.0
            },
            "componentType": "FUNNEL",
            "groupIdentifier": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0"
          }
        ],
        "controllerServices": [],
        "variables": {},
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "componentType": "PROCESS_GROUP",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "groupIdentifier": "f1d78132-3a55-35c8-bd3b-fb7785094678"
      },
      {
        "identifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
        "instanceIdentifier": "b7a5c0e2-80f1-320c-694f-57c50ff30e62",
        "name": "Models",
        "comments": "",
        "position": {
          "x": -1336.0,
          "y": 416.0
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
          {
            "identifier": "b17c08b4-3cf8-3f51-9c6f-321d3301e669",
            "instanceIdentifier": "1d6d4d43-dc35-3bf5-3d1c-23bd8e89aeef",
            "name": "UpdateAttribute",
            "comments": "",
            "position": {
              "x": 144.0,
              "y": 256.0
            },
            "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-update-attribute-nar",
              "version": "1.20.0"
            },
            "properties": {
              "Delete Attributes Expression": null,
              "Store State": "Do not store state",
              "canonical-value-lookup-cache-size": "100",
              "mime.type": "application/json",
              "Stateful Variables Initial Value": null
            },
            "propertyDescriptors": {
              "Delete Attributes Expression": {
                "name": "Delete Attributes Expression",
                "displayName": "Delete Attributes Expression",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Store State": {
                "name": "Store State",
                "displayName": "Store State",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "canonical-value-lookup-cache-size": {
                "name": "canonical-value-lookup-cache-size",
                "displayName": "Cache Value Lookup Cache Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "mime.type": {
                "name": "mime.type",
                "displayName": "mime.type",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Stateful Variables Initial Value": {
                "name": "Stateful Variables Initial Value",
                "displayName": "Stateful Variables Initial Value",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 25,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
          },
          {
            "identifier": "b1a70583-2d5b-3412-a4db-fbb81d47db74",
            "instanceIdentifier": "68427c92-5bdd-30ac-0f85-ba80f24848f0",
            "name": "InvokeHTTP",
            "comments": "",
            "position": {
              "x": 144.0,
              "y": 960.0
            },
            "type": "org.apache.nifi.processors.standard.InvokeHTTP",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "1.20.0"
            },
            "properties": {
              "Proxy Host": null,
              "Attributes to Send": null,
              "use-etag": "false",
              "proxy-configuration-service": null,
              "Proxy Type": "http",
              "cookie-strategy": "DISABLED",
              "Connection Timeout": "5 secs",
              "send-message-body": "true",
              "set-form-filename": "true",
              "Always Output Response": "false",
              "etag-max-cache-size": "10MB",
              "Content-Encoding": "DISABLED",
              "disable-http2": "False",
              "idle-timeout": "5 mins",
              "Put Response Body In Attribute": null,
              "Use Chunked Encoding": "false",
              "Follow Redirects": "True",
              "Remote URL": "http://ldes-server:8080/device-models",
              "form-body-form-name": null,
              "Content-Type": "application/n-quads",
              "flow-file-naming-strategy": "RANDOM",
              "max-idle-connections": "5",
              "invokehttp-proxy-user": null,
              "Read Timeout": "15 secs",
              "Max Length To Put In Attribute": "256",
              "ignore-response-content": "false",
              "Proxy Port": null,
              "SSL Context Service": null,
              "Digest Authentication": "false",
              "HTTP Method": "POST",
              "Add Response Headers to Request": "false",
              "oauth2-access-token-provider": null,
              "Basic Authentication Username": null,
              "Include Date Header": "True",
              "Penalize on \"No Retry\"": "false",
              "Useragent": null
            },
            "propertyDescriptors": {
              "Proxy Host": {
                "name": "Proxy Host",
                "displayName": "Proxy Host",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Attributes to Send": {
                "name": "Attributes to Send",
                "displayName": "Request Header Attributes Pattern",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "use-etag": {
                "name": "use-etag",
                "displayName": "Response Cache Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "proxy-configuration-service": {
                "name": "proxy-configuration-service",
                "displayName": "Proxy Configuration Service",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "Proxy Type": {
                "name": "Proxy Type",
                "displayName": "Proxy Type",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Basic Authentication Password": {
                "name": "Basic Authentication Password",
                "displayName": "Request Password",
                "identifiesControllerService": false,
                "sensitive": true
              },
              "cookie-strategy": {
                "name": "cookie-strategy",
                "displayName": "Response Cookie Strategy",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Connection Timeout": {
                "name": "Connection Timeout",
                "displayName": "Socket Connect Timeout",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "send-message-body": {
                "name": "send-message-body",
                "displayName": "Request Body Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "set-form-filename": {
                "name": "set-form-filename",
                "displayName": "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Always Output Response": {
                "name": "Always Output Response",
                "displayName": "Response Generation Required",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "etag-max-cache-size": {
                "name": "etag-max-cache-size",
                "displayName": "Response Cache Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Content-Encoding": {
                "name": "Content-Encoding",
                "displayName": "Request Content-Encoding",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "disable-http2": {
                "name": "disable-http2",
                "displayName": "HTTP/2 Disabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "idle-timeout": {
                "name": "idle-timeout",
                "displayName": "Socket Idle Timeout",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Put Response Body In Attribute": {
                "name": "Put Response Body In Attribute",
                "displayName": "Response Body Attribute Name",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Use Chunked Encoding": {
                "name": "Use Chunked Encoding",
                "displayName": "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Follow Redirects": {
                "name": "Follow Redirects",
                "displayName": "Response Redirects Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Remote URL": {
                "name": "Remote URL",
                "displayName": "HTTP URL",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "form-body-form-name": {
                "name": "form-body-form-name",
                "displayName": "Request Multipart Form-Data Name",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Content-Type": {
                "name": "Content-Type",
                "displayName": "Request Content-Type",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "flow-file-naming-strategy": {
                "name": "flow-file-naming-strategy",
                "displayName": "Response FlowFile Naming Strategy",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "max-idle-connections": {
                "name": "max-idle-connections",
                "displayName": "Socket Idle Connections",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "invokehttp-proxy-user": {
                "name": "invokehttp-proxy-user",
                "displayName": "Proxy Username",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Read Timeout": {
                "name": "Read Timeout",
                "displayName": "Socket Read Timeout",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Max Length To Put In Attribute": {
                "name": "Max Length To Put In Attribute",
                "displayName": "Response Body Attribute Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "invokehttp-proxy-password": {
                "name": "invokehttp-proxy-password",
                "displayName": "Proxy Password",
                "identifiesControllerService": false,
                "sensitive": true
              },
              "ignore-response-content": {
                "name": "ignore-response-content",
                "displayName": "Response Body Ignored",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Proxy Port": {
                "name": "Proxy Port",
                "displayName": "Proxy Port",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "SSL Context Service": {
                "name": "SSL Context Service",
                "displayName": "SSL Context Service",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "Digest Authentication": {
                "name": "Digest Authentication",
                "displayName": "Request Digest Authentication Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "HTTP Method": {
                "name": "HTTP Method",
                "displayName": "HTTP Method",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Add Response Headers to Request": {
                "name": "Add Response Headers to Request",
                "displayName": "Response Header Request Attributes Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "oauth2-access-token-provider": {
                "name": "oauth2-access-token-provider",
                "displayName": "Request OAuth2 Access Token Provider",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "Basic Authentication Username": {
                "name": "Basic Authentication Username",
                "displayName": "Request Username",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Include Date Header": {
                "name": "Include Date Header",
                "displayName": "Request Date Header Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Penalize on \"No Retry\"": {
                "name": "Penalize on \"No Retry\"",
                "displayName": "Request Failure Penalization Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Useragent": {
                "name": "Useragent",
                "displayName": "Request User-Agent",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "Response",
              "No Retry",
              "Retry",
              "Original",
              "Failure"
            ],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [
              "Retry",
              "Failure"
            ],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
          },
          {
            "identifier": "21aa5016-73be-3d87-b7a1-1ed6b676a4da",
            "instanceIdentifier": "eec44b21-c54d-32d7-596e-4a51c9e3b470",
            "name": "Ngsi-v2 to LD",
            "comments": "",
            "position": {
              "x": 144.0,
              "y": 496.0
            },
            "type": "be.vlaanderen.informatievlaanderen.ldes.ldi.processors.NgsiV2ToLdProcessor",
            "bundle": {
              "group": "be.vlaanderen.informatievlaanderen.ldes.ldi.nifi",
              "artifact": "ngsiv2-to-ld-processor",
              "version": "1.9.0-SNAPSHOT"
            },
            "properties": {
              "CORE_CONTEXT": "https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context-v1.3.jsonld",
              "LD_CONTEXT": null,
              "DATA_IDENTIFIER": "data"
            },
            "propertyDescriptors": {
              "CORE_CONTEXT": {
                "name": "CORE_CONTEXT",
                "displayName": "NGSI LD core context",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "LD_CONTEXT": {
                "name": "LD_CONTEXT",
                "displayName": "Data-specific NGSI LD context",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "DATA_IDENTIFIER": {
                "name": "DATA_IDENTIFIER",
                "displayName": "Data array key",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
          },
          {
            "identifier": "7e946e08-b070-3038-b855-5e0d44e91d41",
            "instanceIdentifier": "97f7caa1-c77e-3286-97f7-d1477745ba63",
            "name": "CreateVersionObjectProcessor",
            "comments": "",
            "position": {
              "x": 144.0,
              "y": 736.0
            },
            "type": "be.vlaanderen.informatievlaanderen.ldes.ldi.processors.CreateVersionObjectProcessor",
            "bundle": {
              "group": "be.vlaanderen.informatievlaanderen.ldes.ldi.nifi",
              "artifact": "create-version-object-processor",
              "version": "1.9.0-SNAPSHOT"
            },
            "properties": {
              "DATE_OBSERVED_VALUE_RDF_PROPERTY": "https://uri.etsi.org/ngsi-ld/observedAt",
              "GENERATED_AT_TIME_PROPERTY": "http://www.w3.org/ns/prov#generatedAtTime",
              "DATA_DESTINATION_FORMAT": "application/n-quads",
              "MEMBER_RDF_SYNTAX_TYPE": "https://uri.etsi.org/ngsi-ld/default-context/DeviceModel",
              "DELIMITER": "/",
              "VERSION_OF_KEY": "http://purl.org/dc/terms/isVersionOf",
              "DATA_INPUT_FORMAT": "application/ld+json"
            },
            "propertyDescriptors": {
              "DATE_OBSERVED_VALUE_RDF_PROPERTY": {
                "name": "DATE_OBSERVED_VALUE_RDF_PROPERTY",
                "displayName": "RDF property to find the timestamp value",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "GENERATED_AT_TIME_PROPERTY": {
                "name": "GENERATED_AT_TIME_PROPERTY",
                "displayName": "GeneratedAtTime property",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "DATA_DESTINATION_FORMAT": {
                "name": "DATA_DESTINATION_FORMAT",
                "displayName": "Data destination format",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "MEMBER_RDF_SYNTAX_TYPE": {
                "name": "MEMBER_RDF_SYNTAX_TYPE",
                "displayName": "IRI to member RDF syntax type",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "DELIMITER": {
                "name": "DELIMITER",
                "displayName": "Delimiter between entity ID and timestamp value",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "VERSION_OF_KEY": {
                "name": "VERSION_OF_KEY",
                "displayName": "VersionOf Property",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "DATA_INPUT_FORMAT": {
                "name": "DATA_INPUT_FORMAT",
                "displayName": "Data input format",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
          }
        ],
        "inputPorts": [
          {
            "identifier": "338c2167-3a4c-3fb7-8d3e-a33100b5c4b5",
            "instanceIdentifier": "ac39e796-ae3b-3fc2-4c57-a07147003f65",
            "name": "device-models-pipeline",
            "comments": "",
            "position": {
              "x": 200.0,
              "y": 80.0
            },
            "type": "INPUT_PORT",
            "concurrentlySchedulableTaskCount": 1,
            "scheduledState": "ENABLED",
            "allowRemoteAccess": false,
            "componentType": "INPUT_PORT",
            "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
          }
        ],
        "outputPorts": [],
        "connections": [
          {
            "identifier": "b5b09b19-b55d-3cc6-bb2a-067aa7c90717",
            "instanceIdentifier": "abe0d3b5-7d72-37cf-3010-f7a7f1d349ff",
            "name": "",
            "source": {
              "id": "21aa5016-73be-3d87-b7a1-1ed6b676a4da",
              "type": "PROCESSOR",
              "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
              "name": "Ngsi-v2 to LD",
              "comments": "",
              "instanceIdentifier": "eec44b21-c54d-32d7-596e-4a51c9e3b470"
            },
            "destination": {
              "id": "7e946e08-b070-3038-b855-5e0d44e91d41",
              "type": "PROCESSOR",
              "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
              "name": "CreateVersionObjectProcessor",
              "comments": "",
              "instanceIdentifier": "97f7caa1-c77e-3286-97f7-d1477745ba63"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
          },
          {
            "identifier": "6c582da9-7e26-3162-ba80-6a8a41a5eea4",
            "instanceIdentifier": "a3f314ee-018b-1000-8a13-6c696ac39986",
            "name": "",
            "source": {
              "id": "7e946e08-b070-3038-b855-5e0d44e91d41",
              "type": "PROCESSOR",
              "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
              "name": "CreateVersionObjectProcessor",
              "comments": "",
              "instanceIdentifier": "97f7caa1-c77e-3286-97f7-d1477745ba63"
            },
            "destination": {
              "id": "96c8b800-470a-3c33-8c26-f071a6b568a2",
              "type": "FUNNEL",
              "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
              "name": "Funnel",
              "comments": "",
              "instanceIdentifier": "a3f30476-018b-1000-ba84-6fb6e03febb5"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "valueNotFound"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
          },
          {
            "identifier": "2a5ff01c-81bd-338e-ac86-3b3c17f180a3",
            "instanceIdentifier": "21b84b56-0989-30fd-932a-30f1d6554c08",
            "name": "",
            "source": {
              "id": "338c2167-3a4c-3fb7-8d3e-a33100b5c4b5",
              "type": "INPUT_PORT",
              "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
              "name": "device-models-pipeline",
              "comments": "",
              "instanceIdentifier": "ac39e796-ae3b-3fc2-4c57-a07147003f65"
            },
            "destination": {
              "id": "b17c08b4-3cf8-3f51-9c6f-321d3301e669",
              "type": "PROCESSOR",
              "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
              "name": "UpdateAttribute",
              "comments": "",
              "instanceIdentifier": "1d6d4d43-dc35-3bf5-3d1c-23bd8e89aeef"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              ""
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
          },
          {
            "identifier": "e7a4ae68-0dae-3b40-837f-c76645d2b88b",
            "instanceIdentifier": "3fb3588f-7f2e-315c-0372-04336f46639b",
            "name": "",
            "source": {
              "id": "7e946e08-b070-3038-b855-5e0d44e91d41",
              "type": "PROCESSOR",
              "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
              "name": "CreateVersionObjectProcessor",
              "comments": "",
              "instanceIdentifier": "97f7caa1-c77e-3286-97f7-d1477745ba63"
            },
            "destination": {
              "id": "c25262b8-1144-3888-8486-2710380c761c",
              "type": "FUNNEL",
              "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
              "name": "Funnel",
              "comments": "",
              "instanceIdentifier": "ce35ea86-6401-3ed5-a827-d2c0b62ee586"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "unparseable"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
          },
          {
            "identifier": "2e47f47d-6c48-3d25-9f0f-4a52be80657b",
            "instanceIdentifier": "1b8d9e64-55ef-379a-1cfe-dd27d59d7b21",
            "name": "",
            "source": {
              "id": "21aa5016-73be-3d87-b7a1-1ed6b676a4da",
              "type": "PROCESSOR",
              "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
              "name": "Ngsi-v2 to LD",
              "comments": "",
              "instanceIdentifier": "eec44b21-c54d-32d7-596e-4a51c9e3b470"
            },
            "destination": {
              "id": "bb85f42d-c107-3111-abac-9cbac52c04ea",
              "type": "FUNNEL",
              "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
              "name": "Funnel",
              "comments": "",
              "instanceIdentifier": "fd852259-51b4-34f9-1f30-a8f56679e066"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "failure"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
          },
          {
            "identifier": "ec0691e5-3fce-3d71-a728-202465d266ce",
            "instanceIdentifier": "10f4eb2b-184f-3982-35b6-4b93a2271d90",
            "name": "",
            "source": {
              "id": "b17c08b4-3cf8-3f51-9c6f-321d3301e669",
              "type": "PROCESSOR",
              "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
              "name": "UpdateAttribute",
              "comments": "",
              "instanceIdentifier": "1d6d4d43-dc35-3bf5-3d1c-23bd8e89aeef"
            },
            "destination": {
              "id": "21aa5016-73be-3d87-b7a1-1ed6b676a4da",
              "type": "PROCESSOR",
              "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
              "name": "Ngsi-v2 to LD",
              "comments": "",
              "instanceIdentifier": "eec44b21-c54d-32d7-596e-4a51c9e3b470"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
          },
          {
            "identifier": "19c5f667-2b55-34aa-9cb7-e658197aa10c",
            "instanceIdentifier": "03fecdd5-9197-333b-6b20-61f14a145438",
            "name": "",
            "source": {
              "id": "7e946e08-b070-3038-b855-5e0d44e91d41",
              "type": "PROCESSOR",
              "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
              "name": "CreateVersionObjectProcessor",
              "comments": "",
              "instanceIdentifier": "97f7caa1-c77e-3286-97f7-d1477745ba63"
            },
            "destination": {
              "id": "b1a70583-2d5b-3412-a4db-fbb81d47db74",
              "type": "PROCESSOR",
              "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
              "name": "InvokeHTTP",
              "comments": "",
              "instanceIdentifier": "68427c92-5bdd-30ac-0f85-ba80f24848f0"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "data"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
          }
        ],
        "labels": [],
        "funnels": [
          {
            "identifier": "c25262b8-1144-3888-8486-2710380c761c",
            "instanceIdentifier": "ce35ea86-6401-3ed5-a827-d2c0b62ee586",
            "position": {
              "x": 872.0,
              "y": 776.0
            },
            "componentType": "FUNNEL",
            "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
          },
          {
            "identifier": "96c8b800-470a-3c33-8c26-f071a6b568a2",
            "instanceIdentifier": "a3f30476-018b-1000-ba84-6fb6e03febb5",
            "position": {
              "x": -256.0,
              "y": 768.0
            },
            "componentType": "FUNNEL",
            "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
          },
          {
            "identifier": "bb85f42d-c107-3111-abac-9cbac52c04ea",
            "instanceIdentifier": "fd852259-51b4-34f9-1f30-a8f56679e066",
            "position": {
              "x": 872.0,
              "y": 536.0
            },
            "componentType": "FUNNEL",
            "groupIdentifier": "9ae0eca0-3cea-393d-b693-c4a018a76f60"
          }
        ],
        "controllerServices": [],
        "variables": {},
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "componentType": "PROCESS_GROUP",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "groupIdentifier": "f1d78132-3a55-35c8-bd3b-fb7785094678"
      },
      {
        "identifier": "43670607-2273-3686-98e1-a9086ad1739c",
        "instanceIdentifier": "62aa5065-611d-334c-a6da-1226fd2eee99",
        "name": "Observations",
        "comments": "",
        "position": {
          "x": -200.0,
          "y": 416.0
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
          {
            "identifier": "b1a70583-2d5b-3412-a4db-fbb81d47db74",
            "instanceIdentifier": "e5368ce9-6a94-3996-d980-bbd7de079540",
            "name": "InvokeHTTP",
            "comments": "",
            "position": {
              "x": 136.0,
              "y": 832.0
            },
            "type": "org.apache.nifi.processors.standard.InvokeHTTP",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-nar",
              "version": "1.20.0"
            },
            "properties": {
              "Proxy Host": null,
              "Attributes to Send": null,
              "use-etag": "false",
              "proxy-configuration-service": null,
              "Proxy Type": "http",
              "cookie-strategy": "DISABLED",
              "Connection Timeout": "5 secs",
              "send-message-body": "true",
              "set-form-filename": "true",
              "Always Output Response": "false",
              "etag-max-cache-size": "10MB",
              "Content-Encoding": "DISABLED",
              "disable-http2": "False",
              "idle-timeout": "5 mins",
              "Put Response Body In Attribute": null,
              "Use Chunked Encoding": "false",
              "Follow Redirects": "True",
              "Remote URL": "http://ldes-server:8080/water-quality-observations",
              "form-body-form-name": null,
              "Content-Type": "application/n-quads",
              "flow-file-naming-strategy": "RANDOM",
              "max-idle-connections": "5",
              "invokehttp-proxy-user": null,
              "Read Timeout": "15 secs",
              "Max Length To Put In Attribute": "256",
              "ignore-response-content": "false",
              "Proxy Port": null,
              "SSL Context Service": null,
              "Digest Authentication": "false",
              "HTTP Method": "POST",
              "Add Response Headers to Request": "false",
              "oauth2-access-token-provider": null,
              "Basic Authentication Username": null,
              "Include Date Header": "True",
              "Penalize on \"No Retry\"": "false",
              "Useragent": null
            },
            "propertyDescriptors": {
              "Proxy Host": {
                "name": "Proxy Host",
                "displayName": "Proxy Host",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Attributes to Send": {
                "name": "Attributes to Send",
                "displayName": "Request Header Attributes Pattern",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "use-etag": {
                "name": "use-etag",
                "displayName": "Response Cache Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "proxy-configuration-service": {
                "name": "proxy-configuration-service",
                "displayName": "Proxy Configuration Service",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "Proxy Type": {
                "name": "Proxy Type",
                "displayName": "Proxy Type",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Basic Authentication Password": {
                "name": "Basic Authentication Password",
                "displayName": "Request Password",
                "identifiesControllerService": false,
                "sensitive": true
              },
              "cookie-strategy": {
                "name": "cookie-strategy",
                "displayName": "Response Cookie Strategy",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Connection Timeout": {
                "name": "Connection Timeout",
                "displayName": "Socket Connect Timeout",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "send-message-body": {
                "name": "send-message-body",
                "displayName": "Request Body Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "set-form-filename": {
                "name": "set-form-filename",
                "displayName": "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Always Output Response": {
                "name": "Always Output Response",
                "displayName": "Response Generation Required",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "etag-max-cache-size": {
                "name": "etag-max-cache-size",
                "displayName": "Response Cache Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Content-Encoding": {
                "name": "Content-Encoding",
                "displayName": "Request Content-Encoding",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "disable-http2": {
                "name": "disable-http2",
                "displayName": "HTTP/2 Disabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "idle-timeout": {
                "name": "idle-timeout",
                "displayName": "Socket Idle Timeout",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Put Response Body In Attribute": {
                "name": "Put Response Body In Attribute",
                "displayName": "Response Body Attribute Name",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Use Chunked Encoding": {
                "name": "Use Chunked Encoding",
                "displayName": "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Follow Redirects": {
                "name": "Follow Redirects",
                "displayName": "Response Redirects Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Remote URL": {
                "name": "Remote URL",
                "displayName": "HTTP URL",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "form-body-form-name": {
                "name": "form-body-form-name",
                "displayName": "Request Multipart Form-Data Name",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Content-Type": {
                "name": "Content-Type",
                "displayName": "Request Content-Type",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "flow-file-naming-strategy": {
                "name": "flow-file-naming-strategy",
                "displayName": "Response FlowFile Naming Strategy",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "max-idle-connections": {
                "name": "max-idle-connections",
                "displayName": "Socket Idle Connections",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "invokehttp-proxy-user": {
                "name": "invokehttp-proxy-user",
                "displayName": "Proxy Username",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Read Timeout": {
                "name": "Read Timeout",
                "displayName": "Socket Read Timeout",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Max Length To Put In Attribute": {
                "name": "Max Length To Put In Attribute",
                "displayName": "Response Body Attribute Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "invokehttp-proxy-password": {
                "name": "invokehttp-proxy-password",
                "displayName": "Proxy Password",
                "identifiesControllerService": false,
                "sensitive": true
              },
              "ignore-response-content": {
                "name": "ignore-response-content",
                "displayName": "Response Body Ignored",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Proxy Port": {
                "name": "Proxy Port",
                "displayName": "Proxy Port",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "SSL Context Service": {
                "name": "SSL Context Service",
                "displayName": "SSL Context Service",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "Digest Authentication": {
                "name": "Digest Authentication",
                "displayName": "Request Digest Authentication Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "HTTP Method": {
                "name": "HTTP Method",
                "displayName": "HTTP Method",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Add Response Headers to Request": {
                "name": "Add Response Headers to Request",
                "displayName": "Response Header Request Attributes Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "oauth2-access-token-provider": {
                "name": "oauth2-access-token-provider",
                "displayName": "Request OAuth2 Access Token Provider",
                "identifiesControllerService": true,
                "sensitive": false
              },
              "Basic Authentication Username": {
                "name": "Basic Authentication Username",
                "displayName": "Request Username",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Include Date Header": {
                "name": "Include Date Header",
                "displayName": "Request Date Header Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Penalize on \"No Retry\"": {
                "name": "Penalize on \"No Retry\"",
                "displayName": "Request Failure Penalization Enabled",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Useragent": {
                "name": "Useragent",
                "displayName": "Request User-Agent",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [
              "Response",
              "No Retry",
              "Retry",
              "Original",
              "Failure"
            ],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [
              "Retry",
              "Failure"
            ],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          },
          {
            "identifier": "00e3f017-689f-3f82-99e0-5aa79f1be5b2",
            "instanceIdentifier": "d2075b9a-8338-32b2-c467-69922217fd5d",
            "name": "CreateVersionObjectProcessor",
            "comments": "",
            "position": {
              "x": 144.0,
              "y": 640.0
            },
            "type": "be.vlaanderen.informatievlaanderen.ldes.ldi.processors.CreateVersionObjectProcessor",
            "bundle": {
              "group": "be.vlaanderen.informatievlaanderen.ldes.ldi.nifi",
              "artifact": "create-version-object-processor",
              "version": "1.9.0-SNAPSHOT"
            },
            "properties": {
              "DATE_OBSERVED_VALUE_RDF_PROPERTY": "ttps://uri.etsi.org/ngsi-ld/observedAt",
              "GENERATED_AT_TIME_PROPERTY": "http://www.w3.org/ns/prov#generatedAtTime",
              "DATA_DESTINATION_FORMAT": "application/n-quads",
              "MEMBER_RDF_SYNTAX_TYPE": "https://uri.etsi.org/ngsi-ld/default-context/WaterQualityObserved",
              "DELIMITER": "/",
              "VERSION_OF_KEY": "http://purl.org/dc/terms/isVersionOf",
              "DATA_INPUT_FORMAT": "application/ld+json"
            },
            "propertyDescriptors": {
              "DATE_OBSERVED_VALUE_RDF_PROPERTY": {
                "name": "DATE_OBSERVED_VALUE_RDF_PROPERTY",
                "displayName": "RDF property to find the timestamp value",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "GENERATED_AT_TIME_PROPERTY": {
                "name": "GENERATED_AT_TIME_PROPERTY",
                "displayName": "GeneratedAtTime property",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "DATA_DESTINATION_FORMAT": {
                "name": "DATA_DESTINATION_FORMAT",
                "displayName": "Data destination format",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "MEMBER_RDF_SYNTAX_TYPE": {
                "name": "MEMBER_RDF_SYNTAX_TYPE",
                "displayName": "IRI to member RDF syntax type",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "DELIMITER": {
                "name": "DELIMITER",
                "displayName": "Delimiter between entity ID and timestamp value",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "VERSION_OF_KEY": {
                "name": "VERSION_OF_KEY",
                "displayName": "VersionOf Property",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "DATA_INPUT_FORMAT": {
                "name": "DATA_INPUT_FORMAT",
                "displayName": "Data input format",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          },
          {
            "identifier": "5979b385-ca0c-3544-bdef-d22bec323d1b",
            "instanceIdentifier": "8553c6cd-f75c-3a68-b599-7b3282df02b5",
            "name": "Ngsi-v2 to LD",
            "comments": "",
            "position": {
              "x": 144.0,
              "y": 240.0
            },
            "type": "be.vlaanderen.informatievlaanderen.ldes.ldi.processors.NgsiV2ToLdProcessor",
            "bundle": {
              "group": "be.vlaanderen.informatievlaanderen.ldes.ldi.nifi",
              "artifact": "ngsiv2-to-ld-processor",
              "version": "1.9.0-SNAPSHOT"
            },
            "properties": {
              "CORE_CONTEXT": "https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context-v1.3.jsonld",
              "LD_CONTEXT": null,
              "DATA_IDENTIFIER": "data"
            },
            "propertyDescriptors": {
              "CORE_CONTEXT": {
                "name": "CORE_CONTEXT",
                "displayName": "NGSI LD core context",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "LD_CONTEXT": {
                "name": "LD_CONTEXT",
                "displayName": "Data-specific NGSI LD context",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "DATA_IDENTIFIER": {
                "name": "DATA_IDENTIFIER",
                "displayName": "Data array key",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 0,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          },
          {
            "identifier": "fcf6f11b-fa4d-3cd3-8389-605af02b7284",
            "instanceIdentifier": "034dc270-52d1-308b-6e0a-e9466bbdb4c3",
            "name": "UpdateAttribute",
            "comments": "",
            "position": {
              "x": 144.0,
              "y": 24.0
            },
            "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-update-attribute-nar",
              "version": "1.20.0"
            },
            "properties": {
              "Delete Attributes Expression": null,
              "Store State": "Do not store state",
              "canonical-value-lookup-cache-size": "100",
              "mime.type": "application/json",
              "Stateful Variables Initial Value": null
            },
            "propertyDescriptors": {
              "Delete Attributes Expression": {
                "name": "Delete Attributes Expression",
                "displayName": "Delete Attributes Expression",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Store State": {
                "name": "Store State",
                "displayName": "Store State",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "canonical-value-lookup-cache-size": {
                "name": "canonical-value-lookup-cache-size",
                "displayName": "Cache Value Lookup Cache Size",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "mime.type": {
                "name": "mime.type",
                "displayName": "mime.type",
                "identifiesControllerService": false,
                "sensitive": false
              },
              "Stateful Variables Initial Value": {
                "name": "Stateful Variables Initial Value",
                "displayName": "Stateful Variables Initial Value",
                "identifiesControllerService": false,
                "sensitive": false
              }
            },
            "style": {},
            "schedulingPeriod": "0 sec",
            "schedulingStrategy": "TIMER_DRIVEN",
            "executionNode": "ALL",
            "penaltyDuration": "30 sec",
            "yieldDuration": "1 sec",
            "bulletinLevel": "WARN",
            "runDurationMillis": 25,
            "concurrentlySchedulableTaskCount": 1,
            "autoTerminatedRelationships": [],
            "scheduledState": "ENABLED",
            "retryCount": 10,
            "retriedRelationships": [],
            "backoffMechanism": "PENALIZE_FLOWFILE",
            "maxBackoffPeriod": "10 mins",
            "componentType": "PROCESSOR",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          }
        ],
        "inputPorts": [
          {
            "identifier": "907437db-7d8a-3786-9a16-04ba7c8645eb",
            "instanceIdentifier": "14a7a74c-e5e4-3efb-f13b-10b51e1f06a3",
            "name": "observations-pipeline",
            "position": {
              "x": 192.0,
              "y": -96.0
            },
            "type": "INPUT_PORT",
            "concurrentlySchedulableTaskCount": 1,
            "scheduledState": "ENABLED",
            "allowRemoteAccess": false,
            "componentType": "INPUT_PORT",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          }
        ],
        "outputPorts": [],
        "connections": [
          {
            "identifier": "130dcc8e-ca6f-3208-9197-49da5edbd857",
            "instanceIdentifier": "dcab1bb3-e341-360c-fa71-9c5b9e629edc",
            "name": "",
            "source": {
              "id": "907437db-7d8a-3786-9a16-04ba7c8645eb",
              "type": "INPUT_PORT",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "observations-pipeline",
              "instanceIdentifier": "14a7a74c-e5e4-3efb-f13b-10b51e1f06a3"
            },
            "destination": {
              "id": "fcf6f11b-fa4d-3cd3-8389-605af02b7284",
              "type": "PROCESSOR",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "UpdateAttribute",
              "comments": "",
              "instanceIdentifier": "034dc270-52d1-308b-6e0a-e9466bbdb4c3"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              ""
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          },
          {
            "identifier": "f6beeadb-c0fe-3ada-aedc-cf69dadb9462",
            "instanceIdentifier": "e0fce16f-981a-35bf-a952-9efc769e092b",
            "name": "",
            "source": {
              "id": "00e3f017-689f-3f82-99e0-5aa79f1be5b2",
              "type": "PROCESSOR",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "CreateVersionObjectProcessor",
              "comments": "",
              "instanceIdentifier": "d2075b9a-8338-32b2-c467-69922217fd5d"
            },
            "destination": {
              "id": "79239193-19d2-372a-81f6-e47d2d1f3728",
              "type": "FUNNEL",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "Funnel",
              "comments": "",
              "instanceIdentifier": "bd31ab5d-05de-37a6-9ad4-1ad83db699ea"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "unparseable"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          },
          {
            "identifier": "227d81ad-4c1c-3a1e-a0ae-189059cd7b48",
            "instanceIdentifier": "934b7973-a0a3-3ec8-4123-37bf6cd15a11",
            "name": "",
            "source": {
              "id": "5979b385-ca0c-3544-bdef-d22bec323d1b",
              "type": "PROCESSOR",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "Ngsi-v2 to LD",
              "comments": "",
              "instanceIdentifier": "8553c6cd-f75c-3a68-b599-7b3282df02b5"
            },
            "destination": {
              "id": "00e3f017-689f-3f82-99e0-5aa79f1be5b2",
              "type": "PROCESSOR",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "CreateVersionObjectProcessor",
              "comments": "",
              "instanceIdentifier": "d2075b9a-8338-32b2-c467-69922217fd5d"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          },
          {
            "identifier": "ae401ff4-d0cd-3b41-af4d-f9ecb53f0c81",
            "instanceIdentifier": "a17a71f7-6def-3b9c-6492-72687a2b15b7",
            "name": "",
            "source": {
              "id": "5979b385-ca0c-3544-bdef-d22bec323d1b",
              "type": "PROCESSOR",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "Ngsi-v2 to LD",
              "comments": "",
              "instanceIdentifier": "8553c6cd-f75c-3a68-b599-7b3282df02b5"
            },
            "destination": {
              "id": "d5f69fb0-2362-31fc-811c-9c53b746ad89",
              "type": "FUNNEL",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "Funnel",
              "comments": "",
              "instanceIdentifier": "6b8c5428-c609-3205-f0fd-4bc447998966"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "failure"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          },
          {
            "identifier": "06c1a088-9c23-30ed-97bf-e4216ea6c31e",
            "instanceIdentifier": "2b955555-5efa-39f4-577a-395980313b44",
            "name": "",
            "source": {
              "id": "00e3f017-689f-3f82-99e0-5aa79f1be5b2",
              "type": "PROCESSOR",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "CreateVersionObjectProcessor",
              "comments": "",
              "instanceIdentifier": "d2075b9a-8338-32b2-c467-69922217fd5d"
            },
            "destination": {
              "id": "b1a70583-2d5b-3412-a4db-fbb81d47db74",
              "type": "PROCESSOR",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "InvokeHTTP",
              "comments": "",
              "instanceIdentifier": "e5368ce9-6a94-3996-d980-bbd7de079540"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "data"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          },
          {
            "identifier": "34b360ae-043d-324d-b824-b3b7c6a13407",
            "instanceIdentifier": "ae2bcd79-3993-3b7f-cf91-45ebf44547ef",
            "name": "",
            "source": {
              "id": "fcf6f11b-fa4d-3cd3-8389-605af02b7284",
              "type": "PROCESSOR",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "UpdateAttribute",
              "comments": "",
              "instanceIdentifier": "034dc270-52d1-308b-6e0a-e9466bbdb4c3"
            },
            "destination": {
              "id": "5979b385-ca0c-3544-bdef-d22bec323d1b",
              "type": "PROCESSOR",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "Ngsi-v2 to LD",
              "comments": "",
              "instanceIdentifier": "8553c6cd-f75c-3a68-b599-7b3282df02b5"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "success"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          },
          {
            "identifier": "d87e8d1e-ad28-3974-adc4-00c209e57b15",
            "instanceIdentifier": "a3f38b23-018b-1000-b637-ad3b7300f5c4",
            "name": "",
            "source": {
              "id": "00e3f017-689f-3f82-99e0-5aa79f1be5b2",
              "type": "PROCESSOR",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "CreateVersionObjectProcessor",
              "comments": "",
              "instanceIdentifier": "d2075b9a-8338-32b2-c467-69922217fd5d"
            },
            "destination": {
              "id": "70f5d008-acc7-3757-a328-3886a4eaeabd",
              "type": "FUNNEL",
              "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
              "name": "Funnel",
              "comments": "",
              "instanceIdentifier": "a3f37957-018b-1000-9509-01539ea456e0"
            },
            "labelIndex": 1,
            "zIndex": 0,
            "selectedRelationships": [
              "valueNotFound"
            ],
            "backPressureObjectThreshold": 10000,
            "backPressureDataSizeThreshold": "1 GB",
            "flowFileExpiration": "0 sec",
            "prioritizers": [],
            "bends": [],
            "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
            "partitioningAttribute": "",
            "loadBalanceCompression": "DO_NOT_COMPRESS",
            "componentType": "CONNECTION",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          }
        ],
        "labels": [],
        "funnels": [
          {
            "identifier": "79239193-19d2-372a-81f6-e47d2d1f3728",
            "instanceIdentifier": "bd31ab5d-05de-37a6-9ad4-1ad83db699ea",
            "position": {
              "x": 768.0,
              "y": 640.0
            },
            "componentType": "FUNNEL",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          },
          {
            "identifier": "ff7cb7b3-2ca9-3605-9045-03f4db3fe201",
            "instanceIdentifier": "c18ed5c2-43a3-3a37-dd8d-0f72b477b26e",
            "position": {
              "x": 768.0,
              "y": 464.0
            },
            "componentType": "FUNNEL",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          },
          {
            "identifier": "d5f69fb0-2362-31fc-811c-9c53b746ad89",
            "instanceIdentifier": "6b8c5428-c609-3205-f0fd-4bc447998966",
            "position": {
              "x": 768.0,
              "y": 264.0
            },
            "componentType": "FUNNEL",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          },
          {
            "identifier": "70f5d008-acc7-3757-a328-3886a4eaeabd",
            "instanceIdentifier": "a3f37957-018b-1000-9509-01539ea456e0",
            "position": {
              "x": -280.0,
              "y": 672.0
            },
            "componentType": "FUNNEL",
            "groupIdentifier": "43670607-2273-3686-98e1-a9086ad1739c"
          }
        ],
        "controllerServices": [],
        "variables": {},
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "componentType": "PROCESS_GROUP",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "groupIdentifier": "f1d78132-3a55-35c8-bd3b-fb7785094678"
      }
    ],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "286f7e17-aaa1-3049-9f71-9e8df9244c16",
        "instanceIdentifier": "77e6cfe1-b4f5-3f06-2c48-b228e68e5ccf",
        "name": "Dispatch On Request URL",
        "comments": "",
        "position": {
          "x": -728.0,
          "y": 104.0
        },
        "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.20.0"
        },
        "properties": {
          "Routing Strategy": "Route to Property name",
          "observations-pipeline": "${restlistener.request.uri:equals('/observations-pipeline')}",
          "devices-pipeline": "${restlistener.request.uri:equals('/devices-pipeline')}",
          "device-models-pipeline": "${restlistener.request.uri:equals('/device-models-pipeline')}"
        },
        "propertyDescriptors": {
          "Routing Strategy": {
            "name": "Routing Strategy",
            "displayName": "Routing Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "observations-pipeline": {
            "name": "observations-pipeline",
            "displayName": "observations-pipeline",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "devices-pipeline": {
            "name": "devices-pipeline",
            "displayName": "devices-pipeline",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "device-models-pipeline": {
            "name": "device-models-pipeline",
            "displayName": "device-models-pipeline",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "f1d78132-3a55-35c8-bd3b-fb7785094678"
      },
      {
        "identifier": "f8e06a70-e2c5-32ec-8109-be2b8dbf92ec",
        "instanceIdentifier": "3238d4b4-1906-33e2-4fd7-ce7194d29b98",
        "name": "ListenHTTP",
        "comments": "",
        "position": {
          "x": -728.0,
          "y": -144.0
        },
        "type": "org.apache.nifi.processors.standard.ListenHTTP",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.20.0"
        },
        "properties": {
          "authorized-issuer-dn-pattern": ".*",
          "multipart-request-max-size": "1 MB",
          "record-writer": null,
          "HTTP Protocols": "HTTP_1_1",
          "HTTP Headers to receive as Attributes (Regex)": null,
          "health-check-port": null,
          "Authorized DN Pattern": ".*",
          "max-thread-pool-size": "200",
          "Base Path": "",
          "multipart-read-buffer-size": "512 KB",
          "SSL Context Service": null,
          "Max Unconfirmed Flowfile Time": "60 secs",
          "Max Data to Receive per Second": null,
          "client-authentication": "AUTO",
          "Return Code": "200",
          "record-reader": null,
          "Listening Port": "8080"
        },
        "propertyDescriptors": {
          "authorized-issuer-dn-pattern": {
            "name": "authorized-issuer-dn-pattern",
            "displayName": "Authorized Issuer DN Pattern",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "multipart-request-max-size": {
            "name": "multipart-request-max-size",
            "displayName": "Multipart Request Max Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-writer": {
            "name": "record-writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "HTTP Protocols": {
            "name": "HTTP Protocols",
            "displayName": "HTTP Protocols",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "HTTP Headers to receive as Attributes (Regex)": {
            "name": "HTTP Headers to receive as Attributes (Regex)",
            "displayName": "HTTP Headers to receive as Attributes (Regex)",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "health-check-port": {
            "name": "health-check-port",
            "displayName": "Listening Port for Health Check Requests",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Authorized DN Pattern": {
            "name": "Authorized DN Pattern",
            "displayName": "Authorized Subject DN Pattern",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "max-thread-pool-size": {
            "name": "max-thread-pool-size",
            "displayName": "Maximum Thread Pool Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Base Path": {
            "name": "Base Path",
            "displayName": "Base Path",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "multipart-read-buffer-size": {
            "name": "multipart-read-buffer-size",
            "displayName": "Multipart Read Buffer Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "SSL Context Service": {
            "name": "SSL Context Service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Max Unconfirmed Flowfile Time": {
            "name": "Max Unconfirmed Flowfile Time",
            "displayName": "Max Unconfirmed Flowfile Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Max Data to Receive per Second": {
            "name": "Max Data to Receive per Second",
            "displayName": "Max Data to Receive per Second",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "client-authentication": {
            "name": "client-authentication",
            "displayName": "Client Authentication",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Return Code": {
            "name": "Return Code",
            "displayName": "Return Code",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-reader": {
            "name": "record-reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Listening Port": {
            "name": "Listening Port",
            "displayName": "Listening Port",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "f1d78132-3a55-35c8-bd3b-fb7785094678"
      }
    ],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [
      {
        "identifier": "e1c6a60e-7a68-39c7-9254-ca280c780743",
        "instanceIdentifier": "11bc01ff-1ad5-37e4-2785-86f8eff6c795",
        "name": "",
        "source": {
          "id": "286f7e17-aaa1-3049-9f71-9e8df9244c16",
          "type": "PROCESSOR",
          "groupId": "f1d78132-3a55-35c8-bd3b-fb7785094678",
          "name": "Dispatch On Request URL",
          "comments": "",
          "instanceIdentifier": "77e6cfe1-b4f5-3f06-2c48-b228e68e5ccf"
        },
        "destination": {
          "id": "338c2167-3a4c-3fb7-8d3e-a33100b5c4b5",
          "type": "INPUT_PORT",
          "groupId": "9ae0eca0-3cea-393d-b693-c4a018a76f60",
          "name": "device-models-pipeline",
          "comments": "",
          "instanceIdentifier": "ac39e796-ae3b-3fc2-4c57-a07147003f65"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "device-models-pipeline"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "f1d78132-3a55-35c8-bd3b-fb7785094678"
      },
      {
        "identifier": "5d5b26f2-c569-3f63-830d-bd866c3181ee",
        "instanceIdentifier": "af0bf15c-5bda-3ebf-6e3c-41ccbce7d138",
        "name": "",
        "source": {
          "id": "f8e06a70-e2c5-32ec-8109-be2b8dbf92ec",
          "type": "PROCESSOR",
          "groupId": "f1d78132-3a55-35c8-bd3b-fb7785094678",
          "name": "ListenHTTP",
          "comments": "",
          "instanceIdentifier": "3238d4b4-1906-33e2-4fd7-ce7194d29b98"
        },
        "destination": {
          "id": "286f7e17-aaa1-3049-9f71-9e8df9244c16",
          "type": "PROCESSOR",
          "groupId": "f1d78132-3a55-35c8-bd3b-fb7785094678",
          "name": "Dispatch On Request URL",
          "comments": "",
          "instanceIdentifier": "77e6cfe1-b4f5-3f06-2c48-b228e68e5ccf"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "f1d78132-3a55-35c8-bd3b-fb7785094678"
      },
      {
        "identifier": "697474d5-8358-3d10-b4a0-afe6ac9099a7",
        "instanceIdentifier": "1a15f654-8748-34bf-6f9e-a0b11db55d19",
        "name": "",
        "source": {
          "id": "286f7e17-aaa1-3049-9f71-9e8df9244c16",
          "type": "PROCESSOR",
          "groupId": "f1d78132-3a55-35c8-bd3b-fb7785094678",
          "name": "Dispatch On Request URL",
          "comments": "",
          "instanceIdentifier": "77e6cfe1-b4f5-3f06-2c48-b228e68e5ccf"
        },
        "destination": {
          "id": "907437db-7d8a-3786-9a16-04ba7c8645eb",
          "type": "INPUT_PORT",
          "groupId": "43670607-2273-3686-98e1-a9086ad1739c",
          "name": "observations-pipeline",
          "instanceIdentifier": "14a7a74c-e5e4-3efb-f13b-10b51e1f06a3"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "observations-pipeline"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "f1d78132-3a55-35c8-bd3b-fb7785094678"
      },
      {
        "identifier": "cbfd8e01-53c9-37bf-b00f-917ca40c41e8",
        "instanceIdentifier": "c1c596a1-2b2b-38e3-7319-36418aa10c49",
        "name": "",
        "source": {
          "id": "286f7e17-aaa1-3049-9f71-9e8df9244c16",
          "type": "PROCESSOR",
          "groupId": "f1d78132-3a55-35c8-bd3b-fb7785094678",
          "name": "Dispatch On Request URL",
          "comments": "",
          "instanceIdentifier": "77e6cfe1-b4f5-3f06-2c48-b228e68e5ccf"
        },
        "destination": {
          "id": "88996173-6207-3baf-9ee1-7b465250627b",
          "type": "INPUT_PORT",
          "groupId": "59797a2c-e64b-3d4f-91f2-7220c5f13cf0",
          "name": "devices-pipeline",
          "instanceIdentifier": "0ccc5cdc-c6e8-324a-3396-151d22a4c160"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "devices-pipeline"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "f1d78132-3a55-35c8-bd3b-fb7785094678"
      },
      {
        "identifier": "8a66b055-3814-3ca8-aac6-1cb1d06fa022",
        "instanceIdentifier": "cf642de1-cdd7-33a8-8380-9b257001b615",
        "name": "",
        "source": {
          "id": "286f7e17-aaa1-3049-9f71-9e8df9244c16",
          "type": "PROCESSOR",
          "groupId": "f1d78132-3a55-35c8-bd3b-fb7785094678",
          "name": "Dispatch On Request URL",
          "comments": "",
          "instanceIdentifier": "77e6cfe1-b4f5-3f06-2c48-b228e68e5ccf"
        },
        "destination": {
          "id": "9ec33875-af3d-3372-aac1-589f37805c84",
          "type": "FUNNEL",
          "groupId": "f1d78132-3a55-35c8-bd3b-fb7785094678",
          "name": "Funnel",
          "comments": "",
          "instanceIdentifier": "f705f238-bb05-348a-52d0-ffdb7c8f59c1"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "unmatched"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "f1d78132-3a55-35c8-bd3b-fb7785094678"
      }
    ],
    "labels": [],
    "funnels": [
      {
        "identifier": "9ec33875-af3d-3372-aac1-589f37805c84",
        "instanceIdentifier": "f705f238-bb05-348a-52d0-ffdb7c8f59c1",
        "position": {
          "x": -88.0,
          "y": 136.0
        },
        "componentType": "FUNNEL",
        "groupIdentifier": "f1d78132-3a55-35c8-bd3b-fb7785094678"
      }
    ],
    "controllerServices": [],
    "variables": {},
    "defaultFlowFileExpiration": "0 sec",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "componentType": "PROCESS_GROUP",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE"
  },
  "externalControllerServices": {},
  "parameterContexts": {},
  "flowEncodingVersion": "1.0",
  "parameterProviders": {},
  "latest": false
}