tests/016.mixed-workbench-ngsi-v2-to-oslo/nifi-workflow.json
{
    "flowContents": {
        "identifier": "f5360808-af9e-39b5-b6e4-f71e1ed4c66b",
        "instanceIdentifier": "581792ea-0188-1000-ed12-5ab24788c525",
        "name": "nifi-workflow",
        "comments": "",
        "position": {
            "x": 472.0,
            "y": 184.0
        },
        "processGroups": [
            {
                "identifier": "c07e45bb-d97c-33c0-af68-6de36e584fa5",
                "instanceIdentifier": "551ddb8b-7f28-39c2-a794-11fd277fb0e8",
                "name": "IoW - WaterQualityObserved",
                "comments": "",
                "position": {
                    "x": 1000.0,
                    "y": 680.0
                },
                "processGroups": [],
                "remoteProcessGroups": [],
                "processors": [
                    {
                        "identifier": "daca1054-11e5-386b-bcad-9378ede61cd8",
                        "instanceIdentifier": "6f885736-e6a7-3e15-bbbd-9f8637fcc879",
                        "name": "Translate NGSI-v2 to NGSI-LD",
                        "comments": "",
                        "position": {
                            "x": 32.0,
                            "y": 200.0
                        },
                        "type": "be.vlaanderen.informatievlaanderen.ldes.ldi.processors.NgsiV2ToLdProcessor",
                        "bundle": {
                            "group": "be.vlaanderen.informatievlaanderen.ldes.ldi.nifi",
                            "artifact": "ngsiv2-to-ld-processor",
                            "version": "0.0.1-SNAPSHOT"
                        },
                        "properties": {
                            "CORE_CONTEXT": "https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context-v1.6.jsonld",
                            "LD_CONTEXT": null,
                            "DATA_IDENTIFIER": "data"
                        },
                        "propertyDescriptors": {
                            "CORE_CONTEXT": {
                                "name": "CORE_CONTEXT",
                                "displayName": "NGSI LD core context",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "LD_CONTEXT": {
                                "name": "LD_CONTEXT",
                                "displayName": "Data-specific NGSI LD context",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "DATA_IDENTIFIER": {
                                "name": "DATA_IDENTIFIER",
                                "displayName": "Data array key",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 0,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "c07e45bb-d97c-33c0-af68-6de36e584fa5"
                    },
                    {
                        "identifier": "17686038-c2b7-39a7-ab13-5fffef0833df",
                        "instanceIdentifier": "72c9142b-1e28-3417-bd0b-e526c7c29e06",
                        "name": "UpdateAttribute",
                        "comments": "",
                        "position": {
                            "x": 24.0,
                            "y": -8.0
                        },
                        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-update-attribute-nar",
                            "version": "1.20.0"
                        },
                        "properties": {
                            "Delete Attributes Expression": null,
                            "Store State": "Do not store state",
                            "canonical-value-lookup-cache-size": "100",
                            "mime.type": "application/json",
                            "Stateful Variables Initial Value": null
                        },
                        "propertyDescriptors": {
                            "Delete Attributes Expression": {
                                "name": "Delete Attributes Expression",
                                "displayName": "Delete Attributes Expression",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Store State": {
                                "name": "Store State",
                                "displayName": "Store State",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "canonical-value-lookup-cache-size": {
                                "name": "canonical-value-lookup-cache-size",
                                "displayName": "Cache Value Lookup Cache Size",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "mime.type": {
                                "name": "mime.type",
                                "displayName": "mime.type",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Stateful Variables Initial Value": {
                                "name": "Stateful Variables Initial Value",
                                "displayName": "Stateful Variables Initial Value",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 25,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "c07e45bb-d97c-33c0-af68-6de36e584fa5"
                    },
                    {
                        "identifier": "966ec66d-7366-3eb5-a711-bd2aed76c575",
                        "instanceIdentifier": "494ab165-1033-3efb-cb99-14b3e9cb3f32",
                        "name": "SparqlConstructProcessor",
                        "comments": "",
                        "position": {
                            "x": 32.0,
                            "y": 408.0
                        },
                        "type": "be.vlaanderen.informatievlaanderen.ldes.ldi.processors.SparqlConstructProcessor",
                        "bundle": {
                            "group": "be.vlaanderen.informatievlaanderen.ldes.ldi.nifi",
                            "artifact": "sparql-interactions-processor",
                            "version": "0.0.1-SNAPSHOT"
                        },
                        "properties": {
                            "SPARQL_CONSTRUCT_QUERY": "PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>\n              PREFIX sosa: <http://www.w3.org/ns/sosa/>\n              PREFIX ngsiLdDC: <https://uri.etsi.org/ngsi-ld/default-context/>\n              PREFIX ngsiLd: <https://uri.etsi.org/ngsi-ld/>\n              CONSTRUCT {\n                  ?wqo rdf:type <http://www.w3.org/ns/sosa/ObservationCollection> .\n                  ?wqo <http://def.isotc211.org/iso19156/2011/SamplingFeature#SF_SamplingFeatureCollection.member> ?conductivity .\n                  ?wqo <http://def.isotc211.org/iso19156/2011/SamplingFeature#SF_SamplingFeatureCollection.member> ?temperature .\n                  ?wqo <http://def.isotc211.org/iso19156/2011/SamplingFeature#SF_SamplingFeatureCollection.member> ?batteryLevel .\n                  ?wqo <http://def.isotc211.org/iso19156/2011/SamplingFeature#SF_SamplingFeatureCollection.member> ?location .\n                  ?wqo sosa:phenomenonTime ?dateObserved .\n                  ?batteryLevel <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.observedProperty> <https://data.vmm.be/concept/sensor/batterijniveau> .\n                  ?batteryLevel <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.phenomenonTime> ?batteryLevelPhenomenonTime .\n                  ?batteryLevel rdf:type <http://def.isotc211.org/iso19156/2011/Measurement#OM_Measurement> .\n                  ?batteryLevel <http://www.w3.org/ns/sosa/madeBySensor> ?madeBySensor .\n                  ?batteryLevel <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.result> [\n                      <http://def.isotc211.org/iso19103/2005/UnitsOfMeasure#Measure.value> [\n                          <https://schema.org/value> ?batteryLevelValue\n                      ]\n                  ] .\n                  ?conductivity <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.observedProperty> <https://data.vmm.be/concept/waterkwaliteitparameter/conductiviteit> .\n                  ?conductivity <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.phenomenonTime> ?conductivityPhenomenonTime .\n                  ?conductivity rdf:type <http://def.isotc211.org/iso19156/2011/Measurement#OM_Measurement> .\n                  ?conductivity <http://www.w3.org/ns/sosa/madeBySensor> ?madeBySensor .\n                  ?conductivity <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.result> [\n                      <http://def.isotc211.org/iso19103/2005/UnitsOfMeasure#Measure.value> [\n                          <https://schema.org/value> ?conductivityValue\n                      ]\n                  ] .\n                  ?depth <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.observedProperty> <https://data.vmm.be/concept/observatieparameter/hydrostatische-druk> .\n                  ?depth <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.phenomenonTime> ?depthPhenomenonTime .\n                  ?depth rdf:type <http://def.isotc211.org/iso19156/2011/Measurement#OM_Measurement> .\n                  ?depth <http://www.w3.org/ns/sosa/madeBySensor> ?madeBySensor .\n                  ?depth <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.result> [\n                      <http://def.isotc211.org/iso19103/2005/UnitsOfMeasure#Measure.value> [\n                          <https://schema.org/value> ?depthValue\n                      ]\n                  ] .\n                  ?temperature <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.observedProperty> <https://data.vmm.be/concept/waterkwaliteitparameter/temperatuur> .\n                  ?temperature <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.phenomenonTime> ?temperaturePhenomenonTime .\n                  ?temperature rdf:type <http://def.isotc211.org/iso19156/2011/Measurement#OM_Measurement> .\n                  ?temperature <http://www.w3.org/ns/sosa/madeBySensor> ?madeBySensor .\n                  ?temperature <http://def.isotc211.org/iso19156/2011/Observation#OM_Observation.result> [\n                      <http://def.isotc211.org/iso19103/2005/UnitsOfMeasure#Measure.value> [\n                          <https://schema.org/value> ?temperatureValue\n                      ]\n                  ] .\n                  ?location rdf:type <https://def.isotc211.org/iso19156/2011/SpatialSamplingFeature#SF_SpatialSamplingFeature> .\n                  ?location rdf:asWkt ?locationWkt\n              } WHERE {\n                  ?wqo rdf:type <https://uri.etsi.org/ngsi-ld/default-context/WaterQualityObserved> .\n                  ?wqo ngsiLdDC:dateObserved [\n                      ngsiLd:hasValue ?dateObserved\n                  ] .\n                  ?wqo ngsiLdDC:refDevice ?refDevice .\n                  ?refDevice <https://uri.etsi.org/ngsi-ld/hasObject> ?madeBySensor .\n                  OPTIONAL {\n                      ?wqo ngsiLdDC:batteryLevel ?batteryLevel .\n                      ?batteryLevel <https://uri.etsi.org/ngsi-ld/observedAt> ?batteryLevelPhenomenonTime .\n                      ?batteryLevel <https://uri.etsi.org/ngsi-ld/hasValue> ?batteryLevelValue .\n                  }\n                  \n                  OPTIONAL {\n                      ?wqo ngsiLdDC:conductivity ?conductivity .\n                      ?conductivity <https://uri.etsi.org/ngsi-ld/observedAt> ?conductivityPhenomenonTime .\n                      ?conductivity <https://uri.etsi.org/ngsi-ld/hasValue> ?conductivityValue .\n                  }\n                  OPTIONAL {\n                      ?wqo ngsiLdDC:depth ?depth .\n                      ?depth <https://uri.etsi.org/ngsi-ld/observedAt> ?depthPhenomenonTime .\n                      ?depth <https://uri.etsi.org/ngsi-ld/hasValue> ?depthValue .\n                  }\n                  OPTIONAL {\n                      ?wqo ngsiLdDC:temperature ?temperature .\n                      ?temperature <https://uri.etsi.org/ngsi-ld/observedAt> ?temperaturePhenomenonTime .\n                      ?temperature <https://uri.etsi.org/ngsi-ld/hasValue> ?temperatureValue .\n                  }\n                  OPTIONAL {\n                    ?wqo ngsiLd:location ?location .\n                    ?location ngsiLdDC:asWkt ?locationWkt .\n                  }\n              }",
                            "INCLUDE_ORIGINAL": "false",
                            "DATA_SOURCE_FORMAT": "application/ld+json"
                        },
                        "propertyDescriptors": {
                            "SPARQL_CONSTRUCT_QUERY": {
                                "name": "SPARQL_CONSTRUCT_QUERY",
                                "displayName": "SPARQL Construct Query",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "INCLUDE_ORIGINAL": {
                                "name": "INCLUDE_ORIGINAL",
                                "displayName": "Include original model",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "DATA_SOURCE_FORMAT": {
                                "name": "DATA_SOURCE_FORMAT",
                                "displayName": "Data source format",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 0,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "c07e45bb-d97c-33c0-af68-6de36e584fa5"
                    }
                ],
                "inputPorts": [
                    {
                        "identifier": "dfe4acf3-89f2-3474-9ff2-279d8fdaf5b2",
                        "instanceIdentifier": "067a24dc-185c-37b5-0c8a-70763b207e13",
                        "name": "Update",
                        "comments": "",
                        "position": {
                            "x": 80.0,
                            "y": -128.0
                        },
                        "type": "INPUT_PORT",
                        "concurrentlySchedulableTaskCount": 1,
                        "scheduledState": "ENABLED",
                        "allowRemoteAccess": false,
                        "componentType": "INPUT_PORT",
                        "groupIdentifier": "c07e45bb-d97c-33c0-af68-6de36e584fa5"
                    }
                ],
                "outputPorts": [
                    {
                        "identifier": "1a348cad-7489-3cbc-9b2a-7972f276a65e",
                        "instanceIdentifier": "01d9d4d6-c192-3b95-408c-0ff7f3641b29",
                        "name": "Send",
                        "comments": "",
                        "position": {
                            "x": 88.0,
                            "y": 632.0
                        },
                        "type": "OUTPUT_PORT",
                        "concurrentlySchedulableTaskCount": 1,
                        "scheduledState": "ENABLED",
                        "allowRemoteAccess": false,
                        "componentType": "OUTPUT_PORT",
                        "groupIdentifier": "c07e45bb-d97c-33c0-af68-6de36e584fa5"
                    }
                ],
                "connections": [
                    {
                        "identifier": "60447490-20e4-370c-83fe-0c45f84c797c",
                        "instanceIdentifier": "64a45327-79d4-3555-1f6a-a30afad94a1c",
                        "name": "",
                        "source": {
                            "id": "dfe4acf3-89f2-3474-9ff2-279d8fdaf5b2",
                            "type": "INPUT_PORT",
                            "groupId": "c07e45bb-d97c-33c0-af68-6de36e584fa5",
                            "name": "Update",
                            "comments": "",
                            "instanceIdentifier": "067a24dc-185c-37b5-0c8a-70763b207e13"
                        },
                        "destination": {
                            "id": "17686038-c2b7-39a7-ab13-5fffef0833df",
                            "type": "PROCESSOR",
                            "groupId": "c07e45bb-d97c-33c0-af68-6de36e584fa5",
                            "name": "UpdateAttribute",
                            "comments": "",
                            "instanceIdentifier": "72c9142b-1e28-3417-bd0b-e526c7c29e06"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            ""
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "c07e45bb-d97c-33c0-af68-6de36e584fa5"
                    },
                    {
                        "identifier": "df722bd4-60ac-3cbb-8193-ad2d3573a8ce",
                        "instanceIdentifier": "616a01e3-c8c3-32fd-58fa-9b51d0c9a221",
                        "name": "",
                        "source": {
                            "id": "daca1054-11e5-386b-bcad-9378ede61cd8",
                            "type": "PROCESSOR",
                            "groupId": "c07e45bb-d97c-33c0-af68-6de36e584fa5",
                            "name": "Translate NGSI-v2 to NGSI-LD",
                            "comments": "",
                            "instanceIdentifier": "6f885736-e6a7-3e15-bbbd-9f8637fcc879"
                        },
                        "destination": {
                            "id": "10c58ee1-78d0-3b45-8ccf-e6b45261b3ed",
                            "type": "FUNNEL",
                            "groupId": "c07e45bb-d97c-33c0-af68-6de36e584fa5",
                            "name": "Funnel",
                            "comments": "",
                            "instanceIdentifier": "5cbdce43-cb8d-3bd7-1af3-6f41b4542990"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "failure"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "c07e45bb-d97c-33c0-af68-6de36e584fa5"
                    },
                    {
                        "identifier": "09f768b5-a9b3-3f6d-a0e0-096c5fb17e8b",
                        "instanceIdentifier": "bd4d4851-476c-355c-24da-1e972bf1615d",
                        "name": "",
                        "source": {
                            "id": "966ec66d-7366-3eb5-a711-bd2aed76c575",
                            "type": "PROCESSOR",
                            "groupId": "c07e45bb-d97c-33c0-af68-6de36e584fa5",
                            "name": "SparqlConstructProcessor",
                            "comments": "",
                            "instanceIdentifier": "494ab165-1033-3efb-cb99-14b3e9cb3f32"
                        },
                        "destination": {
                            "id": "1a348cad-7489-3cbc-9b2a-7972f276a65e",
                            "type": "OUTPUT_PORT",
                            "groupId": "c07e45bb-d97c-33c0-af68-6de36e584fa5",
                            "name": "Send",
                            "comments": "",
                            "instanceIdentifier": "01d9d4d6-c192-3b95-408c-0ff7f3641b29"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "success"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "c07e45bb-d97c-33c0-af68-6de36e584fa5"
                    },
                    {
                        "identifier": "e7f99327-4143-3eb2-8d60-823d5f8f6a0f",
                        "instanceIdentifier": "1af4e5a2-e03f-38e7-97c3-6d5fb9b7a761",
                        "name": "",
                        "source": {
                            "id": "daca1054-11e5-386b-bcad-9378ede61cd8",
                            "type": "PROCESSOR",
                            "groupId": "c07e45bb-d97c-33c0-af68-6de36e584fa5",
                            "name": "Translate NGSI-v2 to NGSI-LD",
                            "comments": "",
                            "instanceIdentifier": "6f885736-e6a7-3e15-bbbd-9f8637fcc879"
                        },
                        "destination": {
                            "id": "966ec66d-7366-3eb5-a711-bd2aed76c575",
                            "type": "PROCESSOR",
                            "groupId": "c07e45bb-d97c-33c0-af68-6de36e584fa5",
                            "name": "SparqlConstructProcessor",
                            "comments": "",
                            "instanceIdentifier": "494ab165-1033-3efb-cb99-14b3e9cb3f32"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "success"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "c07e45bb-d97c-33c0-af68-6de36e584fa5"
                    },
                    {
                        "identifier": "0d804cc8-5ee7-3c4d-b0ac-668db5314cb6",
                        "instanceIdentifier": "a26e2bb0-e472-39f4-7dac-299b388e3abb",
                        "name": "",
                        "source": {
                            "id": "966ec66d-7366-3eb5-a711-bd2aed76c575",
                            "type": "PROCESSOR",
                            "groupId": "c07e45bb-d97c-33c0-af68-6de36e584fa5",
                            "name": "SparqlConstructProcessor",
                            "comments": "",
                            "instanceIdentifier": "494ab165-1033-3efb-cb99-14b3e9cb3f32"
                        },
                        "destination": {
                            "id": "99f5ebf3-1d87-3010-b9f8-870eaa21e047",
                            "type": "FUNNEL",
                            "groupId": "c07e45bb-d97c-33c0-af68-6de36e584fa5",
                            "name": "Funnel",
                            "comments": "",
                            "instanceIdentifier": "39c233ec-65b1-39d3-a040-6f0bd092b6e9"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "failure"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "c07e45bb-d97c-33c0-af68-6de36e584fa5"
                    },
                    {
                        "identifier": "c661b806-e274-3d26-92ed-aff4961caf0c",
                        "instanceIdentifier": "c6f603dd-00d8-3bf7-bbbb-3c0b979e1c14",
                        "name": "",
                        "source": {
                            "id": "17686038-c2b7-39a7-ab13-5fffef0833df",
                            "type": "PROCESSOR",
                            "groupId": "c07e45bb-d97c-33c0-af68-6de36e584fa5",
                            "name": "UpdateAttribute",
                            "comments": "",
                            "instanceIdentifier": "72c9142b-1e28-3417-bd0b-e526c7c29e06"
                        },
                        "destination": {
                            "id": "daca1054-11e5-386b-bcad-9378ede61cd8",
                            "type": "PROCESSOR",
                            "groupId": "c07e45bb-d97c-33c0-af68-6de36e584fa5",
                            "name": "Translate NGSI-v2 to NGSI-LD",
                            "comments": "",
                            "instanceIdentifier": "6f885736-e6a7-3e15-bbbd-9f8637fcc879"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "success"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "c07e45bb-d97c-33c0-af68-6de36e584fa5"
                    }
                ],
                "labels": [],
                "funnels": [
                    {
                        "identifier": "99f5ebf3-1d87-3010-b9f8-870eaa21e047",
                        "instanceIdentifier": "39c233ec-65b1-39d3-a040-6f0bd092b6e9",
                        "position": {
                            "x": 672.0,
                            "y": 456.0
                        },
                        "componentType": "FUNNEL",
                        "groupIdentifier": "c07e45bb-d97c-33c0-af68-6de36e584fa5"
                    },
                    {
                        "identifier": "10c58ee1-78d0-3b45-8ccf-e6b45261b3ed",
                        "instanceIdentifier": "5cbdce43-cb8d-3bd7-1af3-6f41b4542990",
                        "position": {
                            "x": 664.0,
                            "y": 232.0
                        },
                        "componentType": "FUNNEL",
                        "groupIdentifier": "c07e45bb-d97c-33c0-af68-6de36e584fa5"
                    }
                ],
                "controllerServices": [],
                "variables": {},
                "defaultFlowFileExpiration": "0 sec",
                "defaultBackPressureObjectThreshold": 10000,
                "defaultBackPressureDataSizeThreshold": "1 GB",
                "componentType": "PROCESS_GROUP",
                "flowFileConcurrency": "UNBOUNDED",
                "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
                "groupIdentifier": "f5360808-af9e-39b5-b6e4-f71e1ed4c66b"
            },
            {
                "identifier": "df049378-4c60-3278-bdf2-9ab686edad08",
                "instanceIdentifier": "6ecb3a01-02d9-36bc-f01b-456236d890c8",
                "name": "IoW - DeviceModel",
                "comments": "",
                "position": {
                    "x": -128.0,
                    "y": 672.0
                },
                "processGroups": [],
                "remoteProcessGroups": [],
                "processors": [
                    {
                        "identifier": "daca1054-11e5-386b-bcad-9378ede61cd8",
                        "instanceIdentifier": "1895629b-32b6-3bb3-6128-e367428f40c8",
                        "name": "Translate NGSI-v2 to NGSI-LD",
                        "comments": "",
                        "position": {
                            "x": 208.0,
                            "y": 384.0
                        },
                        "type": "be.vlaanderen.informatievlaanderen.ldes.ldi.processors.NgsiV2ToLdProcessor",
                        "bundle": {
                            "group": "be.vlaanderen.informatievlaanderen.ldes.ldi.nifi",
                            "artifact": "ngsiv2-to-ld-processor",
                            "version": "0.0.1-SNAPSHOT"
                        },
                        "properties": {
                            "CORE_CONTEXT": "https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context-v1.6.jsonld",
                            "LD_CONTEXT": null,
                            "DATA_IDENTIFIER": "data"
                        },
                        "propertyDescriptors": {
                            "CORE_CONTEXT": {
                                "name": "CORE_CONTEXT",
                                "displayName": "NGSI LD core context",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "LD_CONTEXT": {
                                "name": "LD_CONTEXT",
                                "displayName": "Data-specific NGSI LD context",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "DATA_IDENTIFIER": {
                                "name": "DATA_IDENTIFIER",
                                "displayName": "Data array key",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 0,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "df049378-4c60-3278-bdf2-9ab686edad08"
                    },
                    {
                        "identifier": "5f6c6577-8bf3-3d00-88f5-1d5026858482",
                        "instanceIdentifier": "25058b2f-80c7-3356-e268-30a7e581c2c6",
                        "name": "UpdateAttribute",
                        "comments": "",
                        "position": {
                            "x": 208.0,
                            "y": 152.0
                        },
                        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-update-attribute-nar",
                            "version": "1.20.0"
                        },
                        "properties": {
                            "Delete Attributes Expression": null,
                            "Store State": "Do not store state",
                            "canonical-value-lookup-cache-size": "100",
                            "mime.type": "application/json",
                            "Stateful Variables Initial Value": null
                        },
                        "propertyDescriptors": {
                            "Delete Attributes Expression": {
                                "name": "Delete Attributes Expression",
                                "displayName": "Delete Attributes Expression",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Store State": {
                                "name": "Store State",
                                "displayName": "Store State",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "canonical-value-lookup-cache-size": {
                                "name": "canonical-value-lookup-cache-size",
                                "displayName": "Cache Value Lookup Cache Size",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "mime.type": {
                                "name": "mime.type",
                                "displayName": "mime.type",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Stateful Variables Initial Value": {
                                "name": "Stateful Variables Initial Value",
                                "displayName": "Stateful Variables Initial Value",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 25,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "df049378-4c60-3278-bdf2-9ab686edad08"
                    }
                ],
                "inputPorts": [
                    {
                        "identifier": "fcd73fb4-f525-3df9-82d7-c1faa51d4ead",
                        "instanceIdentifier": "e20e2c5c-92ed-3cb1-c69f-0d54170734fe",
                        "name": "Update",
                        "position": {
                            "x": 264.0,
                            "y": 24.0
                        },
                        "type": "INPUT_PORT",
                        "concurrentlySchedulableTaskCount": 1,
                        "scheduledState": "ENABLED",
                        "allowRemoteAccess": false,
                        "componentType": "INPUT_PORT",
                        "groupIdentifier": "df049378-4c60-3278-bdf2-9ab686edad08"
                    }
                ],
                "outputPorts": [
                    {
                        "identifier": "394a365e-163f-3a8e-943f-2379362f5c36",
                        "instanceIdentifier": "a6c34e19-3464-3eec-b69e-d6c8fce6b570",
                        "name": "Send",
                        "position": {
                            "x": 272.0,
                            "y": 632.0
                        },
                        "type": "OUTPUT_PORT",
                        "concurrentlySchedulableTaskCount": 1,
                        "scheduledState": "ENABLED",
                        "allowRemoteAccess": false,
                        "componentType": "OUTPUT_PORT",
                        "groupIdentifier": "df049378-4c60-3278-bdf2-9ab686edad08"
                    }
                ],
                "connections": [
                    {
                        "identifier": "c4e2df03-1ff9-3fb4-82b9-8fab45bf10e5",
                        "instanceIdentifier": "0c5143a9-206f-3438-dbad-3926c8ec46b1",
                        "name": "",
                        "source": {
                            "id": "fcd73fb4-f525-3df9-82d7-c1faa51d4ead",
                            "type": "INPUT_PORT",
                            "groupId": "df049378-4c60-3278-bdf2-9ab686edad08",
                            "name": "Update",
                            "instanceIdentifier": "e20e2c5c-92ed-3cb1-c69f-0d54170734fe"
                        },
                        "destination": {
                            "id": "5f6c6577-8bf3-3d00-88f5-1d5026858482",
                            "type": "PROCESSOR",
                            "groupId": "df049378-4c60-3278-bdf2-9ab686edad08",
                            "name": "UpdateAttribute",
                            "comments": "",
                            "instanceIdentifier": "25058b2f-80c7-3356-e268-30a7e581c2c6"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            ""
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "df049378-4c60-3278-bdf2-9ab686edad08"
                    },
                    {
                        "identifier": "4160ed78-d5b3-3705-92f0-d32139e332c9",
                        "instanceIdentifier": "58204109-88d0-3ffa-d465-ce4d38a3a527",
                        "name": "",
                        "source": {
                            "id": "daca1054-11e5-386b-bcad-9378ede61cd8",
                            "type": "PROCESSOR",
                            "groupId": "df049378-4c60-3278-bdf2-9ab686edad08",
                            "name": "Translate NGSI-v2 to NGSI-LD",
                            "comments": "",
                            "instanceIdentifier": "1895629b-32b6-3bb3-6128-e367428f40c8"
                        },
                        "destination": {
                            "id": "91ede12c-560a-32a8-b22d-1b9a52c1e9d6",
                            "type": "FUNNEL",
                            "groupId": "df049378-4c60-3278-bdf2-9ab686edad08",
                            "name": "Funnel",
                            "comments": "",
                            "instanceIdentifier": "c5da9511-3643-3697-e7e5-e638e3e69e3f"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "failure"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "df049378-4c60-3278-bdf2-9ab686edad08"
                    },
                    {
                        "identifier": "b138f623-ffc3-3265-bd32-2d7bcf6ea955",
                        "instanceIdentifier": "8638e3d7-8d25-388c-1883-c21daf289a72",
                        "name": "",
                        "source": {
                            "id": "5f6c6577-8bf3-3d00-88f5-1d5026858482",
                            "type": "PROCESSOR",
                            "groupId": "df049378-4c60-3278-bdf2-9ab686edad08",
                            "name": "UpdateAttribute",
                            "comments": "",
                            "instanceIdentifier": "25058b2f-80c7-3356-e268-30a7e581c2c6"
                        },
                        "destination": {
                            "id": "daca1054-11e5-386b-bcad-9378ede61cd8",
                            "type": "PROCESSOR",
                            "groupId": "df049378-4c60-3278-bdf2-9ab686edad08",
                            "name": "Translate NGSI-v2 to NGSI-LD",
                            "comments": "",
                            "instanceIdentifier": "1895629b-32b6-3bb3-6128-e367428f40c8"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "success"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "df049378-4c60-3278-bdf2-9ab686edad08"
                    },
                    {
                        "identifier": "6bb3f711-a629-33c3-b329-2695e6be2cbb",
                        "instanceIdentifier": "57502459-0b88-36af-5f82-cfe0c13d4edc",
                        "name": "",
                        "source": {
                            "id": "daca1054-11e5-386b-bcad-9378ede61cd8",
                            "type": "PROCESSOR",
                            "groupId": "df049378-4c60-3278-bdf2-9ab686edad08",
                            "name": "Translate NGSI-v2 to NGSI-LD",
                            "comments": "",
                            "instanceIdentifier": "1895629b-32b6-3bb3-6128-e367428f40c8"
                        },
                        "destination": {
                            "id": "394a365e-163f-3a8e-943f-2379362f5c36",
                            "type": "OUTPUT_PORT",
                            "groupId": "df049378-4c60-3278-bdf2-9ab686edad08",
                            "name": "Send",
                            "instanceIdentifier": "a6c34e19-3464-3eec-b69e-d6c8fce6b570"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "success"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "df049378-4c60-3278-bdf2-9ab686edad08"
                    }
                ],
                "labels": [],
                "funnels": [
                    {
                        "identifier": "91ede12c-560a-32a8-b22d-1b9a52c1e9d6",
                        "instanceIdentifier": "c5da9511-3643-3697-e7e5-e638e3e69e3f",
                        "position": {
                            "x": 864.0,
                            "y": 408.0
                        },
                        "componentType": "FUNNEL",
                        "groupIdentifier": "df049378-4c60-3278-bdf2-9ab686edad08"
                    }
                ],
                "controllerServices": [],
                "variables": {},
                "defaultFlowFileExpiration": "0 sec",
                "defaultBackPressureObjectThreshold": 10000,
                "defaultBackPressureDataSizeThreshold": "1 GB",
                "componentType": "PROCESS_GROUP",
                "flowFileConcurrency": "UNBOUNDED",
                "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
                "groupIdentifier": "f5360808-af9e-39b5-b6e4-f71e1ed4c66b"
            },
            {
                "identifier": "172610a5-1039-3595-9e30-b4c7af7460f5",
                "instanceIdentifier": "ca3c3f2b-19af-3e19-5e51-0f57015d5556",
                "name": "IoW - Device",
                "comments": "",
                "position": {
                    "x": 432.0,
                    "y": 680.0
                },
                "processGroups": [],
                "remoteProcessGroups": [],
                "processors": [
                    {
                        "identifier": "a12c9bd7-aa73-3a20-b762-80eb852f0903",
                        "instanceIdentifier": "3094364f-1f6e-3a9c-f8a9-49b3e82e86c6",
                        "name": "UpdateAttribute",
                        "comments": "",
                        "position": {
                            "x": 200.0,
                            "y": 112.0
                        },
                        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-update-attribute-nar",
                            "version": "1.20.0"
                        },
                        "properties": {
                            "Delete Attributes Expression": null,
                            "Store State": "Do not store state",
                            "canonical-value-lookup-cache-size": "100",
                            "mime.type": "application/json",
                            "Stateful Variables Initial Value": null
                        },
                        "propertyDescriptors": {
                            "Delete Attributes Expression": {
                                "name": "Delete Attributes Expression",
                                "displayName": "Delete Attributes Expression",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Store State": {
                                "name": "Store State",
                                "displayName": "Store State",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "canonical-value-lookup-cache-size": {
                                "name": "canonical-value-lookup-cache-size",
                                "displayName": "Cache Value Lookup Cache Size",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "mime.type": {
                                "name": "mime.type",
                                "displayName": "mime.type",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "Stateful Variables Initial Value": {
                                "name": "Stateful Variables Initial Value",
                                "displayName": "Stateful Variables Initial Value",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 25,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "172610a5-1039-3595-9e30-b4c7af7460f5"
                    },
                    {
                        "identifier": "daca1054-11e5-386b-bcad-9378ede61cd8",
                        "instanceIdentifier": "7d46ff2a-918b-3746-6e25-93f460e8ba9d",
                        "name": "Translate NGSI-v2 to NGSI-LD",
                        "comments": "",
                        "position": {
                            "x": 200.0,
                            "y": 320.0
                        },
                        "type": "be.vlaanderen.informatievlaanderen.ldes.ldi.processors.NgsiV2ToLdProcessor",
                        "bundle": {
                            "group": "be.vlaanderen.informatievlaanderen.ldes.ldi.nifi",
                            "artifact": "ngsiv2-to-ld-processor",
                            "version": "0.0.1-SNAPSHOT"
                        },
                        "properties": {
                            "CORE_CONTEXT": "https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context-v1.6.jsonld",
                            "LD_CONTEXT": null,
                            "DATA_IDENTIFIER": "data"
                        },
                        "propertyDescriptors": {
                            "CORE_CONTEXT": {
                                "name": "CORE_CONTEXT",
                                "displayName": "NGSI LD core context",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "LD_CONTEXT": {
                                "name": "LD_CONTEXT",
                                "displayName": "Data-specific NGSI LD context",
                                "identifiesControllerService": false,
                                "sensitive": false
                            },
                            "DATA_IDENTIFIER": {
                                "name": "DATA_IDENTIFIER",
                                "displayName": "Data array key",
                                "identifiesControllerService": false,
                                "sensitive": false
                            }
                        },
                        "style": {},
                        "schedulingPeriod": "0 sec",
                        "schedulingStrategy": "TIMER_DRIVEN",
                        "executionNode": "ALL",
                        "penaltyDuration": "30 sec",
                        "yieldDuration": "1 sec",
                        "bulletinLevel": "WARN",
                        "runDurationMillis": 0,
                        "concurrentlySchedulableTaskCount": 1,
                        "autoTerminatedRelationships": [],
                        "scheduledState": "ENABLED",
                        "retryCount": 10,
                        "retriedRelationships": [],
                        "backoffMechanism": "PENALIZE_FLOWFILE",
                        "maxBackoffPeriod": "10 mins",
                        "componentType": "PROCESSOR",
                        "groupIdentifier": "172610a5-1039-3595-9e30-b4c7af7460f5"
                    }
                ],
                "inputPorts": [
                    {
                        "identifier": "7b4b02e4-8da3-315a-b69b-d82da2923413",
                        "instanceIdentifier": "1b2baf82-a126-318b-82d4-98a2f10eec16",
                        "name": "Update",
                        "position": {
                            "x": 256.0,
                            "y": 0.0
                        },
                        "type": "INPUT_PORT",
                        "concurrentlySchedulableTaskCount": 1,
                        "scheduledState": "ENABLED",
                        "allowRemoteAccess": false,
                        "componentType": "INPUT_PORT",
                        "groupIdentifier": "172610a5-1039-3595-9e30-b4c7af7460f5"
                    }
                ],
                "outputPorts": [
                    {
                        "identifier": "129a07c4-e9fd-3955-b04c-e93d632d3503",
                        "instanceIdentifier": "ebdb2214-be1a-34bd-d822-f95e1eb8c913",
                        "name": "Send",
                        "position": {
                            "x": 256.0,
                            "y": 536.0
                        },
                        "type": "OUTPUT_PORT",
                        "concurrentlySchedulableTaskCount": 1,
                        "scheduledState": "ENABLED",
                        "allowRemoteAccess": false,
                        "componentType": "OUTPUT_PORT",
                        "groupIdentifier": "172610a5-1039-3595-9e30-b4c7af7460f5"
                    }
                ],
                "connections": [
                    {
                        "identifier": "aee7988f-f9f9-3812-b549-618f824161d3",
                        "instanceIdentifier": "29955048-1695-3e3a-a56c-7f9705574161",
                        "name": "",
                        "source": {
                            "id": "a12c9bd7-aa73-3a20-b762-80eb852f0903",
                            "type": "PROCESSOR",
                            "groupId": "172610a5-1039-3595-9e30-b4c7af7460f5",
                            "name": "UpdateAttribute",
                            "comments": "",
                            "instanceIdentifier": "3094364f-1f6e-3a9c-f8a9-49b3e82e86c6"
                        },
                        "destination": {
                            "id": "daca1054-11e5-386b-bcad-9378ede61cd8",
                            "type": "PROCESSOR",
                            "groupId": "172610a5-1039-3595-9e30-b4c7af7460f5",
                            "name": "Translate NGSI-v2 to NGSI-LD",
                            "comments": "",
                            "instanceIdentifier": "7d46ff2a-918b-3746-6e25-93f460e8ba9d"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "success"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "172610a5-1039-3595-9e30-b4c7af7460f5"
                    },
                    {
                        "identifier": "e80bf5ec-c890-310d-b6e9-f5d3fe720348",
                        "instanceIdentifier": "bb6cffa2-9949-3768-b43a-518ed108e7e1",
                        "name": "",
                        "source": {
                            "id": "daca1054-11e5-386b-bcad-9378ede61cd8",
                            "type": "PROCESSOR",
                            "groupId": "172610a5-1039-3595-9e30-b4c7af7460f5",
                            "name": "Translate NGSI-v2 to NGSI-LD",
                            "comments": "",
                            "instanceIdentifier": "7d46ff2a-918b-3746-6e25-93f460e8ba9d"
                        },
                        "destination": {
                            "id": "129a07c4-e9fd-3955-b04c-e93d632d3503",
                            "type": "OUTPUT_PORT",
                            "groupId": "172610a5-1039-3595-9e30-b4c7af7460f5",
                            "name": "Send",
                            "instanceIdentifier": "ebdb2214-be1a-34bd-d822-f95e1eb8c913"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "success"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "172610a5-1039-3595-9e30-b4c7af7460f5"
                    },
                    {
                        "identifier": "b01e043f-7018-3741-b0d3-8413a6e2f921",
                        "instanceIdentifier": "fc547184-ab45-3e73-aa2f-9e1453df0b09",
                        "name": "",
                        "source": {
                            "id": "daca1054-11e5-386b-bcad-9378ede61cd8",
                            "type": "PROCESSOR",
                            "groupId": "172610a5-1039-3595-9e30-b4c7af7460f5",
                            "name": "Translate NGSI-v2 to NGSI-LD",
                            "comments": "",
                            "instanceIdentifier": "7d46ff2a-918b-3746-6e25-93f460e8ba9d"
                        },
                        "destination": {
                            "id": "3c361595-1ee0-3009-871d-5453082a064f",
                            "type": "FUNNEL",
                            "groupId": "172610a5-1039-3595-9e30-b4c7af7460f5",
                            "name": "Funnel",
                            "comments": "",
                            "instanceIdentifier": "c39aa4a8-a880-3da6-7722-47592bf967ad"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            "failure"
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "172610a5-1039-3595-9e30-b4c7af7460f5"
                    },
                    {
                        "identifier": "8f6ff87d-9721-3ee1-aa48-a16c1f911914",
                        "instanceIdentifier": "99d90100-c7c9-33c1-e4c0-9b4177015532",
                        "name": "",
                        "source": {
                            "id": "7b4b02e4-8da3-315a-b69b-d82da2923413",
                            "type": "INPUT_PORT",
                            "groupId": "172610a5-1039-3595-9e30-b4c7af7460f5",
                            "name": "Update",
                            "instanceIdentifier": "1b2baf82-a126-318b-82d4-98a2f10eec16"
                        },
                        "destination": {
                            "id": "a12c9bd7-aa73-3a20-b762-80eb852f0903",
                            "type": "PROCESSOR",
                            "groupId": "172610a5-1039-3595-9e30-b4c7af7460f5",
                            "name": "UpdateAttribute",
                            "comments": "",
                            "instanceIdentifier": "3094364f-1f6e-3a9c-f8a9-49b3e82e86c6"
                        },
                        "labelIndex": 1,
                        "zIndex": 0,
                        "selectedRelationships": [
                            ""
                        ],
                        "backPressureObjectThreshold": 10000,
                        "backPressureDataSizeThreshold": "1 GB",
                        "flowFileExpiration": "0 sec",
                        "prioritizers": [],
                        "bends": [],
                        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                        "partitioningAttribute": "",
                        "loadBalanceCompression": "DO_NOT_COMPRESS",
                        "componentType": "CONNECTION",
                        "groupIdentifier": "172610a5-1039-3595-9e30-b4c7af7460f5"
                    }
                ],
                "labels": [],
                "funnels": [
                    {
                        "identifier": "3c361595-1ee0-3009-871d-5453082a064f",
                        "instanceIdentifier": "c39aa4a8-a880-3da6-7722-47592bf967ad",
                        "position": {
                            "x": 856.0,
                            "y": 368.0
                        },
                        "componentType": "FUNNEL",
                        "groupIdentifier": "172610a5-1039-3595-9e30-b4c7af7460f5"
                    }
                ],
                "controllerServices": [],
                "variables": {},
                "defaultFlowFileExpiration": "0 sec",
                "defaultBackPressureObjectThreshold": 10000,
                "defaultBackPressureDataSizeThreshold": "1 GB",
                "componentType": "PROCESS_GROUP",
                "flowFileConcurrency": "UNBOUNDED",
                "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
                "groupIdentifier": "f5360808-af9e-39b5-b6e4-f71e1ed4c66b"
            }
        ],
        "remoteProcessGroups": [],
        "processors": [
            {
                "identifier": "d7dc13db-1f2e-3c3e-891c-54d92a4c180e",
                "instanceIdentifier": "dfcce117-158f-3ba3-4534-154093671196",
                "name": "Send observation member",
                "comments": "",
                "position": {
                    "x": 1016.0,
                    "y": 1024.0
                },
                "type": "org.apache.nifi.processors.standard.InvokeHTTP",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.20.0"
                },
                "properties": {
                    "Proxy Host": null,
                    "Attributes to Send": null,
                    "use-etag": "false",
                    "proxy-configuration-service": null,
                    "Proxy Type": "http",
                    "cookie-strategy": "DISABLED",
                    "Connection Timeout": "5 secs",
                    "send-message-body": "true",
                    "set-form-filename": "true",
                    "Always Output Response": "false",
                    "etag-max-cache-size": "10MB",
                    "Content-Encoding": "DISABLED",
                    "disable-http2": "False",
                    "idle-timeout": "5 mins",
                    "Put Response Body In Attribute": null,
                    "Use Chunked Encoding": "false",
                    "Follow Redirects": "True",
                    "Remote URL": "http://ldio-workbench:8080/observations-pipeline",
                    "form-body-form-name": null,
                    "Content-Type": "application/ld+json",
                    "flow-file-naming-strategy": "RANDOM",
                    "max-idle-connections": "5",
                    "invokehttp-proxy-user": null,
                    "Read Timeout": "15 secs",
                    "Max Length To Put In Attribute": "256",
                    "ignore-response-content": "false",
                    "Proxy Port": null,
                    "SSL Context Service": null,
                    "Digest Authentication": "false",
                    "HTTP Method": "POST",
                    "Add Response Headers to Request": "false",
                    "oauth2-access-token-provider": null,
                    "Basic Authentication Username": null,
                    "Include Date Header": "True",
                    "Penalize on \"No Retry\"": "false",
                    "Useragent": null
                },
                "propertyDescriptors": {
                    "Proxy Host": {
                        "name": "Proxy Host",
                        "displayName": "Proxy Host",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Attributes to Send": {
                        "name": "Attributes to Send",
                        "displayName": "Request Header Attributes Pattern",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "use-etag": {
                        "name": "use-etag",
                        "displayName": "Response Cache Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "proxy-configuration-service": {
                        "name": "proxy-configuration-service",
                        "displayName": "Proxy Configuration Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Proxy Type": {
                        "name": "Proxy Type",
                        "displayName": "Proxy Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Basic Authentication Password": {
                        "name": "Basic Authentication Password",
                        "displayName": "Request Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "cookie-strategy": {
                        "name": "cookie-strategy",
                        "displayName": "Response Cookie Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Connection Timeout": {
                        "name": "Connection Timeout",
                        "displayName": "Socket Connect Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "send-message-body": {
                        "name": "send-message-body",
                        "displayName": "Request Body Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "set-form-filename": {
                        "name": "set-form-filename",
                        "displayName": "Request Multipart Form-Data Filename Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Always Output Response": {
                        "name": "Always Output Response",
                        "displayName": "Response Generation Required",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "etag-max-cache-size": {
                        "name": "etag-max-cache-size",
                        "displayName": "Response Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Content-Encoding": {
                        "name": "Content-Encoding",
                        "displayName": "Request Content-Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "disable-http2": {
                        "name": "disable-http2",
                        "displayName": "HTTP/2 Disabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "idle-timeout": {
                        "name": "idle-timeout",
                        "displayName": "Socket Idle Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Put Response Body In Attribute": {
                        "name": "Put Response Body In Attribute",
                        "displayName": "Response Body Attribute Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Use Chunked Encoding": {
                        "name": "Use Chunked Encoding",
                        "displayName": "Request Chunked Transfer-Encoding Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Follow Redirects": {
                        "name": "Follow Redirects",
                        "displayName": "Response Redirects Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Remote URL": {
                        "name": "Remote URL",
                        "displayName": "HTTP URL",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "form-body-form-name": {
                        "name": "form-body-form-name",
                        "displayName": "Request Multipart Form-Data Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Content-Type": {
                        "name": "Content-Type",
                        "displayName": "Request Content-Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "flow-file-naming-strategy": {
                        "name": "flow-file-naming-strategy",
                        "displayName": "Response FlowFile Naming Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "max-idle-connections": {
                        "name": "max-idle-connections",
                        "displayName": "Socket Idle Connections",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "invokehttp-proxy-user": {
                        "name": "invokehttp-proxy-user",
                        "displayName": "Proxy Username",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Read Timeout": {
                        "name": "Read Timeout",
                        "displayName": "Socket Read Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Max Length To Put In Attribute": {
                        "name": "Max Length To Put In Attribute",
                        "displayName": "Response Body Attribute Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "invokehttp-proxy-password": {
                        "name": "invokehttp-proxy-password",
                        "displayName": "Proxy Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "ignore-response-content": {
                        "name": "ignore-response-content",
                        "displayName": "Response Body Ignored",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Proxy Port": {
                        "name": "Proxy Port",
                        "displayName": "Proxy Port",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "SSL Context Service": {
                        "name": "SSL Context Service",
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Digest Authentication": {
                        "name": "Digest Authentication",
                        "displayName": "Request Digest Authentication Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "HTTP Method": {
                        "name": "HTTP Method",
                        "displayName": "HTTP Method",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Add Response Headers to Request": {
                        "name": "Add Response Headers to Request",
                        "displayName": "Response Header Request Attributes Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "oauth2-access-token-provider": {
                        "name": "oauth2-access-token-provider",
                        "displayName": "Request OAuth2 Access Token Provider",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Basic Authentication Username": {
                        "name": "Basic Authentication Username",
                        "displayName": "Request Username",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Include Date Header": {
                        "name": "Include Date Header",
                        "displayName": "Request Date Header Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Penalize on \"No Retry\"": {
                        "name": "Penalize on \"No Retry\"",
                        "displayName": "Request Failure Penalization Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Useragent": {
                        "name": "Useragent",
                        "displayName": "Request User-Agent",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "Response",
                    "No Retry",
                    "Retry",
                    "Original",
                    "Failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [
                    "Retry",
                    "Failure"
                ],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "f5360808-af9e-39b5-b6e4-f71e1ed4c66b"
            },
            {
                "identifier": "a11cc948-39b3-3292-a092-89f5c45af5ee",
                "instanceIdentifier": "31564c0a-f40b-39c5-f216-a6bbd9401dd5",
                "name": "Send device member",
                "comments": "",
                "position": {
                    "x": 448.0,
                    "y": 1032.0
                },
                "type": "org.apache.nifi.processors.standard.InvokeHTTP",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.20.0"
                },
                "properties": {
                    "Proxy Host": null,
                    "Attributes to Send": null,
                    "use-etag": "false",
                    "proxy-configuration-service": null,
                    "Proxy Type": "http",
                    "cookie-strategy": "DISABLED",
                    "Connection Timeout": "5 secs",
                    "send-message-body": "true",
                    "set-form-filename": "true",
                    "Always Output Response": "false",
                    "etag-max-cache-size": "10MB",
                    "Content-Encoding": "DISABLED",
                    "disable-http2": "False",
                    "idle-timeout": "5 mins",
                    "Put Response Body In Attribute": null,
                    "Use Chunked Encoding": "false",
                    "Follow Redirects": "True",
                    "Remote URL": "http://ldio-workbench:8080/devices-pipeline",
                    "form-body-form-name": null,
                    "Content-Type": "application/ld+json",
                    "flow-file-naming-strategy": "RANDOM",
                    "max-idle-connections": "5",
                    "invokehttp-proxy-user": null,
                    "Read Timeout": "15 secs",
                    "Max Length To Put In Attribute": "256",
                    "ignore-response-content": "false",
                    "Proxy Port": null,
                    "SSL Context Service": null,
                    "Digest Authentication": "false",
                    "HTTP Method": "POST",
                    "Add Response Headers to Request": "false",
                    "oauth2-access-token-provider": null,
                    "Basic Authentication Username": null,
                    "Include Date Header": "True",
                    "Penalize on \"No Retry\"": "false",
                    "Useragent": null
                },
                "propertyDescriptors": {
                    "Proxy Host": {
                        "name": "Proxy Host",
                        "displayName": "Proxy Host",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Attributes to Send": {
                        "name": "Attributes to Send",
                        "displayName": "Request Header Attributes Pattern",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "use-etag": {
                        "name": "use-etag",
                        "displayName": "Response Cache Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "proxy-configuration-service": {
                        "name": "proxy-configuration-service",
                        "displayName": "Proxy Configuration Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Proxy Type": {
                        "name": "Proxy Type",
                        "displayName": "Proxy Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Basic Authentication Password": {
                        "name": "Basic Authentication Password",
                        "displayName": "Request Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "cookie-strategy": {
                        "name": "cookie-strategy",
                        "displayName": "Response Cookie Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Connection Timeout": {
                        "name": "Connection Timeout",
                        "displayName": "Socket Connect Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "send-message-body": {
                        "name": "send-message-body",
                        "displayName": "Request Body Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "set-form-filename": {
                        "name": "set-form-filename",
                        "displayName": "Request Multipart Form-Data Filename Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Always Output Response": {
                        "name": "Always Output Response",
                        "displayName": "Response Generation Required",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "etag-max-cache-size": {
                        "name": "etag-max-cache-size",
                        "displayName": "Response Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Content-Encoding": {
                        "name": "Content-Encoding",
                        "displayName": "Request Content-Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "disable-http2": {
                        "name": "disable-http2",
                        "displayName": "HTTP/2 Disabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "idle-timeout": {
                        "name": "idle-timeout",
                        "displayName": "Socket Idle Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Put Response Body In Attribute": {
                        "name": "Put Response Body In Attribute",
                        "displayName": "Response Body Attribute Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Use Chunked Encoding": {
                        "name": "Use Chunked Encoding",
                        "displayName": "Request Chunked Transfer-Encoding Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Follow Redirects": {
                        "name": "Follow Redirects",
                        "displayName": "Response Redirects Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Remote URL": {
                        "name": "Remote URL",
                        "displayName": "HTTP URL",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "form-body-form-name": {
                        "name": "form-body-form-name",
                        "displayName": "Request Multipart Form-Data Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Content-Type": {
                        "name": "Content-Type",
                        "displayName": "Request Content-Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "flow-file-naming-strategy": {
                        "name": "flow-file-naming-strategy",
                        "displayName": "Response FlowFile Naming Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "max-idle-connections": {
                        "name": "max-idle-connections",
                        "displayName": "Socket Idle Connections",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "invokehttp-proxy-user": {
                        "name": "invokehttp-proxy-user",
                        "displayName": "Proxy Username",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Read Timeout": {
                        "name": "Read Timeout",
                        "displayName": "Socket Read Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Max Length To Put In Attribute": {
                        "name": "Max Length To Put In Attribute",
                        "displayName": "Response Body Attribute Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "invokehttp-proxy-password": {
                        "name": "invokehttp-proxy-password",
                        "displayName": "Proxy Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "ignore-response-content": {
                        "name": "ignore-response-content",
                        "displayName": "Response Body Ignored",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Proxy Port": {
                        "name": "Proxy Port",
                        "displayName": "Proxy Port",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "SSL Context Service": {
                        "name": "SSL Context Service",
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Digest Authentication": {
                        "name": "Digest Authentication",
                        "displayName": "Request Digest Authentication Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "HTTP Method": {
                        "name": "HTTP Method",
                        "displayName": "HTTP Method",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Add Response Headers to Request": {
                        "name": "Add Response Headers to Request",
                        "displayName": "Response Header Request Attributes Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "oauth2-access-token-provider": {
                        "name": "oauth2-access-token-provider",
                        "displayName": "Request OAuth2 Access Token Provider",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Basic Authentication Username": {
                        "name": "Basic Authentication Username",
                        "displayName": "Request Username",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Include Date Header": {
                        "name": "Include Date Header",
                        "displayName": "Request Date Header Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Penalize on \"No Retry\"": {
                        "name": "Penalize on \"No Retry\"",
                        "displayName": "Request Failure Penalization Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Useragent": {
                        "name": "Useragent",
                        "displayName": "Request User-Agent",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "Response",
                    "No Retry",
                    "Retry",
                    "Original",
                    "Failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [
                    "Retry",
                    "Failure"
                ],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "f5360808-af9e-39b5-b6e4-f71e1ed4c66b"
            },
            {
                "identifier": "d6e5b321-b342-36a6-adc3-13aa7fddbe11",
                "instanceIdentifier": "6d1f3472-b44c-10b8-ac27-dd1b1b96d731",
                "name": "ListenHTTP",
                "comments": "",
                "position": {
                    "x": 432.0,
                    "y": 72.0
                },
                "type": "org.apache.nifi.processors.standard.ListenHTTP",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.20.0"
                },
                "properties": {
                    "authorized-issuer-dn-pattern": ".*",
                    "multipart-request-max-size": "1 MB",
                    "record-writer": null,
                    "HTTP Protocols": "HTTP_1_1",
                    "HTTP Headers to receive as Attributes (Regex)": null,
                    "health-check-port": null,
                    "Authorized DN Pattern": ".*",
                    "max-thread-pool-size": "200",
                    "Base Path": "",
                    "multipart-read-buffer-size": "512 KB",
                    "SSL Context Service": null,
                    "Max Unconfirmed Flowfile Time": "60 secs",
                    "Max Data to Receive per Second": null,
                    "client-authentication": "AUTO",
                    "Return Code": "200",
                    "record-reader": null,
                    "Listening Port": "8080"
                },
                "propertyDescriptors": {
                    "authorized-issuer-dn-pattern": {
                        "name": "authorized-issuer-dn-pattern",
                        "displayName": "Authorized Issuer DN Pattern",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "multipart-request-max-size": {
                        "name": "multipart-request-max-size",
                        "displayName": "Multipart Request Max Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "record-writer": {
                        "name": "record-writer",
                        "displayName": "Record Writer",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "HTTP Protocols": {
                        "name": "HTTP Protocols",
                        "displayName": "HTTP Protocols",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "HTTP Headers to receive as Attributes (Regex)": {
                        "name": "HTTP Headers to receive as Attributes (Regex)",
                        "displayName": "HTTP Headers to receive as Attributes (Regex)",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "health-check-port": {
                        "name": "health-check-port",
                        "displayName": "Listening Port for Health Check Requests",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Authorized DN Pattern": {
                        "name": "Authorized DN Pattern",
                        "displayName": "Authorized Subject DN Pattern",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "max-thread-pool-size": {
                        "name": "max-thread-pool-size",
                        "displayName": "Maximum Thread Pool Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Base Path": {
                        "name": "Base Path",
                        "displayName": "Base Path",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "multipart-read-buffer-size": {
                        "name": "multipart-read-buffer-size",
                        "displayName": "Multipart Read Buffer Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "SSL Context Service": {
                        "name": "SSL Context Service",
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Max Unconfirmed Flowfile Time": {
                        "name": "Max Unconfirmed Flowfile Time",
                        "displayName": "Max Unconfirmed Flowfile Time",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Max Data to Receive per Second": {
                        "name": "Max Data to Receive per Second",
                        "displayName": "Max Data to Receive per Second",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "client-authentication": {
                        "name": "client-authentication",
                        "displayName": "Client Authentication",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Return Code": {
                        "name": "Return Code",
                        "displayName": "Return Code",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "record-reader": {
                        "name": "record-reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Listening Port": {
                        "name": "Listening Port",
                        "displayName": "Listening Port",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "f5360808-af9e-39b5-b6e4-f71e1ed4c66b"
            },
            {
                "identifier": "1842c8f7-00f3-3c78-b279-d15dc896154f",
                "instanceIdentifier": "6d1f3473-b44c-10b8-7bec-cfb81c9a79f4",
                "name": "Dispatch On Request URL",
                "comments": "",
                "position": {
                    "x": 440.0,
                    "y": 360.0
                },
                "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.20.0"
                },
                "properties": {
                    "Routing Strategy": "Route to Property name",
                    "observations-pipeline": "${restlistener.request.uri:equals('/observations-pipeline')}",
                    "devices-pipeline": "${restlistener.request.uri:equals('/devices-pipeline')}",
                    "device-models-pipeline": "${restlistener.request.uri:equals('/device-models-pipeline')}"
                },
                "propertyDescriptors": {
                    "Routing Strategy": {
                        "name": "Routing Strategy",
                        "displayName": "Routing Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "observations-pipeline": {
                        "name": "observations-pipeline",
                        "displayName": "observations-pipeline",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "devices-pipeline": {
                        "name": "devices-pipeline",
                        "displayName": "devices-pipeline",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "device-models-pipeline": {
                        "name": "device-models-pipeline",
                        "displayName": "device-models-pipeline",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "f5360808-af9e-39b5-b6e4-f71e1ed4c66b"
            },
            {
                "identifier": "00a4e26a-565d-37e0-bc07-05e80b7d2efb",
                "instanceIdentifier": "8e2cc078-ff3a-314b-6768-563824b9012e",
                "name": "Send model member",
                "comments": "",
                "position": {
                    "x": -112.0,
                    "y": 1048.0
                },
                "type": "org.apache.nifi.processors.standard.InvokeHTTP",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.20.0"
                },
                "properties": {
                    "Proxy Host": null,
                    "Attributes to Send": null,
                    "use-etag": "false",
                    "proxy-configuration-service": null,
                    "Proxy Type": "http",
                    "cookie-strategy": "DISABLED",
                    "Connection Timeout": "5 secs",
                    "send-message-body": "true",
                    "set-form-filename": "true",
                    "Always Output Response": "false",
                    "etag-max-cache-size": "10MB",
                    "Content-Encoding": "DISABLED",
                    "disable-http2": "False",
                    "idle-timeout": "5 mins",
                    "Put Response Body In Attribute": null,
                    "Use Chunked Encoding": "false",
                    "Follow Redirects": "True",
                    "Remote URL": "http://ldio-workbench:8080/device-models-pipeline",
                    "form-body-form-name": null,
                    "Content-Type": "application/ld+json",
                    "flow-file-naming-strategy": "RANDOM",
                    "max-idle-connections": "5",
                    "invokehttp-proxy-user": null,
                    "Read Timeout": "15 secs",
                    "Max Length To Put In Attribute": "256",
                    "ignore-response-content": "false",
                    "Proxy Port": null,
                    "SSL Context Service": null,
                    "Digest Authentication": "false",
                    "HTTP Method": "POST",
                    "Add Response Headers to Request": "false",
                    "oauth2-access-token-provider": null,
                    "Basic Authentication Username": null,
                    "Include Date Header": "True",
                    "Penalize on \"No Retry\"": "false",
                    "Useragent": null
                },
                "propertyDescriptors": {
                    "Proxy Host": {
                        "name": "Proxy Host",
                        "displayName": "Proxy Host",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Attributes to Send": {
                        "name": "Attributes to Send",
                        "displayName": "Request Header Attributes Pattern",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "use-etag": {
                        "name": "use-etag",
                        "displayName": "Response Cache Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "proxy-configuration-service": {
                        "name": "proxy-configuration-service",
                        "displayName": "Proxy Configuration Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Proxy Type": {
                        "name": "Proxy Type",
                        "displayName": "Proxy Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Basic Authentication Password": {
                        "name": "Basic Authentication Password",
                        "displayName": "Request Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "cookie-strategy": {
                        "name": "cookie-strategy",
                        "displayName": "Response Cookie Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Connection Timeout": {
                        "name": "Connection Timeout",
                        "displayName": "Socket Connect Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "send-message-body": {
                        "name": "send-message-body",
                        "displayName": "Request Body Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "set-form-filename": {
                        "name": "set-form-filename",
                        "displayName": "Request Multipart Form-Data Filename Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Always Output Response": {
                        "name": "Always Output Response",
                        "displayName": "Response Generation Required",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "etag-max-cache-size": {
                        "name": "etag-max-cache-size",
                        "displayName": "Response Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Content-Encoding": {
                        "name": "Content-Encoding",
                        "displayName": "Request Content-Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "disable-http2": {
                        "name": "disable-http2",
                        "displayName": "HTTP/2 Disabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "idle-timeout": {
                        "name": "idle-timeout",
                        "displayName": "Socket Idle Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Put Response Body In Attribute": {
                        "name": "Put Response Body In Attribute",
                        "displayName": "Response Body Attribute Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Use Chunked Encoding": {
                        "name": "Use Chunked Encoding",
                        "displayName": "Request Chunked Transfer-Encoding Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Follow Redirects": {
                        "name": "Follow Redirects",
                        "displayName": "Response Redirects Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Remote URL": {
                        "name": "Remote URL",
                        "displayName": "HTTP URL",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "form-body-form-name": {
                        "name": "form-body-form-name",
                        "displayName": "Request Multipart Form-Data Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Content-Type": {
                        "name": "Content-Type",
                        "displayName": "Request Content-Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "flow-file-naming-strategy": {
                        "name": "flow-file-naming-strategy",
                        "displayName": "Response FlowFile Naming Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "max-idle-connections": {
                        "name": "max-idle-connections",
                        "displayName": "Socket Idle Connections",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "invokehttp-proxy-user": {
                        "name": "invokehttp-proxy-user",
                        "displayName": "Proxy Username",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Read Timeout": {
                        "name": "Read Timeout",
                        "displayName": "Socket Read Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Max Length To Put In Attribute": {
                        "name": "Max Length To Put In Attribute",
                        "displayName": "Response Body Attribute Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "invokehttp-proxy-password": {
                        "name": "invokehttp-proxy-password",
                        "displayName": "Proxy Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "ignore-response-content": {
                        "name": "ignore-response-content",
                        "displayName": "Response Body Ignored",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Proxy Port": {
                        "name": "Proxy Port",
                        "displayName": "Proxy Port",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "SSL Context Service": {
                        "name": "SSL Context Service",
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Digest Authentication": {
                        "name": "Digest Authentication",
                        "displayName": "Request Digest Authentication Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "HTTP Method": {
                        "name": "HTTP Method",
                        "displayName": "HTTP Method",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Add Response Headers to Request": {
                        "name": "Add Response Headers to Request",
                        "displayName": "Response Header Request Attributes Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "oauth2-access-token-provider": {
                        "name": "oauth2-access-token-provider",
                        "displayName": "Request OAuth2 Access Token Provider",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Basic Authentication Username": {
                        "name": "Basic Authentication Username",
                        "displayName": "Request Username",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Include Date Header": {
                        "name": "Include Date Header",
                        "displayName": "Request Date Header Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Penalize on \"No Retry\"": {
                        "name": "Penalize on \"No Retry\"",
                        "displayName": "Request Failure Penalization Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Useragent": {
                        "name": "Useragent",
                        "displayName": "Request User-Agent",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "Response",
                    "No Retry",
                    "Retry",
                    "Original",
                    "Failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [
                    "Retry",
                    "Failure"
                ],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "f5360808-af9e-39b5-b6e4-f71e1ed4c66b"
            }
        ],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
            {
                "identifier": "ed3060c8-e8f3-35d9-b57d-8360c2880e4c",
                "instanceIdentifier": "6d1f3479-b44c-10b8-de50-a267de942e4f",
                "name": "",
                "source": {
                    "id": "1842c8f7-00f3-3c78-b279-d15dc896154f",
                    "type": "PROCESSOR",
                    "groupId": "f5360808-af9e-39b5-b6e4-f71e1ed4c66b",
                    "name": "Dispatch On Request URL",
                    "comments": "",
                    "instanceIdentifier": "6d1f3473-b44c-10b8-7bec-cfb81c9a79f4"
                },
                "destination": {
                    "id": "dfe4acf3-89f2-3474-9ff2-279d8fdaf5b2",
                    "type": "INPUT_PORT",
                    "groupId": "c07e45bb-d97c-33c0-af68-6de36e584fa5",
                    "name": "Update",
                    "comments": "",
                    "instanceIdentifier": "067a24dc-185c-37b5-0c8a-70763b207e13"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "observations-pipeline"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "f5360808-af9e-39b5-b6e4-f71e1ed4c66b"
            },
            {
                "identifier": "d4a4bfc6-23e3-3126-a779-6efe73b9ddcd",
                "instanceIdentifier": "5d2e854c-13d7-3bea-cb70-0f75839b5d62",
                "name": "",
                "source": {
                    "id": "1a348cad-7489-3cbc-9b2a-7972f276a65e",
                    "type": "OUTPUT_PORT",
                    "groupId": "c07e45bb-d97c-33c0-af68-6de36e584fa5",
                    "name": "Send",
                    "comments": "",
                    "instanceIdentifier": "01d9d4d6-c192-3b95-408c-0ff7f3641b29"
                },
                "destination": {
                    "id": "d7dc13db-1f2e-3c3e-891c-54d92a4c180e",
                    "type": "PROCESSOR",
                    "groupId": "f5360808-af9e-39b5-b6e4-f71e1ed4c66b",
                    "name": "Send observation member",
                    "comments": "",
                    "instanceIdentifier": "dfcce117-158f-3ba3-4534-154093671196"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    ""
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "f5360808-af9e-39b5-b6e4-f71e1ed4c66b"
            },
            {
                "identifier": "62719388-85b1-3c73-87da-95109306170e",
                "instanceIdentifier": "6d1f3476-b44c-10b8-f8ca-18f0f76e3624",
                "name": "",
                "source": {
                    "id": "1842c8f7-00f3-3c78-b279-d15dc896154f",
                    "type": "PROCESSOR",
                    "groupId": "f5360808-af9e-39b5-b6e4-f71e1ed4c66b",
                    "name": "Dispatch On Request URL",
                    "comments": "",
                    "instanceIdentifier": "6d1f3473-b44c-10b8-7bec-cfb81c9a79f4"
                },
                "destination": {
                    "id": "5b49d0c1-b81c-33ee-b022-d7a68bbca9df",
                    "type": "FUNNEL",
                    "groupId": "f5360808-af9e-39b5-b6e4-f71e1ed4c66b",
                    "name": "Funnel",
                    "comments": "",
                    "instanceIdentifier": "98a036be-4e50-1e85-8e57-433b507be2dc"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "unmatched"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "f5360808-af9e-39b5-b6e4-f71e1ed4c66b"
            },
            {
                "identifier": "87bfc0e3-a718-3fdd-9fdb-27715110623c",
                "instanceIdentifier": "6d1f3477-b44c-10b8-1c9e-5004755383a4",
                "name": "",
                "source": {
                    "id": "1842c8f7-00f3-3c78-b279-d15dc896154f",
                    "type": "PROCESSOR",
                    "groupId": "f5360808-af9e-39b5-b6e4-f71e1ed4c66b",
                    "name": "Dispatch On Request URL",
                    "comments": "",
                    "instanceIdentifier": "6d1f3473-b44c-10b8-7bec-cfb81c9a79f4"
                },
                "destination": {
                    "id": "fcd73fb4-f525-3df9-82d7-c1faa51d4ead",
                    "type": "INPUT_PORT",
                    "groupId": "df049378-4c60-3278-bdf2-9ab686edad08",
                    "name": "Update",
                    "instanceIdentifier": "e20e2c5c-92ed-3cb1-c69f-0d54170734fe"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "device-models-pipeline"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "f5360808-af9e-39b5-b6e4-f71e1ed4c66b"
            },
            {
                "identifier": "a8d9e1aa-0a83-373a-a018-c65fe06b24c6",
                "instanceIdentifier": "709eb3e6-1cf3-3404-3709-53d0fdb81d55",
                "name": "",
                "source": {
                    "id": "129a07c4-e9fd-3955-b04c-e93d632d3503",
                    "type": "OUTPUT_PORT",
                    "groupId": "172610a5-1039-3595-9e30-b4c7af7460f5",
                    "name": "Send",
                    "instanceIdentifier": "ebdb2214-be1a-34bd-d822-f95e1eb8c913"
                },
                "destination": {
                    "id": "a11cc948-39b3-3292-a092-89f5c45af5ee",
                    "type": "PROCESSOR",
                    "groupId": "f5360808-af9e-39b5-b6e4-f71e1ed4c66b",
                    "name": "Send device member",
                    "comments": "",
                    "instanceIdentifier": "31564c0a-f40b-39c5-f216-a6bbd9401dd5"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    ""
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "f5360808-af9e-39b5-b6e4-f71e1ed4c66b"
            },
            {
                "identifier": "9b88aea1-03a4-393e-9d57-459bcbf9fbc9",
                "instanceIdentifier": "6d1f3475-b44c-10b8-4f86-1fa7f00b153b",
                "name": "",
                "source": {
                    "id": "d6e5b321-b342-36a6-adc3-13aa7fddbe11",
                    "type": "PROCESSOR",
                    "groupId": "f5360808-af9e-39b5-b6e4-f71e1ed4c66b",
                    "name": "ListenHTTP",
                    "comments": "",
                    "instanceIdentifier": "6d1f3472-b44c-10b8-ac27-dd1b1b96d731"
                },
                "destination": {
                    "id": "1842c8f7-00f3-3c78-b279-d15dc896154f",
                    "type": "PROCESSOR",
                    "groupId": "f5360808-af9e-39b5-b6e4-f71e1ed4c66b",
                    "name": "Dispatch On Request URL",
                    "comments": "",
                    "instanceIdentifier": "6d1f3473-b44c-10b8-7bec-cfb81c9a79f4"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "f5360808-af9e-39b5-b6e4-f71e1ed4c66b"
            },
            {
                "identifier": "4c1c9de0-ef5d-3265-817c-08a2a1698abd",
                "instanceIdentifier": "6d1f3478-b44c-10b8-c2e1-a7593159882c",
                "name": "",
                "source": {
                    "id": "1842c8f7-00f3-3c78-b279-d15dc896154f",
                    "type": "PROCESSOR",
                    "groupId": "f5360808-af9e-39b5-b6e4-f71e1ed4c66b",
                    "name": "Dispatch On Request URL",
                    "comments": "",
                    "instanceIdentifier": "6d1f3473-b44c-10b8-7bec-cfb81c9a79f4"
                },
                "destination": {
                    "id": "7b4b02e4-8da3-315a-b69b-d82da2923413",
                    "type": "INPUT_PORT",
                    "groupId": "172610a5-1039-3595-9e30-b4c7af7460f5",
                    "name": "Update",
                    "instanceIdentifier": "1b2baf82-a126-318b-82d4-98a2f10eec16"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "devices-pipeline"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "f5360808-af9e-39b5-b6e4-f71e1ed4c66b"
            },
            {
                "identifier": "5e0637bd-2c49-3a92-9a05-cd47e91e9e68",
                "instanceIdentifier": "21e3546c-7b65-309e-8e75-e6096eb9200b",
                "name": "",
                "source": {
                    "id": "394a365e-163f-3a8e-943f-2379362f5c36",
                    "type": "OUTPUT_PORT",
                    "groupId": "df049378-4c60-3278-bdf2-9ab686edad08",
                    "name": "Send",
                    "instanceIdentifier": "a6c34e19-3464-3eec-b69e-d6c8fce6b570"
                },
                "destination": {
                    "id": "00a4e26a-565d-37e0-bc07-05e80b7d2efb",
                    "type": "PROCESSOR",
                    "groupId": "f5360808-af9e-39b5-b6e4-f71e1ed4c66b",
                    "name": "Send model member",
                    "comments": "",
                    "instanceIdentifier": "8e2cc078-ff3a-314b-6768-563824b9012e"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    ""
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "f5360808-af9e-39b5-b6e4-f71e1ed4c66b"
            }
        ],
        "labels": [],
        "funnels": [
            {
                "identifier": "5b49d0c1-b81c-33ee-b022-d7a68bbca9df",
                "instanceIdentifier": "98a036be-4e50-1e85-8e57-433b507be2dc",
                "position": {
                    "x": 1192.0,
                    "y": 400.0
                },
                "componentType": "FUNNEL",
                "groupIdentifier": "f5360808-af9e-39b5-b6e4-f71e1ed4c66b"
            }
        ],
        "controllerServices": [],
        "variables": {},
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "componentType": "PROCESS_GROUP",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE"
    },
    "externalControllerServices": {},
    "parameterContexts": {},
    "flowEncodingVersion": "1.0",
    "parameterProviders": {},
    "latest": false
}